
<header class="tal-layout-header">
    <div class="tal-layout-header-inner">
        <div class="container">
            <h2 class="h1">
                @ViewBag.Title
            </h2>
            @Html.Raw(ViewBag.HeaderText)
        </div>
    </div>
</header>
