<section class="tal-section-review">


	<header class="tal-layout-header">
		<div class="tal-layout-header-inner">
			<h2 class="h1">
				Review your cover
			</h2>
		</div>
		<div class="tal-layout-header-bgd" style="background-image: url('./client/images/image_bgd02.png');"></div>
	</header>

	<main class="tal-layout-main">

		<p class="h5">Congratulations!</p>
		<p>You're in great health. Based on the information you provided TAL can offer you a policy on the spot.</p>

		<!-- INTEGRATION NOTE: Alternative version
		<div class="tal-feature-block">
			<p class="p--larger">Please call our customer service line on 1300 209 088</p>
			<p>(Mon-Fri 8.00am-7.00pm)</p>
			<button class="tal-btn--secondary" angular-ripple>
					Arrange a callback
			</button>
		</div>
		-->

		<div class="tal-feature-block tal-v-spacing-lg">
			<p class="p--larger">No medicals, no paperwork and a 14 day cooling off period.</p>
		</div>

		<p>
			Taking out a life insurance policy while you're healthy is a great idea because it can be difficult to get cover if medical issues arise later on in life. 
		</p>
		<p>
			By purchasing a policy through TAL you'll be joining 2.5 million Australians who currently have a policy with us. Last year we paid out more than $843 million dollars in claims. 
		<p>
		</p>
			Below you will find a summary of your cover, benefit levels and monthly premiums. If you wish to add or remove cover or see the effect of different cover levels or monthly premiums you can do so below and your quote will be adjusted based on the information you have already supplied. When you have reviewed your cover, click ‘purchase cover’ or save this quote to have the details of this policy emailed to you.
		</p>

		<div class="row tal-v-spacing-lg">
			<div class="col-md-4 col-lg-6">
				<ul class="tal-list-unstyled">
					<li>
						<a href="" class="tal-link--strong">Download your application summary</a>
					</li>
					<li>
						<a href="" class="tal-link--strong">Download Product Disclosure Statement</a>
					</li>
				</ul>
			</div>
			<div class="col-md-8 col-lg-6">
				<form-radio class="tal-form-radio-box tal-form-radio-tile" name="testRadio3" value="opt1" ng-model="data.value2" tal-form-id="radio_button3">
						<h6 class="header">Stepped premium</h6>
						<tal-figure value="158.20" type="review" class="content"></tal-figure>
						<div class="footer"><a href="#" class="tal-link--strong">Learn more</a></div>
				</form-radio>
				<form-radio class="tal-form-radio-box tal-form-radio-tile" name="testRadio3" value="opt2" ng-model="data.value2" tal-form-id="radio_button4">
						<h6 class="header">Level premium</h6>
						<tal-figure value="158.20" type="review" class="content"></tal-figure>
						<div class="footer"><a href="#" class="tal-link--strong">Learn more</a></div>
				</form-radio>
			</div>
		</div>

		<div ng-include="'/client/styleguide/sections/cards/partials/reviewCover.html'"></div>
		<div ng-include="'/client/styleguide/sections/cards/partials/reviewCover.html'"></div>
		<div ng-include="'/client/styleguide/sections/cards/partials/reviewCover.html'"></div>

		<div class="tal-submit-row">
			<div class="tal-submit-row-inner">
				<button class="tal-btn--secondary" angular-ripple>
						Save this quote
				</button>

				<button class="tal-btn--primary" angular-ripple>
						Purchase cover
				</button>
			</div>
		</div>

		<div class="tal-submit-row">
			<div class="tal-submit-row-inner">
				<a href="" class="tal-link--strong">Check my cover</a>
			</div>
		</div>

	</main>

	<aside>
	    <h2>Overall view layput</h2>
	    <p>This layout structure controls the overall responsive behavior, as well as details such as header height and content/header overlap. For details of specific content regions, refer to the markup.</p>
	    <div hljs hljs-language="html" hljs-include="'/client/styleguide/sections/fedReview/fedReviewScaffold.html'"></div>
	</aside>

</section>

<tal-cover-breakdown class="tal-cover-breakdown-footer" tal-cover-breakdown-data="data.breakdown">
	<div class="tal-btn-set">
		<button type="submit" class="tal-btn--secondary" angular-ripple>
			Save application
		</button>
		<div class="tal-hr"><span>OR</span></div>

		<button type="submit" class="tal-btn--primary" angular-ripple>
			Save application
		</button>
	</div>
</tal-cover-breakdown>