<div class="row view-change-cta">
    <span class="col-xs-3 wizard">
        <button type="button" id="btnWizardMode" class="btn btn-fit"
                ng-class="{'active': ctrl.mode === 'wizard'}"
                ng-click="ctrl.setView('wizard')">
            Wizard View
        </button>
    </span>
    <span class="col-xs-3 tree">
        <button type="button" id="btnTreeMode" class="btn btn-fit"
                ng-class="{'active': ctrl.mode === 'tree'}"
                ng-click="ctrl.setView('tree')">
            Tree View
        </button>
    </span>
</div>
<hr />
<div ng-show="ctrl.mode === 'wizard'" id="underwritingWizard" class="form-section risk-underwriting-wizard-section" cg-busy="loadingPromise" read-only-form="readOnly">
    <div class="container-fluid">
        <div class="tal-underwriting">
            <div class="question-container tal-card"
                 cg-busy="ctrl.loadingPromise"
                 data-questions-count="{{ctrl.underwriting.questions.length}}">

                <div ng-if="!ctrl.endOfQuestions" class="end-of-questions">
                    <button type="button" class="btn" ng-click="ctrl.goToBeginning()" ng-disabled="ctrl.currentQuestionIndex === 0">Go to beginning</button>
                    <button type="button" class="btn" ng-click="ctrl.goToNextUnanswered()" ng-disabled="ctrl.getProgress() >= 100">Go to next unanswered</button>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" style="width: {{ctrl.getProgress()}}%;">

                    </div>
                </div>

                <div class="">



                    <tal-question ng-repeat="question in ctrl.underwriting.questions"
                                  data-question-index="{{$index}}"
                                  ng-if="ctrl.currentQuestionIndex === $index"
                                  question="question"
                                  on-question-answered="ctrl.onQuestionAnswered(question)"
                                  read-only="ctrl.readOnly">
                    </tal-question>

                    <div ng-if="ctrl.endOfQuestions" class="end-of-questions">
                        <h2>All questions have been answered</h2>
                        <p>Select 'Previous question' to see or alter your answers.</p>

                    </div>

                </div>
                <div class="underwriting-toolbar">

                    <div class="tal-pagination-bar row">
                        <span class="col-xs-4">
                            <button type="button" id="previousQuestion" href="" class="tal-link-arrow-left btn"
                                    ng-show="ctrl.showPreviousButton()"
                                    ng-class="{'is-disabled': ctrl.disableUtilityButtons}"
                                    ng-click="ctrl.moveToPreviousQuestion()">
                                Previous question
                            </button>
                        </span>
                        <span class="col-xs-4 text-center">
                            <button type="button" id="needHelp"
                                    href=""
                                    class="tal-link-icon-before btn"
                                    ng-class="{'is-disabled': ctrl.disableUtilityButtons}"
                                    ng-show="ctrl.currentQuestionHasHelpText()"
                                    ng-click="ctrl.showHelp()">
                                More information about this question
                            </button>
                        </span>
                        <span class="col-xs-4 text-right">
                            <button type="button" id="nextQuestion" href="" class="tal-link-arrow-right btn"
                                    ng-show="ctrl.showNextButton()"
                                    ng-class="{'is-disabled': ctrl.disableUtilityButtons}"
                                    ng-click="ctrl.moveToNextQuestion()">
                                Next question
                            </button>
                        </span>
                    </div>

                </div>
            </div>


            
        </div>

    </div>
</div>

<div ng-show="ctrl.mode === 'tree'" id="phoenixUi">
    <tal-talus-ui quote-reference-number="ctrl.quoteReferenceNumber" risk="ctrl.risk" section="ctrl.section" on-activation="ctrl.talusUiActivation" sync-interview-call-back="ctrl.syncInterview">
    </tal-talus-ui>
</div>