<article>
	<header>
		<h2 class="h1">Form components</h2>
	</header>

	<section class="sg__card">
		<header class="sg__card__header">
			<h3>Search input</h3>
		</header>

		<div class="sg__family">
			<h4 class="h6">
				Mode: Multiple options may be selected
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="search1"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/search.html'">
			</tal-documentation>
		</div>
		
		<div class="sg__family">
			<h4 class="h6">
				Mode: Only one option can be selected
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="search2"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/search.html'">
			</tal-documentation>
		</div>
	</section>


	<section class="sg__card">
		<header class="sg__card__header">
			<h3>Basic input</h3>
		</header>

		<div class="sg__family">
			<h4 class="h6">
				Basic
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="field"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/basicField.html'">
			</tal-documentation>
		</div>	
	
		<div class="sg__family">
			<h4 class="h6">
				Compact input
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="field"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/compactInput.html'">
			</tal-documentation>
		</div>

		<div class="sg__family">
			<h4 class="h6">
				Long input
			</h4>
			<tal-documentation	
				index="data.index"	
				tal-cq	
				data="field"	
				tal-documentation-path="'/client/styleguide/sections/forms/partials/longBasicField.html'">
			</tal-documentation>
		</div>

		<div class="sg__family">
			<h4 class="h6">
				Currency input
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="field"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/moneyField.html'">
			</tal-documentation>
		</div>

		<div class="sg__family">
			<h4 class="h6">
				DOB input
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="dob"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/dateOfBirthField.html'">
			</tal-documentation>
		</div>
	</section>

	<section class="sg__card">
		<header class="sg__card__header">
			<h3>Select menus</h3>
		</header>

		<div class="sg__family">
			<h4 class="h6">
				Standard select
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="select"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/selectField.html'">
			</tal-documentation>
		</div>

		<div class="sg__family">
			<h4 class="h6">
				Premium select
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="select"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/selectFieldTextfield.html'">
			</tal-documentation>
		</div>

		<div class="sg__family">
			<h4 class="h6">
				Premium select with inline help
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="select"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/selectFieldTextfieldHelp.html'">
			</tal-documentation>
		</div>
	</section>

	<section class="sg__card">
		<header class="sg__card__header">
			<h3>Radios</h3>
		</header>

		<div class="sg__family">
			<h4 class="h6">
				Standard radio
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="radio"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/radioField.html'">
			</tal-documentation>
		</div>

		<div class="sg__family">
			<h4 class="h6">
				Button radio
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="radio"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/radioButtonField.html'">
			</tal-documentation>
		</div>

		<div class="sg__family">
			<h4 class="h6">
				Box radio
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="radio"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/radioBox.html'">
			</tal-documentation>
		</div>
	</section>

	<section class="sg__card">
		<header class="sg__card__header">
			<h3>Checkboxes</h3>
		</header>

		<div class="sg__family">
			<h4 class="h6">
				Standard checkbox
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="checkbox"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/checkboxField.html'">
			</tal-documentation>
		</div>

		<div class="sg__family">
			<h4 class="h6">
				Ticked checkbox
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="checkbox"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/boxedCheckboxField.html'">
			</tal-documentation>
		</div>

		<div class="sg__family">
			<h4 class="h6">
				Button checkbox
			</h4>
			<tal-documentation
				index="data.index"
				tal-cq
				data="checkbox"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/checkboxButtonField.html'">
			</tal-documentation>
		</div>

		<div class="sg__family">
			<h4 class="h6">
				Solid checkbox - dashed
			</h4>
			<p><span class="sg-depricated">Deprecated</span></p>
			<tal-documentation
				index="data.index"
				tal-cq
				data="checkbox"
				tal-documentation-path="'/client/styleguide/sections/forms/partials/checkboxDashedField.html'">	
			</tal-documentation>
		</div>

		<div class="sg__family">
			<h4 class="h6">
				Checkbox with tooltip
			</h4>
			<div class="row">
				<form-checkbox
					tal-id="checkbox31"
					tal-tooltip="This is the content of my tooltip"
					tal-name="checkbox31"
					class="tal-form-checkbox col-sm-4"
					ng-model="checkbox.myFlag">
					My label
				</form-checkbox>
			</div>
			<div class="row">
				<form-checkbox
					tal-tooltip="This is the content of my tooltip"
					tal-name="checkbox23"
					class="tal-form-checkbox col-sm-4"
					ng-model="checkbox.myFlag"
					tal-id="checkbox32"
					disabled="disabled">
					My label
				</form-checkbox>
			</div>
		</div>
	</section>

	<section class="sg__card">
		<header class="sg__card__header">
			<h3>Tooltips</h3>
		</header>
		<tal-documentation
			index="data.index"
			tal-cq
			tal-documentation-path="'/client/styleguide/sections/forms/partials/tooltip.html'">
		</tal-documentation>
	</section>

	<section class="sg__card">
		<header class="sg__card__header">
			<h3>Switches</h3>
		</header>
		<tal-documentation
			index="data.index"
			tal-cq
			data="mySwitch"
			tal-documentation-path="'/client/styleguide/sections/forms/partials/switchField.html'">
		</tal-documentation>
	</section>
</article>