<uib-accordion close-others="false" class="form-panel" ng-form="policyRiderEdit" read-only-form="planRider.planDisabled">
    <uib-accordion-group class="accordion-group-padding" is-open="planRider.open" id="{{planRider.code + 'Accordion'}}">
        <uib-accordion-heading class="owner-edit panel-heading">
            <div ng-form="riderEdit" class="rider-edit"  read-only-form="planRider.planDisabled">
                <div class="col-md-1"><i class="fa fa-lg minimise" ng-class="{'fa-minus-square': planRider.open, 'fa-plus-square': !planRider.open}"></i></div>
                <div class="col-md-11 form-group rider-select-form" show-errors>
                        <input id="{{planRider.code + 'Selected'}}" type="checkbox" tal-input-propagation class="rider-select form-control"
                               ng-model="planRider.selected" ng-click="coverHasChanged(planRider.selected)"
                               name="riderSelected" tal-server-validate="{{riderSelectValidationModel}}"/>
                        <label for="{{planRider.code + 'Selected'}}" class="rider-title">
                            <span ng-bind="planRider.name"></span> <span ng-bind="planRider.planType"></span>
                            <span class="fa fa-info-circle info-icon"></span>
                        </label>
                </div>
            </div>
        </uib-accordion-heading>
        <tal-form-error ng-form-model="riderEdit.riderSelected"></tal-form-error>
        <div class="panel-body cover" ng-show="planRider.open">
            <div class="row">
                <div class="col-md-12 rider-warnings">
                    <input type="hidden" name="warnings" ng-model="stuff" tal-server-validate="{{planRider.code.toLowerCase()}}" />
                    <tal-form-error ng-form-model="policyRiderEdit.warnings"></tal-form-error>
                    <p class="tal-form-error" ng-show="!planRider.eligibleForPlan" ng-repeat="message in planRider.ineligibleReasons" ng-bind="message"></p>
                </div>
                <div class="col-md-5">
                    <div class="form-group row">
                        <label class="col-xs-1 form-label-text-extra">Premium: </label>
                        <div class="col-xs-8 form-content-text" id="{{planRider.code + 'PlanPremium'}}">
                            <tal-plan-premium premium="planRider.premium" premium-frequency="premiumFrequency"></tal-plan-premium>
                            <span ng-show="!planRider.premium">$0.00</span>
                        </div>
                    </div>
                    <div class="form-group row" show-errors tal-inline-submit="coverAmountChanged()">
                        <div class="col-sm-12 add-on-gap">
                            <label class="control-label col-sm-4 form-label form-label-text">Sum Insured</label>
                            <div class="input-group  col-sm-8">
                                <span class="input-group-addon white">$</span>
                                <input id="{{planRider.code + 'PlanSumInsuredInput'}}" type="tel" tal-currency-format
                                       name="coverAmount"
                                       ng-model="planRider.coverAmount"
                                       class="form-control input-text"
                                       maxlength="11"
                                       tal-server-validate="{{coverAmountValidationModel}}">
                            </div>
                            <tal-form-error ng-form-model="policyRiderEdit.coverAmount"></tal-form-error>
                            <tal-server-form-warning warning-key="coverAmountValidationModel"></tal-server-form-warning>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group row">
                        <div class="col-xs-5">
                            <div ng-repeat="cover in planRider.covers">
                                <tal-cover-select plan-model="planRider" cover-has-changed="coverHasChanged()" plan-index="planIndex" cover-index="$index" cover-model="cover" availability="availability" is-rider="true"></tal-cover-select>
                            </div>
                        </div>
                        <div class="col-xs-7 add-top-gap160">
                            <div ng-repeat="option in planRider.options">
                                <tal-rider-option-select plan-model="planRider" option-has-changed="optionHasChanged()" plan-index="planIndex" option-index="$index" option-model="option" availability="availability"></tal-rider-option-select>
                            </div>
                            <tal-plan-variables available-definitions="availableDefinitions" rider-variables="true" update-plan="updatePlan()" plan-detail="planRider"></tal-plan-variables>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion-group>
</uib-accordion>
