<label
	class="vh" 
	for="{{ctrl.id}}_day">
	Day
</label>
<input
	type="text"
	id="{{ctrl.id}}_day"
	name="{{ctrl.name}}_day"
	class="form_dob_input form_dob_day"
	ng-model="ctrl.day">
<span class="form_dob_separator">/</span>
<label
	class="vh"
	for="{{ctrl.id}}_month">
	Month
</label>
<input
	type="text"
	id="{{ctrl.id}}_month"
	name="{{ctrl.name}}_month"
	class="form_dob_input form_dob_month" 
	ng-model="ctrl.month">
<span class="form_dob_separator">/</span>
<label
	class="vh"
	for="{{ctrl.id}}_year">
	Year
</label>
<input
	type="text"
	id="{{ctrl.id}}_year"
	name="{{ctrl.name}}_year"
	class="form_dob_input form_dob_year"
	ng-model="ctrl.year">
