@using TAL.QuoteAndApply.Infrastructure.Extensions
@model TAL.QuoteAndApply.SalesPortal.Web.Models.View.EditPolicyInitViewModel


@{
    ViewBag.Title = "Edit Policy";
    Layout = "../Shared/_WideLayout.cshtml";
}

<div class="edit-policy-page">
    <tal-policy-edit quote-number="@Model.QuoteReferenceNumber" quote-edit-source="@Model.QuoteEditSource.ToString()"
                      external-ref-required="@(((bool)(Model.BrandSettingsViewModel.ExternalCustomerRefRequired)).ToJson())"
                  external-ref-label ="@Model.BrandSettingsViewModel.ExternalCustomerRefLabel"></tal-policy-edit>
</div>
