<div class="select-cover "
     ng-intro-options="ctrl.intro.introOptions"
     ng-intro-method="ctrl.intro.startTour"
     ng-intro-oncomplete="ctrl.intro.onCompletedEvent"
     ng-intro-onexit="ctrl.intro.onExitEvent"
     ng-intro-onchange="ctrl.intro.onChangeEvent"
     ng-intro-onbeforechange="ctrl.intro.onBeforeChangeEvent"
     ng-intro-onafterchange="ctrl.intro.onAfterChangeEvent"
     ng-intro-autostart="ctrl.intro.shouldAutoStart">

    <section ng-if="ctrl.showUseCalcResultsConfirm" class="use-calc-results-confirm" cg-busy="ctrl.applyCalcResultsPromise">
        <tal-major-notification
          cta-text="Yes, use my results"
          on-cta-action="ctrl.onConfirmUseCalcResults"
          on-dismiss="ctrl.onDismissUseCalcResults">
          <h4 class="hi">Hi there</h4>
          <p class="text">We notice you previously used the cover calculator tool. Would you like to use the results from that calculation?</p>
        </tal-major-notification>
    </section>

    <form name="coverSelectionForm" novalidate>
        <div class="row tal-select-product-wrapper">
            <tal-card loading-promise="ctrl.loadingPromise"
                      cg-busy="ctrl.loadingPromise"
                      ng-class="plan.presentation.cssClass"
                      class="cb-{{plan.planCode}}"
                      ng-repeat="plan in ctrl.plans"
                      ng-model="plan"
                      ng-show="!plan.isBundled"
                      attach-plan="ctrl.attachPlan(plan.planCode)">
                <tal-cover-product ng-class="{'tal-cover-product-off':!plan.isSelected}">

                    <div class="tal-cover-product tal-cover-product-blue">
                        <tal-card-header tal-cover-product-header product-is-on="plan.isSelected"
                                         availability="plan.availability" product-value="plan.totalPremium"
                                         payment-frequency-per="ctrl.paymentFrequencyPer"
                                         state-change="$parent.ctrl.stateChange(plan)" ng-class="{'is-off': !plan.isOn}">
                            <h3><span ng-repeat="title in plan.presentation.planTitles track by $index"
                                      ng-bind-html="title"></span></h3>
                            <p class="tal-cover-product-link">
                                <a class="tal-link" href="#" ng-bind-html="plan.presentation.learnMore" ng-click="ctrl.displayLearnMoreDialog(plan)">Learn more about (CI) Cover</a>
                            </p>
                        </tal-card-header>

                        <div class="tal-cover-product-content" ng-show="plan.isSelected" ng-class="{'is-off': !plan.isOn}">
                            <div>
                                <label ng-bind="plan.presentation.coverAmountLabel"></label>
                            </div>
                            <div>
                                <form-select-textfield name="{{plan.planCode.toLowerCase()}}cm"
                                                       tal-server-validate="{{plan.planCode.toLowerCase()}}CoverAmount"
                                                       tal-name="{{plan.planCode.toLowerCase()}}CoverAmount"
                                                       tal-id="{{plan.planCode.toLowerCase()}}CoverAmount"
                                                       placeholder="select a value" ng-model="plan.selectedCoverAmount"
                                                       form-select-items="plan.presentation.coverAmounts"
                                                       inline-help-text="{{plan.presentation.paymentFrequencyText}}"
                                                       state-change="ctrl.stateChange(plan)">
                                </form-select-textfield>
                                <tal-form-input-error
                                        show-server-error-for="coverSelectionForm[plan.planCode.toLowerCase()+'cm']"></tal-form-input-error>
                            </div>
                            <div class="tal-btn-set">
                                <a tal-name="coveroptions-{{plan.planCode}}" tal-id="coveroptions-{{plan.planCode}}"
                                   href="#" class="tal-btn--secondary" ng-disabled="coverSelectionForm.$invalid"
                                   ng-bind-html="plan.presentation.coversButton" ng-click="ctrl.selectCovers(plan)"
                                   tal-cq></a>
                            </div>
                            <div class="clearfix rider rider-{{rider.planCode}}" ng-repeat="rider in plan.riders"
                                 ng-show="rider.isSelected">
                                <div class="col-md-8">
                                    <form-checkbox tal-name="detach-{{rider.planCode}}"
                                                   tal-id="detach-{{rider.planCode}}"
                                                   disabled="disabled"
                                                   state-change="$parent.ctrl.detachPlan(rider.planCode)"
                                                   class="tal-form-checkbox" ng-model="rider.isSelected">Bundled
                                        {{rider.coverTitle}}:
                                    </form-checkbox>
                                    <form-select-textfield ng-if="rider.isSelected"
                                                           name="{{rider.planCode.toLowerCase()}}cm"
                                                           tal-server-validate="{{rider.planCode.toLowerCase()}}CoverAmount"
                                                           tal-name="{{rider.planCode.toLowerCase()}}CoverAmount"
                                                           tal-id="{{rider.planCode.toLowerCase()}}CoverAmount"
                                                           placeholder="select a value"
                                                           ng-model="rider.selectedCoverAmount"
                                                           form-select-items="plan.presentation.coverAmounts"
                                                           state-change="ctrl.stateChange(plan)">
                                    </form-select-textfield>
                                    <tal-form-input-error
                                            show-server-error-for="coverSelectionForm[rider.planCode.toLowerCase()+'cm']"></tal-form-input-error>
                                </div>
                                <div class="col-md-4">
                                    <tal-figure value="rider.premium" period="ctrl.paymentFrequencyPer" type="review"></tal-figure>
                                </div>
                            </div>

                            <!-- TODO: bundling option was here, see git history if you need to re-implement -->

                        </div>
                    </div>
                </tal-cover-product>
                <div class="tal-cover-product-content" ng-show="!plan.isSelected">
                    <div ng-if="plan.availability.isAvailable">
                        <p>Want to include <span ng-bind-html="plan.presentation.planTitle"></span>?
                        </p>
                        <p><span ng-bind-html="plan.presentation.whenOffDescriptionForSelectCover"></span></p>
                    </div>
                    <div ng-if="!plan.availability.isAvailable">
                        <p>
                            <span>
                                Please call us on&nbsp;<tal-phone-number-link></tal-phone-number-link><br>
                                <tal-chat-to-agent-link chat-availability="ctrl.chatAvailability" prefix="or" suffix="to a specialist">chat</tal-chat-to-agent-link>
                            </span>
                            <span ng-bind-html="plan.presentation.inEligibleReason"></span>
                        </p>
                        <p ng-repeat="reason in plan.availability.unavailableReasons" ng-bind="reason"></p>
                    </div>
                </div>
            </tal-card>
        </div>
        <div class="row cta-footer">
            <div class="col-md-9 cta-content">
                <div class="row" ng-if="ctrl.showHelpMeChooseText">
                    <p>
                        We've used your answers to configure your initial quote.  You can edit these settings or simply confirm your cover to continue the application.
                        You'll also have another opportunity to review these settings before purchase.
                    </p>
                </div>
                <div class="row">
                    <p>Select the cover that best suits you. If you can't decide, select <a href="/NeedsAnalysis#/help/" class="tal-link--strong">Help me choose</a></p>
                </div>
                <div class="row cover-calculator-link-container" ng-if="ctrl.isCoverCalculatorEnabled">
                    <p>Use our <a href="" class="tal-link--strong" ng-click="ctrl.startCalculator()">cover calculator</a> to calculate how much cover you need.</p>
                </div>
            </div>
            <div class="col-md-3 cta-container">
                <button id="confirmCover" ng-click="ctrl.validate()" ng-disabled="coverSelectionForm.$invalid" class="tal-btn--primary tal-btn--major" angular-ripple>Confirm Cover</button>
                <div class="row text-center">
                    <a class="tal-link--strong" ng-click="ctrl.intro.startTour()">Get Help</a>
                </div>
                <span class="error form-error" ng-if="ctrl.submissionErrorMessage" ng-bind="ctrl.submissionErrorMessage"></span>
            </div>
        </div>
    </form>
    

    <tal-cover-calculator start-calc-fn="ctrl.startCalculator" use-results="ctrl.useCalcResults(calcResults)"></tal-cover-calculator>
</div>