<!---cover selection tabs--->
<form class="policyForm-insurance-plan" cg-busy="[updatingPromise, loadingPromise]" name="policyForm" ng-submit="submit()" novalidate>
    <div class="container-fluid">
        <tal-form-updating-indicator promise="updatingPromise"></tal-form-updating-indicator>
    </div>

    <div class="row">
        <div class="col-md-5">
            <tal-premium-frequency quote-reference-number="quoteReferenceNumber" updating-promise="updatingPromise" section-in-error="section.states.error" read-only="readOnly"></tal-premium-frequency>
        </div>
    </div>

    <div id="insurance-plan" class="form-section insurance-plan" ng-form="policyOwnerEditForm" ng-show="section.open">
        <input type="hidden" ng-model="plans.plan.selected" tal-server-validate="plans.plan.selected" name="selectPolicy"/>
        <uib-tabset justified="true">
            <uib-tab ng-repeat="plan in plans" id="{{plan.code + 'PlanTab'}}" class="{{applyPlanStateStyle(plan)}}" active="plan.active" ng-switch on="plan.name" ng-click="planTabClicked(plan)">
                <uib-tab-heading>
                    <label class="plan-tab">
                        <input id="{{plan.code + 'PlanCheck'}}" checked="plan.selected" active-plan="activePlan" ng-model="plan.selected" type="checkbox" ng-change="planTabCheckboxClicked(activePlan)" ng-disabled="plan.planDisabled" tal-input-propagation/>{{plan.shortName}}
                    </label>
                    <tal-plan-premium ng-show="plan.selected" premium="plan.premiumIncludingRiders" premium-frequency="plan.premiumFrequency"></tal-plan-premium>
                    <p class="ineligible-plan-tab-error" ng-show="!plan.eligibleForPlan" ng-repeat="message in plan.ineligibleReasons" ng-bind="message"></p>
                </uib-tab-heading>
            </uib-tab>
            <div class="plan-container" ng-repeat="plan in plans" ng-show="plan.active">
                <tal-plan-edit update-plan="submitPlanNow(plan)"
                               plan-detail="plan"
                               plan-list="plans"
                               quote-reference-number="quoteReferenceNumber" 
                               risk-id="risk.riskId"
                               plan-index="$index"
                               available-definitions="availableDefinitions"
                               availability="availability"></tal-plan-edit>
            </div>
        </uib-tabset>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <tal-form-error class="has-error help-block" ng-form-model="policyOwnerEditForm.selectPolicy"></tal-form-error>
                </div>
            </div>
        </div>
    </div>
</form>
