<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <httpCookies xdt:Transform="SetAttributes" requireSSL="true" httpOnlyCookies="true" />
  </system.web>

  <appSettings>
    <add key="TransformTest.EnvironmentSpecific" value="TAL.Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="AllowOverrideParameter" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Analytics.AdobeTagManagerScriptUrl" value="//assets.adobedtm.com/5a1c93c69f586d7376f09e38bbf675d2da556ddb/satelliteLib-2739c446e8feefe3c4069deaefe7d901d267357f.js" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Analytics.BaseUrl" value="//www.tal.com.au/bundle/beacon" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Angular.DebugEnabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Chat.WebChatUrl" value="https://livechat.coverbuilder.tal.com.au/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailConfiguration.DefaultSenderEmailAddress" value="no-reply@tal.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailConfiguration.EmailImageDomain" value="https://www.tal.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://www.tal.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <talCreditCardTokenisationServiceConfiguration>
    <add key="ServiceBaseUrl" value="https://syd.tokenisation.tal.lan/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="Thumbprint" value="fb91ee79d4bb811564137d85e68649b0f20ffbb4" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="IdentityUser" value="tokenArmstrong"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </talCreditCardTokenisationServiceConfiguration>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.tower.lan" port="25" defaultCredentials="true" xdt:Transform="Replace"/>
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
