<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <add key="TransformTest.EnvironmentSpecific" value="YELLOWBRAND.QA101" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Analytics.AdobeTagManagerScriptUrl" value="//assets.adobedtm.com/5a1c93c69f586d7376f09e38bbf675d2da556ddb/satelliteLib-2739c446e8feefe3c4069deaefe7d901d267357f-staging.js" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Google.IsCaptchaEnabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

</configuration>
