<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
  </system.web>
  
  <appSettings>
    <add key="TransformTest.BrandSpecific" value="TAL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Google.IsCaptchaEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailConfiguration.EmailImageDomain" value="http://auth.tal.com.au" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailConfiguration.LiveCustomerPortalPdsUrl" value="https://www.tal.com.au/lifetimeprotection-pds" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="https://tal-qa1.delivery.lan" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <file value="C:\\Logs\\TAL.QuoteAndApply.Customer.TAL.#{EnvironmentName}.txt" xdt:Transform="Replace"/>
    </appender>
  </log4net>
</configuration>
