<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="talCreditCardTokenisationServiceConfiguration" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>
  <talCreditCardTokenisationServiceConfiguration>
    <add key="IdentityUser" value="TODO" />
    <add key="SourceSystemCode" value="TODO" />
    <add key="ServiceBaseUrl" value="https://sys.Tokenisation.tal.lan/" />
    <add key="Thumbprint" value="082d7b0625f2d220fde5693424b1d9dc7aa7384a" />
  </talCreditCardTokenisationServiceConfiguration>
</configuration>