<div class="tal-form-select" ng-class="{'is-custom':ctrl.isCustom}" >
	<input 
		name="{{ctrl.name}}"
		id="{{ctrl.id}}"
		type="text"
		ng-model="ctrl.ngModel"
		placeholder="{{ctrl.placeholder}}"
		tal-currency-format whole-numbers-only="true"
		ng-blur="ctrl.valueChanged()"
        maxlength="9"
        class="tal-form-select-custom-input"
	/>

	<select
		name="{{ctrl.name}}-select"
		id="{{ctrl.id}}-select"
		class="tal-form-select-custom-select"
		ng-model="ctrl.selection"
		ng-options="item as (item | dollarsDropdown:'custom':2) for item in ctrl.formItems">

		<option
			ng-if="!ctrl.selection"
			value=""
			disabled selected>
			{{ctrl.placeholder}}
		</option>
	</select>

	<span
		class="tal-form-select-inline-help"
		ng-if ="ctrl.inlineHelpText"
		ng-bind="ctrl.inlineHelpText">
	</span>

	<span class="tal-form-select-icon" aria-hidden="true"></span>
</div>