<div class="tal-dob-with-age" ng-form="dobWithAgeForm" read-only-form="readOnly">
    <div class="form-group" show-errors tal-inline-submit="inlineSubmit()" disable-inline-submit="{{noInlineSubmit}}">
        <label class="control-label" ng-bind="label"></label>

        <div class="dob-container row">
            <span class="col-xs-6">
                <input type="tel" class="form-control date-of-birth-input"
                       ng-model="dataValue.dob"
                       name="dateOfBirth"
                       ui-mask="99/99/9999"
                       ng-change="updateModel()"
                       ng-blur="calculateAge()"
                       placeholder="DD/MM/YYYY"
                       tal-server-validate="{{serverValidate}}">
            </span>
            <span class="col-xs-6">
                <span class="age" ng-bind="ageMessage"></span>
            </span>
        </div>
        <tal-form-warning warnings="warnings"></tal-form-warning>
        <tal-form-error ng-form-model="dobWithAgeForm.dateOfBirth"></tal-form-error>
    </div>
</div>
