@using TAL.QuoteAndApply.Analytics.Models

@{
    ViewBag.Title = "Help me choose";
    ViewBag.AppName = "NeedsAnalysis";
    ViewBag.HideSaveButton = true;
    ViewBag.HideQuotePremium = "true";
    ViewBag.HideQuoteReference = "true";
    ViewBag.hideNavigation = "true";
    ViewBag.HideMobileNavigation = "true";
    ViewBag.StepIndex = 0;
    ViewBag.PageCssClass = "page-needs-analysis";
}

@section Analytics
{
    @{
        Html.RenderAction("Header", "Analytics", new { model = new AnalyticsPageModel("NeedsAnalysisPage", ViewBag.Title, "Quote", DateTime.Now, DateTime.Now) });
    }
}

<section class="tal-section-needs-analysis">
    @{
        Html.RenderPartial("~/Views/Shared/_PageHeader.cshtml");
    }
    <div class="container">
        <main class="tal-layout-main row">
            <!-- NeedsAnalysis uses ng routing, look in appNeedsAnalysis.js for view setup -->
            <div ui-view></div>
        </main>
    </div>
</section>

@section scripts{
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
            async defer></script>
}


