<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="brandSettings" type="TAL.QuoteAndApply.SalesPortal.Web.Configuration.BrandSettingsConfigurationSection, TAL.QuoteAndApply.SalesPortal.Web, Version=1.0.0.0, Culture=neutral"/>
  </configSections>
  <appSettings>
    <add key="UserRoles.Domain" value="TOWER" />
  </appSettings>
  <brandSettings>
    <brands>
      <brand key="TAL" enabled="true">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter_QA" agentGroup=".uTalConsumerAgent_QA" readOnlyGroup=".uTalConsumerReadOnly_QA" />
      </brand>
      <brand key="YB" enabled="true">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter_QA" agentGroup=". uYbConsumerAgent _QA" readOnlyGroup=".uYbConsumerReadOnly_QA" />
      </brand>
      <brand key="QA" enabled="true">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter_QA" agentGroup=".uQantasConsumerAgent_QA" readOnlyGroup=".uQantasConsumerReadOnly_QA" />
      </brand>
    </brands>
  </brandSettings>
</configuration>