<div class="tal-single-auto-complete-list-question">

    <tal-chips collection="ctrl.question.answers"
               ng-model="ctrl.selectedAnswers"
               tal-title="text"
               class="center"
               unique="::true"
               input-type="tel"
               single-only="::true"></tal-chips>

    <div class="text-center underwriting-toolbar">
        <button type="button" class="tal-btn--primary" ng-disabled="ctrl.continueDisabled()"
                ng-click="ctrl.onContinueClick()">Continue
        </button>
    </div>

</div>
