<div class="tal-form-error" ng-if="ngFormModel.$error.server">
    <span class="help-block">
        <i class="fa fa-exclamation-triangle"></i>
        <span ng-bind="ngFormModel.$error.server"></span>
    </span>
</div>
<div class="tal-form-error" ng-if="validationError">
    <span class="help-block">
        <i class="fa fa-exclamation-triangle"></i> 
        <span ng-bind="validationError"></span>
    </span>
</div>
<div class="tal-form-warning form-warning"
     ng-if="ngFormModel.talWarnings && !ngFormModel.$error.server"
     ng-repeat="warning in ngFormModel.talWarnings">
    <i class="fa fa-info-circle"></i> <span ng-bind="warning"></span>
</div>
