<div class="tal-question" ng-class="{'icon-question': ctrl.question.questionType === 'SportIcons'}">
    <div ng-hide="ctrl.isShowingHelp()">
        <div class="question-context" ng-if="ctrl.question.context">{{ctrl.question.context}}</div>
        <div class="question-text" ng-bind-html="ctrl.question.text"></div>
        <div class="answer-control-container" ng-switch="ctrl.question.questionType">
            <!-- TODO: refactor on-question-answered attribute so don't have to keep passing into component (chuck into service) -->

            <tal-date-of-birth-question question="ctrl.question"
                                        ng-switch-when="DateOfBirth"
                                        on-question-answered="ctrl.onQuestionAnswered()"
                                        read-only="ctrl.readOnly"></tal-date-of-birth-question>

            <tal-currency-question question="ctrl.question"
                                   ng-switch-when="Currency"
                                   on-question-answered="ctrl.onQuestionAnswered()"
                                   read-only="ctrl.readOnly"></tal-currency-question>

            <tal-single-select-question question="ctrl.question"
                                        ng-switch-when="SingleSelect"
                                        on-question-answered="ctrl.onQuestionAnswered()"
                                        read-only="ctrl.readOnly"></tal-single-select-question>

            <tal-single-select-list-question question="ctrl.question"
                                             ng-switch-when="SingleSelectList"
                                             on-question-answered="ctrl.onQuestionAnswered()"
                                             read-only="ctrl.readOnly"></tal-single-select-list-question>

            <tal-single-select-list-question question="ctrl.question"
                                                      ng-switch-when="SingleSelectAutoComplete"
                                             on-question-answered="ctrl.onQuestionAnswered()"
                                             read-only="ctrl.readOnly"></tal-single-select-list-question>

            <tal-single-select-list-question question="ctrl.question"
                                              ng-switch-when="SingleSelectIcons"
                                             on-question-answered="ctrl.onQuestionAnswered()"
                                             read-only="ctrl.readOnly"></tal-single-select-list-question>

            <tal-multi-select-question question="ctrl.question"
                                       ng-switch-when="MultiSelect"
                                       on-question-answered="ctrl.onQuestionAnswered()"
                                       read-only="ctrl.readOnly"></tal-multi-select-question>

            <tal-multi-select-question question="ctrl.question"
                                                           ng-switch-when="SportIcons"
                                       on-question-answered="ctrl.onQuestionAnswered()"
                                       read-only="ctrl.readOnly">
            </tal-multi-select-question>

            <tal-multi-select-question question="ctrl.question"
                                                     ng-switch-when="MultiSelectAutoComplete"
                                       on-question-answered="ctrl.onQuestionAnswered()"
                                       read-only="ctrl.readOnly"></tal-multi-select-question>

            <tal-multi-select-question question="ctrl.question"
                                                  ng-switch-when="MultiSelectCheckBoxes"
                                       on-question-answered="ctrl.onQuestionAnswered()"
                                       read-only="ctrl.readOnly"></tal-multi-select-question>

            <tal-unsupported-question question="ctrl.question"
                                      ng-switch-when="Unsupported"
                                      on-question-answered="ctrl.onQuestionAnswered()"
                                      read-only="ctrl.readOnly"></tal-unsupported-question>

            <tal-unsupported-question question="ctrl.question"
                                      ng-switch-default
                                      on-question-answered="ctrl.onQuestionAnswered()"
                                      read-only="ctrl.readOnly"></tal-unsupported-question>
        </div>
    </div>
    <div ng-show="ctrl.isShowingHelp()" class="question-help-text">
        <span ng-bind-html="ctrl.question.helpText"></span>

        <div class="text-center help-text-actions">
            <button type="button" class="btn btn-secondary tal-btn--secondary" ng-click="ctrl.closeHelp()">
                Got it
            </button>
        </div>
    </div>
</div>
