<div class="tal-cover-breakdown inverse-colors" ng-slide-down="coverExpanded" lazy-render duration="0.5">
  <div class="tal-cover-breakdown-inner">
    <h2>Cover Breakdown</h2>
    <ul class="tal-list-label-value">
      <li ng-repeat="cover in talCoverBreakdownData">
        <span class="label">{{cover.label}}</span>
        <span class="value">
          <tal-figure value="cover.value" type="inline"  period="period"></tal-figure>
        </span>
      </li>
    </ul>
    <div ng-transclude>
      
    </div>
  </div>
</div>
<div class="tal-cover-summary inverse-colors">
  <div class="tal-cover-summary-content">
    <tal-figure value="total" type="total" period="period"></tal-figure>
  </div>
  <a href="" class="tal-cover-trigger" ng-click="coverExpanded = !coverExpanded">
    Details
  </a>
</div>