<div class="tal-payment-section">
    <h2>Secure payment</h2>
    <p>Please note, if you would like to use your Self-Managed Super Fund (SMSF) to purchase these insurance options, please call us at&nbsp;<tal-phone-number-link></tal-phone-number-link>. </p>
    <div id="payments" class="form-section payments" ng-form="paymentsEditForm">
        <div ng-show="ctrl.paymentMessage" class="error">{{ctrl.paymentMessage}}</div>

        <div ng-if="ctrl.availablePaymentsLoaded">
            <!--tabs-->
            
                <tal-tabs tal-animate-height is-payment-section tabs-at="m" default-tab="0">

                    <tal-tab-pane title="Direct debit" on-change="ctrl.selectTab('DirectDebit')" ng-if="ctrl.isDirectDebitPaymentAvailable">
                        <tal-direct-debit direct-debit-payment="ctrl.paymentOptions.directDebitPayment"
                                          payment-type="ctrl.paymentType"
                                          direct-debit-changed="ctrl.paymentOptions.resetFormState">
                        </tal-direct-debit>
                    </tal-tab-pane>

                    <tal-tab-pane title="Credit card" on-change="ctrl.selectTab('CreditCard')" ng-if="ctrl.isCreditCardPaymentAvailable">
                        <tal-credit-card expiry-date-default="ctrl.expiryDateDefault"
                                         credit-card-changed="ctrl.paymentOptions.resetFormState"
                                         credit-card-payment="ctrl.paymentOptions.creditCardPayment"
                                         payment-type="ctrl.paymentType">
                        </tal-credit-card>
                    </tal-tab-pane>
                </tal-tabs>
                <!--end tabs-->
            
        </div>
    </div>
</div>