<div ng-form="policyRiderOptionSelect" class="tal-option-select" read-only-form="planModel.planDisabled">
  <div class="form-group" show-errors>
    <label class="checkbox-inline">
      <input type="hidden" class="form-control"
             ng-model="option.selected"
             tal-server-validate="{{optionSelectedValidationModel}}"
             name="optionSelected" emit-ui-update="true" />
        <input id="{{planModel.code + optionModel.code + 'OptionCheck'}}"  type="checkbox"
             ng-model="optionModel.selected"
             name="value" ng-change="optionChanged()" />
      <span class="option-name" ng-bind="optionModel.name"></span> 
      <span class="fa fa-info-circle info-icon"></span>
    </label>
    <tal-form-error ng-form-model="policyRiderOptionSelect.optionSelected"></tal-form-error>
    <br />
  </div>
</div>