<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
  </system.web>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <file value="C:\\Logs\\TAL.QuoteAndApply.SalesPortal.#{EnvironmentName}.txt" xdt:Transform="Replace"/>
    </appender>
  </log4net>
</configuration>
