<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
  </system.web>
  <brandSettings>
    <brands>
      <brand key="TAL" enabled="true" xdt:Locator="Match(key)">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter" agentGroup=".uTalConsumerAgent" readOnlyGroup=".uTalConsumerReadOnly" xdt:Transform="Replace"/>
      </brand>
      <brand key="YB" enabled="true" xdt:Locator="Match(key)">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter" agentGroup=".uYbConsumerAgent" readOnlyGroup=".uYbConsumerReadOnly" xdt:Transform="Replace"/>
      </brand>
      <brand key="QA" enabled="false" xdt:Locator="Match(key)">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter" agentGroup=".uQantasConsumerAgent" readOnlyGroup=".uQantasConsumerReadOnly" xdt:Transform="Replace"/>
      </brand>
    </brands>
  </brandSettings>
  <talCreditCardTokenisationServiceConfiguration>
    <add key="ServiceBaseUrl" value="https://syd.tokenisation.tal.lan/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="Thumbprint" value="fb91ee79d4bb811564137d85e68649b0f20ffbb4" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="IdentityUser" value="tokenArmstrong"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </talCreditCardTokenisationServiceConfiguration>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <file value="C:\\Logs\\TAL.QuoteAndApply.SalesPortal.#{EnvironmentName}.txt" xdt:Transform="Replace"/>
    </appender>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.tower.lan" port="25" defaultCredentials="true" xdt:Transform="Replace"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
