<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
  </system.web>
  <brandSettings>
    <brands>
      <brand key="TAL" enabled="true" xdt:Locator="Match(key)">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter_QA" agentGroup=".uTalConsumerAgent_QA" readOnlyGroup=".uTalConsumerReadOnly_QA" xdt:Transform="Replace"/>
      </brand>
      <brand key="YB" enabled="true" xdt:Locator="Match(key)">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter_QA" agentGroup=". uYbConsumerAgent _QA" readOnlyGroup=".uYbConsumerReadOnly_QA" xdt:Transform="Replace"/>
      </brand>
      <brand key="QA" enabled="false" xdt:Locator="Match(key)">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter_QA" agentGroup=".uQantasConsumerAgent_QA" readOnlyGroup=".uQantasConsumerReadOnly_QA" xdt:Transform="Replace"/>
      </brand>
    </brands>
  </brandSettings>
  <talCreditCardTokenisationServiceConfiguration>
    <add key="ServiceBaseUrl" value="https://uat.syd.tokenisation.tal.lan/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
  </talCreditCardTokenisationServiceConfiguration>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Locator="Match(name)">
      <file value="C:\\Logs\\TAL.QuoteAndApply.SalesPortal.#{EnvironmentName}.txt" xdt:Transform="Replace"/>
    </appender>
  </log4net>
</configuration>
