<div class="needs-analysis">
    <div class="tal-card" tal-cq="self" cg-busy="ctrl.loadingPromise">
           
        <div ng-switch on="ctrl.state">
            <div class="row" ng-switch-when="help">
                <div class="col-md-7 col-lg-8">
                    <tal-help-me-choose
                        questions="ctrl.questions"
                        on-completed="ctrl.onHelpMeChooseComplete()"
                        navigation="ctrl.navigation"
                        availability="ctrl.basicInfo.availability">
                    </tal-help-me-choose>
                </div>
                <div class="col-md-5 col-lg-4" aria-hidden="true">
                    <div class="needs-analysis-right"
                        ng-include="'/client/appNeedsAnalysis/components/needsAnalysis/needsAnalysis-side.template.html'">
                    </div>
                </div>
            </div>

            <div class="question-container" ng-switch-when="quote">
                <tal-get-quote
                    on-completed="ctrl.onGetQuoteComplete(data)"
                    navigation="ctrl.navigation">
                </tal-get-quote>
            </div>

            <div class="question-container" ng-switch-default>
                <div class="needs-analysis-loading">
                    Loading needs analysis...
                </div>
            </div>
        </div>

    </div>

    <p class="question-back" ng-if="ctrl.navigation.hasPrevious">
        <a class="tal-link-arrow-left" ng-click="ctrl.navigation.onPrevious()">
            Previous question
        </a>
    </p>
</div>
