<div class="tal-hmc-sidebar">
    <h3 class="h5" ng-hide="!ctrl.basicInfo.availability">Insurance options</h3>

    <div class="progress">
        <div class="progress-item" ng-if="ctrl.basicInfo.availability.life">
            <tal-progress-bar progress="ctrl.percentage.life" total="100">
                Life Insurance
            </tal-progress-bar>
        </div>
        <div class="progress-item" ng-if="ctrl.basicInfo.availability.tpd">
            <tal-progress-bar progress="ctrl.percentage.tpd" total="100">
                Total Permanent Disability Insurance (TPD)
            </tal-progress-bar>
        </div>
        <div class="progress-item" ng-if="ctrl.basicInfo.availability.ri">
            <tal-progress-bar progress="ctrl.percentage.ci" total="100">
                Recovery Insurance
            </tal-progress-bar>
        </div>
        <div class="progress-item" ng-if="ctrl.basicInfo.availability.ip">
            <tal-progress-bar progress="ctrl.percentage.ip" total="100">
                Income Protection
            </tal-progress-bar>
            <div class="progress-options" ng-if="ctrl.getIPWaitingPeriod()">
                <div class="progress-option-item">
                    <span class="label"> {{ ctrl.basicInfo.variables.waitingPeriod.name }}:</span>
                    <span class="value">{{ctrl.getIPWaitingPeriod()}}</span>
                </div>
            </div>
            <div class="progress-options" ng-if="ctrl.getIPBenefitPeriod()">
                <div class="progress-option-item">
                    <span class="label">{{ ctrl.basicInfo.variables.benefitPeriod.name }}:</span>
                    <span class="value">{{ctrl.getIPBenefitPeriod()}}</span>
                </div>
            </div>
        </div>
    </div>

    <p class="progress-option-item" ng-if="ctrl.getSportAnswer()">
        <span class="label">Sports:</span>
        <span class="value">{{ctrl.getSportAnswer()}}</span>
    </p>
    <p class="progress-option-item" ng-if="ctrl.getAdventureSportAnswer()">
        <span class="label">Adventure sports:</span>
        <span class="value">{{ctrl.getAdventureSportAnswer()}}</span>
    </p>
</div>