<div class="tal-premium-type-select">
    <form-radio ng-repeat="premiumTotal in ::ctrl.premiumTotals"
                ng-if="premiumTotal.isEnabled"
                class="tal-form-radio-box tal-form-radio-tile"
                ng-class="::ctrl.getOptionClassName()"
                value="premiumTotal.premiumType"
                ng-model="ctrl.selectedPremiumType"
                tal-form-id="{{'premium_type_' + $index}}"
                on-option-changed="ctrl.onChangePremiumType(premiumTotal)">
        <h6 class="header">{{premiumTotal.premiumTypeName}} Premiums:</h6>
        <tal-figure value="premiumTotal.total" type="review" period="ctrl.paymentFrequencyPer" class="content"></tal-figure>
        <div class="footer"><a href="#" ng-click="ctrl.showVariableSelectionDialog()" class="tal-link&#45;&#45;strong">Learn more about {{premiumTotal.premiumTypeName}} Premiums</a></div>
    </form-radio>
</div>
