<div class="form-section send-quote-section" cg-busy="loadingPromise" novalidate>
    <fieldset ng-disabled="readOnly">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2 ng-bind="model.customerEmailAddress"></h2>
                </div>
                <div class="col-md-6">
                    <button id="sendQuoteBtn" type="button" class="btn btn-primary btn-fit" ng-click="sendQuote()" ng-disabled="!model.isValidForEmailCorrespondence">
                        Send
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 tal-back-green" ng-if="emailSuccess && emailSent" id="sendQuoteEmailSuccessStatus">
                    <p>Success Email Sent from <span ng-bind="model.userEmailAddress"></span></p>
                </div>
                <div class="col-md-12 tal-back-red" ng-if="!emailSuccess && emailSent" id="sendQuoteEmailFailureStatus">
                    <p>Email failed to send</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="clientFullName">
                    <h2 ng-bind="model.clientFullName"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Summary Of Cover</h1>
                    <table class="table table-striped interactions-results-table" ng-show="true">
                        <tr>
                            <th>Insurance Type</th>
                            <th>Cover Amount</th>
                            <th>Premium</th>
                        </tr>
                        <tr ng-repeat="cover in model.plans">
                            <td ng-bind="cover.name" ng-class="{planStyleInsuranceType : cover.type === 'plan', coverStyleInsuranceType : cover.type === 'cover'}"></td>
                            <td ng-if="cover.type === 'plan'" ng-bind="cover.coverAmount | currency: '$'"></td>
                            <td ng-if="cover.type === 'cover'" class="fa fa-check fa-2 tal-green"></td>
                            <td ng-if="cover.type === 'plan'" ng-bind="cover.premium | currency: '$'"></td>
                        </tr>
                        <tr>
                            <th>Total Premium Per {{model.premiumFrequency}}</th>
                            <th></th>
                            <th ng-bind="model.totalPremium | currency: '$'"></th>
                        </tr>
                        <hr/>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
  </div>
