@model TAL.QuoteAndApply.Notifications.Models.RaisePolicyErrorViewModel

<h1 style="font-size: 24px; font-family: arial;">Raise Policy Error - @Model.Environment</h1>
<p style="font-family: arial;">There was an error submitting the quote to the Raise Policy service</p>

<table style="font-family: arial;">
    <tr>
        <td>Quote reference number:</td>
        <td>@Model.QuoteReferenceNumber</td>
    </tr>
    <tr>
        <td>Error:</td>
        <td>@Model.ErrorMessage</td>
    </tr>
</table>