<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="C:\ILSource\tal-quote-apply\local.config">
    <add key="Party.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="Configuration.ConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="Leads.ServiceBaseUrl" value="http://madevsv002:81/V2/" />
    <add key="Leads.Version" value="2" />
    <add key="Leads.Timeout" value="5" />
    <add key="Leads.BrandCode" value="TAL" />
    <add key="Feature.AdobeLeadsServiceTrigger" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>