@using TAL.QuoteAndApply.Infrastructure.Extensions
@model TAL.QuoteAndApply.SalesPortal.Web.Models.View.AgentDashboardViewModel
@{
    ViewBag.Title = "Agent Dashboard";
}

<div class="user-dashboard-page">
    <tal-dashboard-section user="@Model.User.GivenName" role="agent"
                  external-ref-required="@(((bool)(Model.BrandSettingsViewModel.ExternalCustomerRefRequired)).ToJson())"
                  external-ref-label ="@Model.BrandSettingsViewModel.ExternalCustomerRefLabel"></tal-dashboard-section>
</div>