@model TAL.QuoteAndApply.SalesPortal.Web.Models.View.PhoenixAuthViewModel
@{
    ViewBag.Title = "PhoenixAuth";
    Layout = null;
}

<form name="login" action="@Model.PhoenixUrl" method="post">
    <input type="hidden" name="AuthenticationToken" value="@Model.AuthenticationToken"/>
    <input type="hidden" name="CallBackOnErrorUrl" value="@Model.CallBackOnErrorUrl"/>
    <input type="hidden" name="CallBackOnSuccessUrl" value="@Model.CallBackOnSuccessUrl"/>
</form>
<script type="text/javascript">
        document.forms.login.submit();
</script>

