<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net46" />
  <package id="log4net" version="2.0.4" targetFramework="net46" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net46" />
  <package id="NUnit" version="2.6.4" targetFramework="net46" />
  <package id="OctoPack" version="3.0.42" targetFramework="net46" developmentDependency="true" />
</packages>