<div class="question-container tal-card">
  <div class="tal-question">
    
    <tal-progress-bar progress="33">
     Your progress
    </tal-progress-bar>
    <div class="tal-question-label form-grid form-align-left">
      <div class="form-group row">
        <div class="col-xs-8 tal-col">
            <label for="radio_button1" class="control-label">Cancer or malignant tumour?</label>
        </div>
        <div class="col-xs-4 tal-col" tal-cq="true">
          <form-radio class="tal-form-radio-button" name="testRadio1" value="opt1" ng-model="data.value1" tal-form-id="radio_button1">Yes</form-radio>
          <form-radio class="tal-form-radio-button" name="testRadio1" value="opt2" ng-model="data.value1" tal-form-id="radio_button2">No</form-radio>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-xs-8 tal-col">
            <label for="radio_button3" class="control-label">Heart attack, stroke, transient ischaemic attack, brain haemorrhage, embolism or heart defect?</label>
        </div>
        <div class="col-xs-4 tal-col" tal-cq="true">
          <form-radio class="tal-form-radio-button" name="testRadio2" value="opt1" ng-model="data.value2" tal-form-id="radio_button3">Yes</form-radio>
          <form-radio class="tal-form-radio-button" name="testRadio2" value="opt2" ng-model="data.value2" tal-form-id="radio_button4">No</form-radio>
        </div>
      </div>
    </div>  
    <div class="tal-btn-set">
      <button type="submit" class="tal-btn--secondary" angular-ripple>
      Next
      </button>
    </div>
  </div>
</div>