<div class="question-container tal-card">
  <div class="tal-question">
    
    <tal-progress-bar progress="33">
     Your progress
    </tal-progress-bar>
    <div class="tal-question-label form-grid  form-align-left">
      <p>Specify type of insurance you currently hold in addition to this application and the amount covered for.</p>
      <div class="form-group row">
        <div class="col-sm-4 tal-col">
          <label for="when">
            When did this occur?
          </label>
          <input id="when" type="text" name="when" >
        </div>
        <div class="col-sm-8 tal-col" tal-cq="true">
          <label for="description">
            When did this occur?
          </label>
          <textarea name="test" id="description" cols="30" rows="10"></textarea> 
        </div>
      </div>
     
    </div>  
    <div class="tal-btn-set">
      <button type="submit" class="tal-btn--secondary" angular-ripple>
      Next
      </button>
    </div>
  </div>
</div>