<div class="question-container tal-card">
  <div class="tal-question">
    
    <tal-progress-bar progress="33">
     Your progress
    </tal-progress-bar>
    <div class="tal-question-label form-grid">
      <div class="form-group row">
        <div class="tal-col col-sm-6">My height is <input class="small" type="text" name="height"> centimeters</div>
        <div class="tal-col col-sm-6">My weight is <input class="small" type="text" name="weight"> kg</div>
      </div>
     
    </div>
  
    <div class="tal-btn-set">
      <button type="submit" class="tal-btn--secondary" angular-ripple>
      Next
      </button>
    </div>
  </div>
</div>