<div class="question-container tal-card">
  <div class="tal-question">
    
    <tal-progress-bar progress="33">
     Your progress
    </tal-progress-bar>
    <div class="tal-question-label tal-form-checkbox-list form-align-left">
      <p>So that we can carefully assess you application and then tailor cover for you, we need to ask you some questions about your health.</p>
      <div>
        <div class="row">
          <div class="col-md-4">
            <form-checkbox  tal-name="checkbox11" class="tal-form-checkbox tal-form-checkbox" ng-model="data.value" tal-id="checkbox21">My label</form-checkbox>
          </div>
          <div class="col-md-4">
            <form-checkbox  tal-name="checkbox12" class="tal-form-checkbox tal-form-checkbox" ng-model="data.value" tal-id="checkbox21">My label</form-checkbox>

          </div>
          <div class="col-md-4">
            <form-checkbox  tal-name="checkbox13" class="tal-form-checkbox tal-form-checkbox" ng-model="data.value" tal-id="checkbox21">My label</form-checkbox>

          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <form-checkbox  tal-name="checkbox21" class="tal-form-checkbox tal-form-checkbox" ng-model="data.value" tal-id="checkbox21">My label</form-checkbox>
          </div>
          <div class="col-md-4">
            <form-checkbox  tal-name="checkbox22" class="tal-form-checkbox tal-form-checkbox" ng-model="data.value" tal-id="checkbox21">My label</form-checkbox>

          </div>
          <div class="col-md-4">
            <form-checkbox  tal-name="checkbox23" class="tal-form-checkbox tal-form-checkbox" ng-model="data.value" tal-id="checkbox21">My label</form-checkbox>

          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <form-checkbox  tal-name="checkbox31" class="tal-form-checkbox tal-form-checkbox" ng-model="data.value" tal-id="checkbox21">My label</form-checkbox>
          </div>
          <div class="col-md-4">
            <form-checkbox  tal-name="checkbox32" class="tal-form-checkbox tal-form-checkbox" ng-model="data.value" tal-id="checkbox21">My label</form-checkbox>

          </div>
          <div class="col-md-4">
            <form-checkbox  tal-name="checkbox33" class="tal-form-checkbox tal-form-checkbox" ng-model="data.value" tal-id="checkbox21">My label</form-checkbox>

          </div>
        </div>
      </div>
    </div>
  
    <div class="tal-btn-set">
      <button type="submit" class="tal-btn--secondary" angular-ripple>
      Next
      </button>
    </div>
  </div>
</div>