<div class="question-container tal-card">
  <div class="tal-question">
    
    <tal-progress-bar progress="33">
      <span class="h-minor-heading">Your progress</span>
    </tal-progress-bar>
    <div class="tal-question-label">
      <p>So that we can carefully assess you application and then tailor cover for you, we need to ask you some questions about your health.</p>
    </div>

    <!-- RTE Content -->

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, quidem.
    </p>

    <ul>
      <li>Lorem ipsum.</li>
      <li>Consectetur adipisicing</li>
      <li>Ab, quidem</li>
    </ul>

    <ol>
      <li>Lorem ipsum.</li>
      <li>Consectetur adipisicing</li>
      <li>Ab, quidem</li>
    </ol>

    <!-- END RTE Content -->
  
    <div class="tal-btn-set">
      <button type="submit" class="tal-btn--secondary" angular-ripple>
      Next
      </button>
    </div>
  </div>
</div>