<div class="question-container tal-card">
  <div class="tal-question">
    
    <tal-progress-bar progress="33">
     Your progress
    </tal-progress-bar>
    <div class="tal-question-label">
      <p>So that we can carefully assess you application and then tailor cover for you, we need to ask you some questions about your health.</p>
      <div tal-cq="true">
        <form-radio class="tal-form-radio-button" name="testRadio2" value="yes" ng-model="data.value1" tal-form-id="radio_button1">Yes</form-radio>
        <form-radio class="tal-form-radio-button" name="testRadio2" value="no" ng-model="data.value1" tal-form-id="radio_button2">No</form-radio>
      </div>
    </div>
  
    <div class="tal-btn-set">
      <button type="submit" class="tal-btn--secondary" angular-ripple>
      Next
      </button>
    </div>
  </div>
</div>
