<div class="tal-beneficiaries">
    <div class="row">
        <div class="col-md-12">
            <h2>Add beneficiaries <span class="helper-text">(optional)</span></h2>
            <p>You can add up to {{ctrl.maxNumberOfBeneficiaries}} beneficiar{{ctrl.maxNumberOfBeneficiaries === 1 ? 'y' : 'ies'}} for your Life Insurance.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend class="vh">Beneficiary details</legend>
                
                <div ng-repeat="beneficiary in ctrl.beneficiaries track by $index">
                    <div class="purchase-hr" ng-if="$index > 0"></div>
                    <div ng-form="{{'purchaseRequest.beneficiaries[' + $index + ']'}}">
                        <div class="row">
                            <div class="col-xxs-8">
                                <h3>Beneficiary {{($index+1) | numberToWords}}</h3>
                            </div>
                            <div class="col-xxs-4 text-right remove-button-container">
                                <button type="button" id="{{'removeBeneficiary' + $index+1}}" ng-click="ctrl.removeBeneficiary($index, beneficiary.id)" class="tal-btn--secondary">
                                    Remove
                                </button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 col-lg-3">
                                <label for="{{'beneficary' + $index+1 + 'Title'}}">Title</label>
                                <form-select tal-name="title" name="title" placeholder="Please select" ng-model="beneficiary.title"
                                             tal-server-validate="purchaseRequest.beneficiaries[{{$index}}].title"
                                             form-select-items="ctrl.titles" tal-id="{{'beneficary' + $index+1 + 'Title'}}"
                                             required></form-select>

                                <tal-form-input-error show-server-error-for="purchaseRequest.beneficiaries[$index].title"></tal-form-input-error>
                                <tal-form-input-error show-error-for="purchaseRequest.beneficiaries[$index].title" show-error-when="required">Title is required</tal-form-input-error>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 col-lg-3">
                                <label for="{{'beneficary' + $index+1 + 'FirstName'}}">First name</label>
                                <input id="{{'beneficary' + $index+1 + 'FirstName'}}" required type="text" placeholder="First name" name="firstName" class="form-control" ng-model="beneficiary.firstName"
                                       autocomplete="off" maxlength="22"
                                       tal-server-validate="purchaseRequest.beneficiaries[{{$index}}].firstName">
                                <tal-form-input-error show-server-error-for="purchaseRequest.beneficiaries[$index].firstName"></tal-form-input-error>
                                <tal-form-input-error show-error-for="purchaseRequest.beneficiaries[$index].firstName" show-error-when="required">First name is required</tal-form-input-error>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <label for="{{'beneficary' + $index+1 + 'Surname'}}">Last name</label>
                                <input id="{{'beneficary' + $index+1 + 'Surname'}}" required type="text" placeholder="Last name" name="surname" class="form-control" ng-model="beneficiary.surname"
                                       autocomplete="off" maxlength="22"
                                       tal-server-validate="purchaseRequest.beneficiaries[{{$index}}].surname">
                                <tal-form-input-error show-server-error-for="purchaseRequest.beneficiaries[$index].surname"></tal-form-input-error>
                                <tal-form-input-error show-error-for="purchaseRequest.beneficiaries[$index].surname" show-error-when="required">Last name is required</tal-form-input-error>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 col-lg-3">
                                <label for="{{'beneficary' + $index+1 + 'DateOfBirth'}}">Date of birth</label>
                                <input id="{{'beneficary' + $index+1 + 'DateOfBirth'}}" type="tel" required class="form-control" name="dateOfBirth"
                                       ng-model="beneficiary.dateOfBirth"
                                       autocomplete="off"
                                       placeholder="DD/MM/YYYY"
                                       required
                                       tal-server-validate="purchaseRequest.beneficiaries[{{$index}}].dateOfBirth"
                                       tal-date tal-date-mask-format="DDMMYYYY"
                                       placeholder="DD/MM/YYYY"
                                       ui-mask="99/99/9999"
                                       maxlength="10">
                                <tal-form-input-error show-server-error-for="purchaseRequest.beneficiaries[$index].dateOfBirth"></tal-form-input-error>
                                <tal-form-input-error show-error-for="purchaseRequest.beneficiaries[$index].dateOfBirth" show-error-when="required">Date of birth is required</tal-form-input-error>
                                <tal-form-input-error show-error-for="purchaseRequest.beneficiaries[$index].dateOfBirth" show-error-when="invalidFormat">Date of birth is invalid</tal-form-input-error>
                            </div>
                        </div>
                        <div class="form-group row">
                            <form-checkbox tal-required="false"
                                           tal-id="{{'beneficary' + $index+1 + 'UseSameAddress'}}"
                                           tal-name="{{'beneficary' + $index+1 + 'UseSameAddress'}}" class="tal-form-checkbox" ng-model="beneficiary.copyAddressChecked"
                                           state-change="ctrl.copyAddress(beneficiary)">Use the same address as listed above</form-checkbox>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label for="{{'beneficary' + $index+1 + 'Address'}}">Residential address</label>
                                <input id="{{'beneficary' + $index+1 + 'Address'}}" required type="text" placeholder="Residential address" name="address" class="form-control" ng-model="beneficiary.address"
                                       autocomplete="off" maxlength="30" ng-change="ctrl.changeAddressWatch($index)"
                                       tal-server-validate="purchaseRequest.beneficiaries[{{$index}}].address">
                                <tal-form-input-error show-server-error-for="purchaseRequest.beneficiaries[$index].address"></tal-form-input-error>
                                <tal-form-input-error show-error-for="purchaseRequest.beneficiaries[$index].address" show-error-when="required">Address is required</tal-form-input-error>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 col-lg-3">
                                <label for="{{'beneficary' + $index+1 + 'Suburb'}}">Suburb</label>
                                <input id="{{'beneficary' + $index+1 + 'Suburb'}}" type="text" placeholder="Suburb" class="form-control" name="suburb"
                                       ng-model="beneficiary.suburb" maxlength="20" required ng-change="ctrl.changeAddressWatch($index)"
                                       tal-server-validate="purchaseRequest.beneficiaries[{{$index}}].suburb">
                                <tal-form-input-error show-server-error-for="purchaseRequest.beneficiaries[$index].suburb"></tal-form-input-error>
                                <tal-form-input-error show-error-for="purchaseRequest.beneficiaries[$index].suburb" show-error-when="required">Suburb is required</tal-form-input-error>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <label for="{{'beneficary' + $index+1 + 'state'}}">State</label>
                                <form-select tal-name="state" name="state" placeholder="Please select" ng-model="beneficiary.state"
                                             tal-server-validate="purchaseRequest.beneficiaries[{{$index}}].state"
                                             form-select-items="ctrl.states" tal-id="{{'beneficary' + $index+1 + 'state'}}"
                                             required></form-select>

                                <tal-form-input-error show-server-error-for="purchaseRequest.beneficiaries[$index].state"></tal-form-input-error>
                                <tal-form-input-error show-error-for="purchaseRequest.beneficiaries[$index].state" show-error-when="required">State is required</tal-form-input-error>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 col-lg-3">
                                <label for="{{'beneficary' + $index+1 + 'Postcode'}}">Postcode</label>
                                <input type="text" placeholder="Postcode" class="form-control" name="postcode" required
                                       ng-model="beneficiary.postcode" maxlength="4" id="{{'beneficary' + $index+1 + 'Postcode'}}"
                                       tal-server-validate="purchaseRequest.beneficiaries[{{$index}}].postcode">

                                <tal-form-input-error show-server-error-for="purchaseRequest.beneficiaries[$index].postcode"></tal-form-input-error>
                                <tal-form-input-error show-error-for="purchaseRequest.beneficiaries[$index].postcode" show-error-when="required">Postcode is required</tal-form-input-error>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label for="{{'beneficary' + $index+1 + 'Email'}}">Email address</label>
                                <input id="{{'beneficary' + $index+1 + 'Email'}}" type="text" class="form-control" placeholder="Email address" name="emailAddress"
                                       ng-model="beneficiary.emailAddress" maxlength="80"
                                       tal-server-validate="purchaseRequest.beneficiaries[{{$index}}].emailAddress">
                                <tal-form-input-error show-server-error-for="purchaseRequest.beneficiaries[$index].emailAddress"></tal-form-input-error>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 col-lg-3">
                                <label for="{{'beneficary' + $index+1 + 'Phone'}}">Phone number</label>
                                <input type="text" placeholder="Phone number" class="form-control" name="phoneNumber" required
                                       ng-model="beneficiary.phoneNumber" maxlength="10" id="{{'beneficary' + $index+1 + 'Phone'}}"
                                       tal-server-validate="purchaseRequest.beneficiaries[{{$index}}].phoneNumber">
                                <tal-form-input-error show-server-error-for="purchaseRequest.beneficiaries[$index].phoneNumber"></tal-form-input-error>
                                <tal-form-input-error show-error-for="purchaseRequest.beneficiaries[$index].phoneNumber" show-error-when="required">Phone number is required</tal-form-input-error>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 col-lg-3">
                                <label for="{{'beneficary' + $index+1 + 'BeneficiaryRelationshipId'}}">Relationship to you</label>
                                <div class="form-select">
                                    <div class="tal-form-select">
                                        <select class="form-control"
                                                id="{{'beneficary' + $index+1 + 'BeneficiaryRelationshipId'}}"
                                                name="beneficiaryRelationshipId"
                                                Required
                                                tal-server-validate="purchaseRequest.beneficiaries[{{$index}}].beneficiaryRelationshipId"
                                                ng-model="beneficiary.beneficiaryRelationshipId"
                                                ng-options="r.id as r.description for r in ctrl.relationships">
                                            <option value="" disabled selected>Please select</option>
                                        </select>
                                        <span class="tal-form-select-value">{{ctrl.getRelationshipDesc(beneficiary.beneficiaryRelationshipId)}}</span>
                                    </div>
                                </div>
                                <tal-form-input-error show-server-error-for="purchaseRequest.beneficiaries[$index].beneficiaryRelationshipId"></tal-form-input-error>
                                <tal-form-input-error show-error-for="purchaseRequest.beneficiaries[$index].beneficiaryRelationshipId" show-error-when="required">Relationship is required</tal-form-input-error>
                            </div>

                            <div class="col-sm-6 col-lg-3">
                                <label for="{{'beneficary' + $index+1 + 'Share'}}">Benefit allocation</label>

                                <span class="tal-form-allocation tal-form-compact">

                                    <input id="{{'beneficary' + $index+1 + 'Share'}}" placeholder="Please nominate" required type="tel" name="share" class="form-control" ng-model="beneficiary.share"
                                           autocomplete="off" tal-currency-format whole-numbers-only="true" maxlength="3"
                                           tal-server-validate="purchaseRequest.beneficiaries[{{$index}}].share">
                                    <label class="tal-form-compact-label" for="share">%</label>
                                </span>
                                <tal-form-input-error show-server-error-for="purchaseRequest.beneficiaries[$index].share"></tal-form-input-error>
                                <tal-form-input-error show-error-for="purchaseRequest.beneficiaries[$index].share" show-error-when="required">Percentage of benefit is required</tal-form-input-error>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br />
            <fieldset>
                <button type="button" class="tal-btn--primary" id="addBeneficiary" ng-if="ctrl.canAddBeneficiary()" ng-click="ctrl.addBeneficiary()">{{ctrl.addBeneficiaryText}}</button>
            </fieldset>
        </div>
    </div>
</div>
