<div class="tal-app-save tal-app-save-success">
	
	<p id="passwordSaved" class="p--featured">
		Password saved!
	</p>

	<p>
		We've just sent an email, with your reference number, to the address you provided. Please use your reference number if you decide to come back to your quote at a later date.
	</p>

	<p>
		Your progress will be automatically saved from now on.
	</p>

	<div class="tal-modal-footer">
		<button
			id="passwordSavedContinueBtn"
			tal-id="passwordSavedContinue"
			tal-cq
			type="button"
			class="tal-btn--primary"
			angular-ripple
			ng-click="closeThisDialog()">
	  	  	Continue
		</button>
	</div>

</div>