<div class="tal-app-save tal-app-save-password">
	<p>
        Please create a password so you can return to your quote later. 
	</p>

    <p>Your password must be at least 6 characters long, and include upper and lowercase letters.</p>

    <form class="form-horizontal" name="appSavePasswordForm" novalidate>

		<div class="form-group row tal-input-wrapper">
			<label for="password">Password </label>
			<input type="password" name="password" ng-hide="showPassword"
				   id="saveModalPasswordMasked"
				   class="form-control"
				   ng-model="ngDialogData.model.password"
				   placeholder="e.g. MyPassword"
				   maxlength="20"
				   required
				   tal-server-validate="createLoginRequest.password">
			<input type="text" name="password" ng-show="showPassword" class="form-control"
				   id="saveModalPasswordCleartext"
				   ng-model="ngDialogData.model.password"
				   maxlength="20"
				   required
				   tal-server-validate="createLoginRequest.password">
			<input type="hidden" class="hidden" name="createLoginRequestError" tal-server-validate="createLoginRequestError" ng-model="ngDialogData.model.error"/>
			<tal-form-input-error id="loginRequestError" show-server-error-for="appSavePasswordForm.createLoginRequestError"></tal-form-input-error>
			<tal-form-input-error id="passwordServerError" show-server-error-for="appSavePasswordForm.password"></tal-form-input-error>
			<tal-form-input-error id="passwordRequiredError" show-error-for="appSavePasswordForm.password" show-error-when="required">Password is required</tal-form-input-error>
		</div>

		<div class="form-group row tal-input-wrapper">
			<div class="tal-form-checkbox-list">
				<form-checkbox
					tal-name="showPassword"
					tal-id="saveModalShowPassword"
					class="tal-form-checkbox"
					ng-model="showPassword">
					Show password
				</form-checkbox>
			</div>
		</div>

		<div class="tal-modal-footer">
			<button
				tal-cq
				id="saveModalSaveAndEmailQuote"
				type="submit"
				ng-disabled="appSavePasswordForm.$invalid"
				class="tal-btn--primary"
				angular-ripple
				ng-click="ctrl.submitPassword()">
				Save & email quote
			</button>
		</div>

	</form>
</div>