<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="brandSettings" type="TAL.QuoteAndApply.SalesPortal.Web.Configuration.BrandSettingsConfigurationSection, TAL.QuoteAndApply.SalesPortal.Web"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="UserRoles.Domain" value="TOWER" />
    <add key="Okta.BaseUri" value="https://talcb-qa.oktapreview.com" />
    <add key="Okta.EncryptedApiToken" value="y0v6ifYmkKVxg6X2JAqGM2JW2O0VLJ5pXTvQPzeepv+P340ch5hm35yMk3fE/v1Z" />
    <add key="Okta.ProxyUri" value="http://infraproxy.tower.lan:8080" />
  </appSettings>
  <brandSettings>
    <brands>
      <brand key="TAL" enabled="true">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter_QA" agentGroup=".uTalConsumerAgent_QA" readOnlyGroup=".uTalConsumerReadOnly_QA" />
      </brand>
      <brand key="YB" enabled="true">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter_QA" agentGroup=". uYbConsumerAgent _QA" readOnlyGroup=".uYbConsumerReadOnly_QA" />
      </brand>
      <brand key="QA" enabled="true">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter_QA" agentGroup=".uQantasConsumerAgent_QA" readOnlyGroup=".uQantasConsumerReadOnly_QA" />
      </brand>
    </brands>
  </brandSettings>
</configuration>