<div class="tal-modal" id="coverSelectionModal" tabindex="0" cg-busy="$parent.ctrl.loadingPromise">
    <header class="tal-modal-header-dark tal-modal-space-for-close row">
        <h2 class="h3 tal-modal-space-for-close col-sm-7 col-lg-8 col-xl-9">
            <span ng-repeat="title in ngDialogData.plan.presentation.planTitles track by $index"
                  ng-bind-html="title"></span>
        </h2>
        <tal-figure class="col-sm-4 col-lg-3 tal-option-modal-figure"
                    value="ngDialogData.plan.totalPremium"
                    period="paymentFrequencyPer"
                    type="review"></tal-figure>
    </header>
    <main
            class="tal-modal-body no-padding">
        <tal-tabs
                tal-animate-height
                is-h-tabs="true"
                tabs-at="m"
                default-tab="0"
                tabs-api="ngDialogData.tabsApi">
            <tal-tab-pane
                    title="{{tabItem.title}}"
                    tal-id="tabItem.code"
                    ng-repeat="tabItem in ngDialogData.tabItems track by $index"
                    enabled="tabItem.item.availability.isAvailable">
                <div ng-switch="tabItem.type">

                    <!-- Covers -->
                    <form ng-switch-when="cover">
                        <h3 class="h5" ng-bind-html="tabItem.item.presentation.fullTitle">Accidents and injuries</h3>
                        <span ng-bind-html="tabItem.item.presentation.selectCoverOptionsDescription"></span>

                        <div class="row-top-space">
                            <form-radio class="tal-form-radio col-md-6"
                                        name="{{tabItem.item.code}}IsActive"
                                        value="true"
                                        ng-model="tabItem.item.isSelected"
                                        on-option-changed="onChange()"
                                        tal-form-id="{{tabItem.item.code}}IsActiveYes">
                                {{tabItem.item.presentation.includeText}}
                            </form-radio>
                            <form-radio class="tal-form-radio col-md-6"
                                        name="{{tabItem.item.code}}IsActive"
                                        value="false"
                                        ng-model="tabItem.item.isSelected"
                                        on-option-changed="onChange()"
                                        tal-form-id="{{tabItem.item.code}}IsActiveNo">
                                {{tabItem.item.presentation.excludeText}}
                            </form-radio>
                        </div>
                    </form>

                    <!-- Variables -->
                    <form ng-switch-when="variable">
                        <h3 class="h5" ng-bind-html="tabItem.item.presentation.heading"></h3>
                        <span ng-bind-html="tabItem.item.presentation.description"></span>
                        <div class="row-top-space">
                            <span ng-repeat="option in tabItem.item.options">
                                <form-radio class="tal-form-radio col-md-6"
                                            ng-if="::option.isAvailable && !option.presentation.notAvailable"
                                            name="{{tabItem.item.code}}IsActive"
                                            value="option.value"
                                            ng-model="tabItem.item.selectedValue"
                                            on-option-changed="onChange()"
                                            tal-form-id="{{tabItem.item.code}}{{option.value}}">
                                    {{option.presentation.overrideLabelName}}
                                </form-radio>
                            </span>
                        </div>
                    </form>

                    <!-- Common next/exit buttons -->
                    <div class="row-top-space" ng-if="$index < (ngDialogData.tabItems.length-1)">
                        <button class="tal-btn--secondary tal-right-button" angular-ripple
                                ng-if="ngDialogData.tabsApi && ngDialogData.tabsApi.next"
                                ng-click="ngDialogData.tabsApi.next()">
                            Next
                        </button>
                    </div>
                    <div class="row-top-space" ng-if="$index === (ngDialogData.tabItems.length-1)">
                        <button class="tal-btn--secondary tal-right-button" angular-ripple
                                ng-click="closeThisDialog()">
                            Save and Close
                        </button>
                    </div>
                </div>
            </tal-tab-pane>
        </tal-tabs>
    </main>
    <a href="" class="tal-modal-close" ng-click="closeThisDialog()"><span class="vh">Close Help Me Choose dialog.</span></a>
</div>
