.ios-device {
  .ngdialog-overlay, .ngdialog {
        position: absolute;
        display: block;
        height: 100%;
        bottom: auto;
  }
}

html, body {
    &.ngdialog-open{
        &.ios-device {
            overflow:auto;
            position: relative;
        }
    }
}

.mobile-device {
  tal-click-to-chat, .chat-help-text {
    display: none;
  }
}

.tal-style {

  .error {
    color: @error-text-colour;
    font-size: 12px;
  }

  .text-center {
    text-align: center;
  }

   .text-right {
    text-align: right;
  }
}

// Styleguide structure
// ============================================================================================

// A little aesthetic only title to appear at the top-left of a region
.mxn-sg-mini-title(@text: '') {
  &:before {
    content: @text;
    position: absolute;
    top: -8px;
    left: 20px;
    z-index: 1;
    padding: 0 0.5em;
    background-color: @tal-green;
    color: @white;
    font-weight: bold;
    .mxn-font-size(12);
  }
}

.sg--padded {
  box-sizing: border-box;

  // bit of a hack, but just for styleguide,
  overflow: visible;

  padding: 15px;
  .bp(m, { padding: 20px 30px; });
}

.sg__icons-grid {
  display: flex;
  flex-wrap: wrap;
}

.sg__icons-grid__item {
  padding: 20px;
}

.sg__icons-grid__item--pe {
  height: 70px;
  width: 50px;

  &.icon-tal-logo-dual,
  &.icon-tal-logo {
    width: 70px;
  }
}

.sg__grid-item {
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: @tal-green;
}

.sg-vspace {
  margin-bottom: 15px;
}

.sg-inline-spacing {
  margin-right: 10px;
  margin-bottom: 10px;
}

.hljs {
  background-color: @grey-90;
  padding: 20px;
  position: relative;
}

.sg__doc {
  display: block;

  [hljs] pre {
    position: relative;
    overflow: visible;
    .mxn-sg-mini-title('Markup');
  }

  .hljs {
    padding: 22px 20px;
  }
}

.sg__doc__show-code {
  .mxn-font-size(12);
  display: inline-block;
}

.sg__nav {
  position: relative;
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: transparent;

  .bp(s, {
    padding-top: 130px;
    padding-bottom: 100px;
  });

  h1 {
    margin-bottom: 5px;
  }
}

.sg__body {
  margin-top: 50px;
  padding-bottom: 40px;
}

.sg__sidebar {
  .bp(m, {
    width: 26%;
    padding-right: 4%;
    float: left;
  });

  .bp(l, {
    width: 20%;
  });

  // On biggest screens, push this aside, out of the central content column.
  .bp(1800, {
    margin-left: -24%;
  });
}

.sg__main {
  // A trick to make this content align right of the floated sidebar.
  overflow: auto;
  margin-bottom: 60px;
}

.sg__full {
  margin-bottom: 60px;
}

.sg__index {
  .tal-card;
  padding: 1em 1.2em;
  box-sizing: border-box;

  ul {
    margin: 0 0 2em 1em;
  }

  li {
    .mxn-font-size(14, 21);
    margin-bottom: 0.5em;
  }

  .is-active {
    background-color: @tal-green;
  }
}

.sg__article {

}

.sg__header {
  margin-top: 30px;
}

.sg__section {
  margin-bottom: 40px;
}

.sg__card {
  .tal-card;

  box-sizing: border-box;

  // bit of a hack, but just for styleguide,
  overflow: visible;

  padding: 15px;
  .bp(m, { padding: 20px 30px; });

  > :last-child {
    margin-bottom: 0;
  }

  > .sg__card__example-inverse:last-child {
    margin-bottom: -15px;
    .bp(m, { margin-bottom: -20px; });
  }
}

.sg__card__header {
  margin: -15px -15px 15px;
  padding: 15px;
  box-sizing: border-box;

  .bp(m, {
    margin: -20px -30px 20px;
    padding: 20px 30px;
  });

  background-color: @grey-30;
  color: @white;

  h1, h2, h3,
  .h1, .h2, .h3 {
    margin: 0;
  }
}

.sg__card__example {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.sg__card__example-inverse {
  &:extend(.sg__card__example);
  box-sizing: border-box;
  padding: 20px 15px;
  margin: 0 -15px 20px;
  width: calc(~"100% + 30px");

  .bp(m, {
    padding: 20px 30px;
    margin: 0 -30px 20px;
    width: calc(~"100% + 60px");
  });
}

.sg__family {
  margin-bottom: 40px;

  &:nth-last-child(n+2):after {
    content: '';
    display: block;
    height: 10px;
    background-color: @grey-90;

    margin: 40px -15px 0;
    width: calc(~"100% + 30px");

    .bp(m, {
      margin: 40px -30px 0;
      width: calc(~"100% + 60px");
    });
  }
}

.sg-tag {
  .mxn-font-size(14);
  display: inline-block;
  padding: 0.2em 0.5em;
  color: @white;
  border-radius: 0.5em;
}

.sg-deprecated {
  &:extend(.sg-tag);
  background-color: darken(red, 10);
}

.sg-unused {
  &:extend(.sg-tag);
  background-color: orange;
}

.sg__api {
  .clearfix;
  margin: 50px 0 35px;
  padding: 20px;
  background-color: @grey-90;
  position: relative;

  .mxn-sg-mini-title('API');
}

.sg__api__item {
  .bp(m, {
    width: 23%;
    margin-right: 2%;
    float: left;
  });
}

.sg--dark {
  background-color: @grey-10;
  color: @white;

  .tal-btn {
    color: @white;
  }
}

.sg__theme-select {
  display: block;
  margin: 10px 0;
  max-width: 180px;
}