<div class="tal-search-container" ng-form="occupationSearchForm">
    <div class="form-group" show-errors tal-inline-submit="inlineSubmit()" disable-inline-submit="{{noInlineSubmit}}">
        <label class="control-label">Occupation</label>

        <div class="input-group">
            <input class="form-control"
                   name="occupation"
                   type="text"
                   ng-model="occupation.searchPhrase"
                   placeholder="Begin typing to search"
                   ng-keydown="occupation.keydown ($event, -1)"
                   autocomplete="off"
                   tal-server-validate="{{serverValidate}}"
                   inline-submit-custom-trigger="occupation-changed">
            <span class="input-group-addon bg-grey" id="basic-addon3">{{occupation.selectedIndustry}}</span>
        </div>

        <div class="results" ng-show="occupation.searchAnswers.length > 0">
            <ul>
                <li ng-repeat="answer in occupation.searchAnswers track by $index"
                    ng-click="occupation.onChange(answer)" ng-enter="occupation.onChange(answer)" focus-next="true"
                    tabindex="{{(100 + $index)}}" ng-keydown="occupation.keydown ($event, $index)">
                    <span class="occupation">{{answer.text}}</span>
                    <span class="industry">{{answer.parentText}}</span>
                </li>
            </ul>
        </div>

        <tal-form-error ng-form-model="occupationSearchForm.occupation"></tal-form-error>
    </div>

</div>
