<input class="sg-vspace vh" type="text" ng-init="card.isOn = true" ng-model="card.isOn"/>
<input class="sg-vspace vh" type="text" ng-init="card.figValue = 89.45" ng-model="card.figValue"/>

<tal-card class="tal-review-card tal-card--topbar" ng-class="{'tal-review-card-off': !card.isOn}">
	<tal-card-header class="tal-review-card-header row card-padding">
		<div class="col-lg-3">
			<tal-form-switch class="tal-review-card-switch" ng-model="card.isOn"></tal-form-switch>
		</div>
		<div class="col-lg-9 cf">
			<h2 class="tal-review-card-title">Life + TPD + Critical Illness Cover</h2>
			<tal-figure class="tal-review-card-figure" value="card.figValue" type="review"></tal-figure>
		</div>
	</tal-card-header>
	<tal-card-body ng-if="card.isOn">
		<div class="row">
			<div class="col-sm-5 col-lg-3 card-sidebar">

				<div class="form-box">
					<label for="liveCover">Life Cover amount</label>
					<form-select-textfield  tal-id="liveCover" tal-name="name1" placeholder="select a value" ng-model="data.value1" form-select-items="data.selectItems"></form-select-textfield>
				</div>

				<div class="form-box">
					<label for="coverAmount">TPD Cover amount</label>
					<form-select-textfield  tal-id="coverAmount" tal-name="name2" placeholder="select a value" ng-model="data.value2" form-select-items="data.selectItems"></form-select-textfield>
				</div>

				<div class="form-box">
					<label for="illnessCoverAmount">Critical Illness Cover amount</label>
					<form-select-textfield  tal-id="illnessCoverAmount" tal-name="name3" placeholder="select a value" ng-model="data.value3" form-select-items="data.selectItems"></form-select-textfield>
				</div>

				<div class="form-box">
					<label>Inflation Protection</label>
					<a href="">INCLUDED</a>
				</div>

				<div class="form-box">
					<label>TPD occupation type:</label>
					<a href="">ANY OCCUPATION TYPE</a>
				</div>

				<div class="tal-form-checkbox-list form-box">
				    <form-checkbox tal-name="checkbox14" tal-id="checkbox14" class="tal-form-checkbox" ng-model="data.bar1">Bundle TPD Cover with Live Cover</form-checkbox>
			        <form-checkbox tal-name="checkbox15" tal-id="checkbox15" class="tal-form-checkbox" ng-model="data.baz1">Bundle Critical Illness cover with Life Cover</form-checkbox>
				</div>

			</div>
			<div class="col-sm-7 col-lg-9 card-main">
				<div>
					<p>Your beneficiaries will receive a tax-free $1,000,000 lump sum payment if you die.</p>
					<p>In the event that you're unable to work in any occupation due to an accident or illness you will receive a tax-free lump sum of $250,000 (leaving you with $750,000 of Life cover).</p>
					<p>Alternatively, if you sustain a serious injury or you are diagnosed with a specified critical illness such as cancer or motor neurone disease you will receive a tax-free lump sum of $120,000 (leaving you with $880,000 of Life Cover). </p>
					<p>Other benefits are listed below.</p>

					<ul class="tal-checked-list">
						<li>You've opted to include <strong>accidental injury cover, illness cover</strong>.</li>
						<li class="tal-checked-list-excluded">Your policy excludes <strong>[medical condition]</strong>.</li>
						<li class="tal-checked-list-excluded">You have opted to exclude <strong>adventure sports cover</strong>.</li>
					</ul>

					<tal-tabs allow-multi-open="true" class="tal-review-option-tabs">
						<tal-tab-pane title="Options">
							<div class="tal-review-option" ng-repeat="option in [1, 2, 3]">
								<div class="tal-form-checkbox-list tal-review-option-header">
								    <form-checkbox tal-name="review-opt-{{option}}" tal-id="review-opt-{{option}}" class="tal-form-checkbox" ng-model="data.value">

										<span class="vh">Include/Exclude: </span>
										<h5 class="h5">Accident & serious injury cover</h5>
								    </form-checkbox>
								</div>

								<tal-figure class="tal-review-option-figure" value="card.figValue" type="review"></tal-figure>

								<div class="tal-review-option-copy">
									<p>Paid if you're killed or incapacitated due to injuries caused by external, accidental events, such as traffic accidents or if you suffer a specified accidental injury. Conditions covered are severe burns, intensive care, or permanent conditions of; blindness, loss of hearing, loss of Independent existence, loss of a single limb or loss of speech.</p>
								</div>
								<div class="tal-review-option-inc-ex">
									<h6 class="p">Exclusions:</h6>
									<ul class="tal-checked-list ng-scope">
										<li class="tal-checked-list-excluded">Item 1</li>
										<li>Item 2</li>
										<li>Item 3</li>
									</ul>
								</div>
							</div>
						</tal-tab-pane>
						<tal-tab-pane title="Exclusions">
							<ul class="tal-checked-list ng-scope">
								<li class="tal-checked-list-excluded">Item 1</li>
								<li class="tal-checked-list-excluded">Item 2</li>
								<li class="tal-checked-list-excluded">Item 3</li>
							</ul>
						</tal-tab-pane>
						<tal-tab-pane title="Benefits">
							<ul class="tal-checked-list ng-scope">
								<li>Item 1</li>
								<li>Item 2</li>
								<li>Item 3</li>
							</ul>
							<p>“Reality is impossible,” says Sontag; however, according to Drucker[3] , it is not so much reality that is impossible, but rather the paradigm, and some would say the defining characteristic, of reality. What starts out as contemplation soon becomes manipulated into a manifesto of defeat, leaving only a sense of dread and the dawn of a new reality. It could be said that the example of the semiotic paradigm of expression which is a central theme of Eco’s The Limits of Interpretation (Advances in Semiotics) is also evident in The Name of the Rose, although in a more mythopoetical sense.</p>
						</tal-tab-pane>
						<tal-tab-pane title="Benefits">
							<p>Nevertheless, we have to choose between the cultural paradigm of expression and the conceptualist paradigm of consensus. The subject is contextualised into a postdialectic libertarianism that includes sexuality as a whole. The subject is contextualised into a precapitalist socialism that includes art as a totality.</p>
						</tal-tab-pane>
					</tal-tabs>
				</div>
			</div>
		</div>
	</tal-card-body>
	<tal-card-body class="tal-review-card-off-text" ng-if="!card.isOn"></tal-card-body>
</tal-card>