@{
    ViewBag.Title = "Create New Customer";
}

<div class="create-client-page">
    <div class="col-xs-12">
        <p>Enter the following details to create a client record and obtain a base quote.</p>
        <tal-create-client-form cancel-url="@Url.Action("Index", "Home")"></tal-create-risk-form>
    </div>
</div>