<div class="container-fluid">
    <div class="row heading">
        <div class="col-xs-12">
            <h3><span class="fa fa-warning warning"></span>Refer application to an Underwriter</h3>
        </div>
    </div>
    <div class="row body-content">
        <div class="col-xs-12">
            <p>Are you sure you would like to refer this application to an Underwriter?</p>
            <p>This application will not be editable while the referral is in progress.</p>
        </div>
    </div>
    <div class="row call-to-action">
        <div class="col-xs-10 col-xs-offset-1 text-center">
            <button type="button" class="btn btn-tertiary" ng-click="ok()">Yes</button>
            <button type="button" class="btn btn-secondary" ng-click="cancel()">No</button>
        </div>
    </div>
</div>