<div class="tal-underwriting">
    <div
        class="question-container tal-card"
        cg-busy="ctrl.loadingPromise"
        data-questions-count="{{ctrl.underwriting.questions.length}}">

        <tal-progress-bar progress="ctrl.getProgress()">
            Your progress
        </tal-progress-bar>

        <div class="">

            <tal-question ng-repeat="question in ctrl.underwriting.questions"
                          data-question-index="{{$index}}"
                          ng-if="ctrl.currentQuestionIndex === $index"
                          question="question"
                          on-question-answered="ctrl.onQuestionAnswered(question)">
            </tal-question>

            <div ng-if="ctrl.endOfQuestions" class="end-of-questions">
                <h2>All the 'About Me' questions have been answered.</h2>
                <p>Select 'Previous question' to see or alter your answers. Or select 'Continue' to move forward.</p>
                <button type="button" id="endOfUnderwritingContinue" class="tal-btn--primary"
                        ng-click="ctrl.onProceedClick()">Continue</button>
            </div>

        </div>

    </div>


    <div class="underwriting-toolbar">

        <div class="tal-pagination-bar">
            <a id="previousQuestion" href="" class="tal-link-arrow-left"
               ng-class="{'is-disabled': ctrl.disableUtilityButtons, 'is-hidden': ctrl.hidePreviousButton()}"
               ng-click="ctrl.moveToPreviousQuestion()">
                Previous question
            </a>
            <a
                id="needHelp"
                href=""
                class="tal-link-icon-before"
                ng-class="{'is-disabled': ctrl.disableUtilityButtons}"
                ng-show="ctrl.helpLinkVisible()"
                ng-click="ctrl.showHelp()">
                Need help with this question?
            </a>
        </div>

    </div>
</div>
