<div 
	ng-class="{'tal-fig--inline': type === 'inline', 'tal-fig--review': type === 'review', 'tal-fig--total': type === 'total'}">
	<span class="tal-fig__currency">$</span><span class="tal-fig__dollars" count-to="{{figValue}}" value="{{figValueOld}}" duration="0.5" filter="dollarPart"></span><span class="tal-fig__dot">.</span><span class="tal-fig__cents" count-to="{{figValue}}" value="{{figValueOld}}" duration="0.5" filter="centPart"></span>

	<span class="tal-fig__per" ng-if="type === 'inline'">/{{period}}</span>

	<span class="tal-fig__per" ng-if="type === 'review'">/{{period}}</span>

	<!-- TODO: change this markup back to what's in style guide if implementing payment frequency selection -->
    <span class="tal-fig__per-group tal-link-unstyle"
		href="" 
		ng-if="type === 'total'"
		aria-controls="premium-{{::id}}"
		aria-describedby="premium-describe-{{::id}}"
		id="premium-toggle-{{::id}}">
		<span class="tal-fig__per">TOTAL</span>
		<span 
			class="tal-fig__per tal-fig__select"
			>{{period}}</span>
		<span class="tal-fig__per">PREMIUM</span>
		
		<span class="vh" id="premium-describe-{{::id}}">Toggle the total premium between monthly and annual values.</span>
	</span>

	<span
		ng-if="type === 'total'"
		class="vh"
		role="region"
		id="premium-{{::id}}"
		aria-live="polite">
		Your {{period}} premium will be ${{figValue}}.
	</span>
</div>