<div class="tal-section-basic-info" ng-submit="ctrl.submit()">
    <form class="form-horizontal" name="basicInfoForm" novalidate>

        <div class="row">
            <div class="col-lg-7 col-xl-6 tal-layout-main-left">
                <div class="tal-card tal-basic-card" tal-cq>
                    <tal-card-body
                        cg-busy="ctrl.loadingPromise">
                        <fieldset class="form-grid">
                            <div class="row form-group">
                                <div class="col-xs-4 col-md-12 col-lg-4 tal-col">
                                    <label class="control-label">Gender</label>
                                </div>
                                <div class="col-xs-8 col-md-12 col-lg-8 tal-col">
                                    <form-radio ng-repeat="opt in ctrl.genderOptions"
                                                class="tal-form-radio-button"
                                                name="gender{{$index}}"
                                                value="opt.value"
                                                ng-model="ctrl.basicInfo.gender"
                                                tal-server-validate="basicInfoViewModel.gender"
                                                tal-form-id="gender{{$index}}">
                                        {{opt.label}}
                                    </form-radio>
                                </div>
                            </div>
                            <tal-form-input-error show-server-error-for="basicInfoForm.gender"></tal-form-input-error>
                            <tal-form-input-error show-error-for="basicInfoForm.gender" show-error-when="required">Gender is required</tal-form-input-error>
                            <div class="row form-group">
                                <div class="col-xs-4 col-md-12 col-lg-4 tal-col">
                                    <label class="control-label">Smoker</label>
                                </div>
                                <div class="col-xs-8 col-md-12 col-lg-8 tal-col">
                                    <form-radio ng-repeat="opt in ctrl.smokerOptions"
                                                class="tal-form-radio-button"
                                                name="isSmoker{{$index}}"
                                                value="opt.value"
                                                ng-model="ctrl.basicInfo.isSmoker"
                                                tal-server-validate="basicInfoViewModel.isSmoker"
                                                tal-form-id="isSmoker{{$index}}">
                                        {{opt.label}}
                                    </form-radio>
                                </div>
                            </div>
                            <tal-form-input-error show-server-error-for="basicInfoForm.isSmoker"></tal-form-input-error>
                            <tal-form-input-error show-error-for="basicInfoForm.isSmoker" show-error-when="required">Smoker status is required</tal-form-input-error>
                            <div class="row form-group">
                                <div class="col-xs-4 col-md-12 col-lg-4 tal-col">
                                    <label class="control-label">Date of birth</label>
                                </div>
                                <div class="col-xs-8 col-md-12 col-lg-6 tal-col">
                                    <input id="dateOfBirth" type="tel" class="form-control" name="dateOfBirth"
                                           ng-model="ctrl.basicInfo.dateOfBirth"
                                           autocomplete="off"
                                           required
                                           tal-server-validate="basicInfoViewModel.dateOfBirth"
                                           tal-date tal-date-mask-format="DDMMYYYY"
                                           placeholder="DD/MM/YYYY"
                                           ui-mask="99/99/9999"
                                           maxlength="10">
                                    <tal-form-input-error show-server-error-for="basicInfoForm.dateOfBirth"></tal-form-input-error>
                                    <tal-form-input-error show-error-for="basicInfoForm.dateOfBirth" show-error-when="required">Date of birth is required</tal-form-input-error>
                                    <tal-form-input-error show-error-for="basicInfoForm.dateOfBirth" show-error-when="invalidFormat">Date of birth is invalid</tal-form-input-error>

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-4 col-md-12 col-lg-4 tal-col">
                                    <label class="control-label">Occupation</label>
                                </div>
                                <div class="col-xs-8 col-md-12 col-lg-8 tal-col">
                                    <tal-occupation-search type="text"
                                                           ng-model="ctrl.basicInfo"
                                                           name="occupationCode"
                                                           selected-title="ctrl.basicInfo.occupationTitle"
                                                           server-validate="basicInfoViewModel.occupationCode"
                                                           placeholder="Begin typing to search" required>
                                    </tal-occupation-search>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-4 col-md-12 col-lg-4 tal-col">
                                    <label class="control-label">Annual income</label>
                                </div>
                                <div class="col-xs-8 col-md-12 col-lg-8 tal-col">
                                    <span class="tal-form-amount">
                                        <input type="tel" id="annualIncome" name="annualIncome" required ng-model="ctrl.basicInfo.annualIncome"
                                               autocomplete="off"
                                               tal-currency-format whole-numbers-only="true"
                                               tal-server-validate="basicInfoViewModel.annualIncome"
                                               maxlength="9">
                                    </span>
                                    <tal-form-input-error show-server-error-for="basicInfoForm.annualIncome"></tal-form-input-error>
                                    <tal-form-input-error show-error-for="basicInfoForm.annualIncome" show-error-when="required">Annual income is required</tal-form-input-error>
                                    <tal-form-input-error show-error-for="basicInfoForm.annualIncome" show-error-when="format">Annual income is invalid</tal-form-input-error>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-4 col-md-12 col-lg-4 tal-col">
                                    <label class="control-label">Postcode</label>
                                </div>
                                <div class="col-xs-8 col-md-6 col-lg-4 tal-col">
                                    <input type="tel" id="postcode" name="postcode" required ng-model="ctrl.basicInfo.postcode"
                                           autocomplete="off"
                                           tal-postcode-format
                                           tal-server-validate="basicInfoViewModel.postcode"
                                           maxlength="4">
                                    <tal-form-input-error show-server-error-for="basicInfoForm.postcode"></tal-form-input-error>
                                    <tal-form-input-error show-error-for="basicInfoForm.postcode" show-error-when="required">Postcode is required</tal-form-input-error>
                                    <tal-form-input-error show-error-for="basicInfoForm.postcode" show-error-when="format">Postcode is invalid</tal-form-input-error>
                                </div>
                            </div>
                        </fieldset>

                        <div class="basic-info-submit-wrapper">
                            <fieldset>

                                <legend class="vh">Submit</legend>

                                <div class="basic-info-recaptcha row" ng-if="ctrl.showCaptcha">
                                    <div class="offset-lg-4 col-lg-8 tal-col">
                                        <div
                                            vc-recaptcha
                                            class="g-recaptcha"
                                            ng-model="ctrl.basicInfo.recaptchaResponse">
                                        </div>
                                        <span
                                            class="error form-error"
                                            ng-bind="ctrl.recaptchaError">
                                        </span>
                                    </div>
                                </div>

                                <div class="basic-info-submit row form-group">
                                    <div class="offset-lg-4 col-lg-8 tal-col">
                                        <button
                                            type="submit"
                                            id="calculateQuote"
                                            class="tal-btn--primary"
                                            ng-disabled="basicInfoForm.$invalid">
                                            Calculate a basic quote
                                        </button>
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </tal-card-body>
                </div>

            </div>
            <div class="col-lg-5 col-xl-6 tal-layout-main-right feature-text-container">
                <p class="feature-text p--larger">
                    To get your personalised quote, please provide the following information. It usually only takes a few minutes to complete.
                </p>
                <p class="feature-text p--larger" ng-if="ctrl.isCoverCalculatorEnabled">
                    Don't forget you can save your quote at any stage and use our
                    <a ng-click="ctrl.startCalculator()">COVER CALCULATOR</a>
                    to help determine the right amount of insurance for you.
                </p>

                <p>
                    Download our
                    <a ng-href="{{ctrl.links.combinedPdsFsg}}" target="_blank">Product Disclosure Statement and Financial Services Guide</a>
                    for more information.
                </p>
                <span class="keyline"></span>
                <p class="feature-text p--larger">Already started a quote?</p>
                <p>To continue your existing quote, <a href="/Retrieve">Click here</a>.</p>
            </div>
        </div>
    </form>

    <tal-cover-calculator start-calc-fn="ctrl.startCalculator" use-results="ctrl.useCalcResults(calcResults)"></tal-cover-calculator>
</div>
