<div class="container-fluid">
    <div class="row heading">
        <div class="col-xs-12">
            <h3><span class="fa fa-warning warning"></span>Legal Personal Representative</h3>
        </div>
    </div>
    <div class="row body-content">
        <div class="col-xs-12">
            <p>By selecting this option you are indicating there are no nominated beneficiaries.</p>
            <p>If there are any beneficiary details entered below, they will be <strong>cleared</strong></p>
            <p>Assign benefit to LPR?</p>
        </div>
    </div>
    <div class="row call-to-action">
        <div class="col-xs-10 col-xs-offset-1 text-center">
            <button type="button" class="btn btn-tertiary" ng-click="ok()">Yes</button>
            <button type="button" class="btn btn-secondary" ng-click="cancel()">No</button>
        </div>
    </div>
</div>