<div class="form-section policy-notes-details-section" cg-busy="loadingPromise" novalidate>
    <fieldset ng-disabled="readOnly">
        <div class="container-fluid">
            <div class="notes-results">
                <div class="notes-results">
                    <table class="table table-striped notes-results-table" ng-show="notesResults.policyNoteDetailsList">
                        <tr>
                            <th>Date Created</th>
                            <th>Notes</th>
                            <th>Created By</th>
                        </tr>
                        <tr ng-repeat="note in notesResults.policyNoteDetailsList">
                            <td class="date-created" ng-bind="note.dateCreated"></td>
                            <td class="notes"ng-bind="note.noteText"></td>
                            <td class="created-by" ng-bind="note.createdBy"></td>
                        </tr>
                    </table>
                    <div class="no-results" ng-show="!notesResults.policyNoteDetailsList">
                        No notes found
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
  </div>
