
<form cg-busy="loadingPromise" name="paymentsForm" ng-submit="submit()" novalidate read-only-form="!inforceAllowed()">
    <div class="container-fluid policy-review-section">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8">
                <button id="btnSubmitPolicy" type="button" class="btn btn-tertiary btn-fit" ng-click="validateSectionsAndSubmit()" ng-disabled="!inforceAllowed()">Set policy to 'in-force'</button>
            </div>
        </div>
    </div>
</form>