<div class="container-fluid">
    <div class="row heading">
        <div class="col-xs-12">
            <h3>Error setting policy to 'in-force'</h3>
        </div>
    </div>
    <div class="row body-content">
        <div class="col-xs-12">
            <div class="row">
               <div class="col-xs-12">
                   Please contact support with the Quote Reference Number and time this error occurred.
               </div>
            </div>
            <br/>
            <div class="row">
                <div class="text-center col-xs-12">
                    <button type="button" class="btn btn-tertiary" ng-click="cancel()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>