<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="C:\ILSource\tal-quote-apply\local.config">
    <add key="Policy.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;"/>
    <add key="Party.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;"/>
    <add key="Leads.ServiceBaseUrl" value="http://madevsv002:81/V2/" />
    <add key="Leads.Version" value="2" />
    <add key="Leads.Timeout" value="5" />
    <add key="Leads.BrandCode" value="TAL" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
