<div class="main-header no-print" role="banner">
    <div class="main-header-upper" ng-if="!ctrl.hideNavigation">
        <div class="container cf">
            <tal-main-nav
                class="col-xs-8"
                role="nav"
                step-index="ctrl.stepIndex">
            </tal-main-nav>
        </div>
    </div>
    <div class="main-header-mid no-print">
        <div class="main-header-mid-inner container row">
            <div class="main-header-logo">
                <a class="main-header-logo-link" href="https://www.tal.com.au"><span class="vh">Return to home</span></a>
            </div>
            <div class="main-header-contact cf no-print" ng-if="!ctrl.hideChatLink">
                <span class="main-header-contact-1">Need Help? </span> 
                <strong class="main-header-contact-2">
                    <tal-phone-number-link>CALL&nbsp;</tal-phone-number-link>
                </strong>
                <span class="main-header-contact-3">
                    <tal-chat-to-agent-link class="chat-help-text" prefix="or">CLICK-TO-CHAT</tal-chat-to-agent-link>
                </span>
            </div>
            <tal-main-quote total-premium="ctrl.totalPremium" premium-period="ctrl.premiumPeriod" quote-reference-number="ctrl.quoteReferenceNumber"
                            saved-status="ctrl.savedStatus"
                            hide-quote-reference="ctrl.hideQuoteReference"
                            hide-quote-premium="ctrl.hideQuotePremium"
                            hide-save-button="ctrl.hideSaveButton"></tal-main-quote>
        </div>
    </div>
    <div class="main-header-lower no-print" ng-if="!ctrl.hideMobileNavigation">
        <div class="container row no-print">
            <tal-mobile-nav
                step-index="ctrl.stepIndex">
            </tal-mobile-nav>
        </div>
    </div>
</div>