<div id="superPayment" class="form-section form-section-payment" cg-busy="loadingPromise" ng-form="superFundPayment" read-only-form="policyIsReadonlyOrPaymentDetailsReadOnly()">
    <hr />
    <div class="row">
        <p class="col-xs-12">
            Customer may elect to pay for their premiums via a rollover from their Superannuation Fund.
            Please note:
            <br/>
            <ul class="superNotes">
                <li>Rollover payments must be annual</li>
                <li>Standalone TPD & RI premiums cannot be paid via Superannuation</li>
                <li>Own occupation in TPD cannot be paid via Superannuation</li>
                <li>Cover blocks must include both Accident and Illness cover</li>
            </ul>
        </p>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group" show-errors>
                <label class="control-label">Fund Name</label>
                <input id="FundNameSuperPayInput" type="text" class="form-control" name="fundName"
                       ng-model="paymentModel.fundName" maxlength="200"
                       ng-readonly="paymentModel.isValidForInforce"
                       ng-keydown="fundNameKeydown()"
                       autocomplete="off"
                       tal-server-validate="superFundPayment.fundName">

                <div class="results" ng-show="fundSearch.length > 0">
                    <ul>
                        <li ng-repeat="fund in fundSearch track by $index"
                            ng-click="selectFundName(fund)" ng-enter="selectFundName(fund)" focus-next="true"
                            tabindex="{{(100 + $index)}}">
                            <span class="fundName">{{fund.fundName}}</span>
                            <br/>
                            <span class="fundProduct">{{fund.fundProduct}}</span>
                        </li>
                    </ul>
                </div>

                <tal-form-error ng-form-model="superFundPayment.fundName"></tal-form-error>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group" show-errors>
                <label class="control-label">Fund Product</label>
                <input id="FundProductSuperPayInput" type="text" class="form-control" name="fundProduct"
                       ng-model="paymentModel.fundProduct" maxlength="100"
                       readonly="readonly"
                       ng-change="setPaymentsChanged()"
                       tal-server-validate="superFundPayment.fundProduct">
                <tal-form-error ng-form-model="superFundPayment.fundProduct"></tal-form-error>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group" show-errors>
                <label class="control-label">Fund USI</label>
                <input id="FundUSISuperPayInput" type="text" class="form-control" name="fundUSI"
                       ng-model="paymentModel.fundUSI" maxlength="14"
                       readonly="readonly"
                       ng-change="setPaymentsChanged()"
                       tal-server-validate="superFundPayment.fundUSI">
                <tal-form-error ng-form-model="superFundPayment.fundUSI"></tal-form-error>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group" show-errors>
                <label class="control-label">Fund ABN</label>
                <input id="FundABNSuperPayInput" type="text" class="form-control" name="fundABN"
                       ng-model="paymentModel.fundABN" maxlength="11"
                       readonly="readonly" 
                       ng-change="setPaymentsChanged()"
                       tal-server-validate="superFundPayment.fundABN">
                <tal-form-error ng-form-model="superFundPayment.fundABN"></tal-form-error>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group" show-errors>
                <label class="control-label">Member Id</label>
                <input id="MembershipNumberSuperPayInput" type="text" class="form-control" name="membershipNumber"
                       ng-model="paymentModel.membershipNumber" maxlength="20"
                       ng-readonly="paymentModel.isValidForInforce" ng-change="setPaymentsChanged()"
                       tal-server-validate="superFundPayment.membershipNumber">
                <tal-form-error ng-form-model="superFundPayment.membershipNumber"></tal-form-error>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group" show-errors>
                <label class="control-label">Tax File Number</label>
                <input id="TaxFileNumberSuperPayInput" type="text" class="form-control" name="taxFileNumber"
                       ng-model="paymentModel.taxFileNumber" maxlength="9"
                       ng-readonly="paymentModel.isValidForInforce" ng-change="setPaymentsChanged()"
                       tal-server-validate="superFundPayment.taxFileNumber">
                <tal-form-error ng-form-model="superFundPayment.taxFileNumber"></tal-form-error>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-8 col-sm-4 col-xs-offset-0 col-xs-12" ng-if="paymentModel.isValidForInforce">
            <button id="EditSuperPayBtn" type="button" class="btn btn-tertiary btn-fit" ng-click="editForm()" ng-disabled="readOnly">Edit Payment Details</button>
        </div>
        <div class="col-sm-offset-8 col-sm-4 col-xs-offset-0 col-xs-12" ng-if="!paymentModel.isValidForInforce">
            <button id="ConfirmSuperPayBtn" type="button" class="btn btn-tertiary btn-fit" ng-click="validateForm()" ng-disabled="readOnly">Confirm Payment Details</button>
        </div>
    </div>
</div>
