<div 
	class="tal-tabs__pane"
	ng-if="isTabs"
	ng-class="{'is-active': selected}"
	role="tabpanel"
	id="pane-{{::tabsId}}-{{::tabId}}"
	aria-labelledby="tab-{{::tabsId}}-{{::tabId}}"
	aria-hidden="{{!selected}}">
	<a class="tal-tabs__pane-header" href="" ng-click="select(pane)" ng-class="{'disabled' : !enabled}">
		<h4 class="tal-tabs__pane-title">{{title}}</h4>
		<tal-svg-icon icon="caret-down" class="tal-tabs__pane-header-icon"></tal-svg-icon>
	</a>
  	<div ng-show="selected" class="tal-tabs__pane-inner" ng-transclude></div>
</div>

<div 
	class="tal-tabs__pane"
	ng-class="{'is-active': selected}"
	ng-if="!isTabs">
	<a 
		class="tal-tabs__pane-header tal-link-unbgd subtle-ripple"
		angular-ripple
		href=""
		ng-class="{'disabled' : !enabled}"
		ng-click="select(pane)"
		id="ec-head-{{::tabsId}}-{{::tabId}}"
		aria-controls="ec-region-{{::tabsId}}-{{::tabId}}"
		aria-expanded="selected">
		<h4 class="tal-tabs__pane-title h5" ng-class="{'disabled' : !enabled}">{{title}}</h4>
	</a>
 	 <div
 	 	ng-slide-down="selected"
 	 	lazy-render
 	 	duration="0.35"
 	 	timing-function="ease-in-out"
 	 >
	  	<div 
	  	class="tal-tabs__pane-inner" 
	  	id="ec-region-{{::tabsId}}-{{::tabId}}"
	  	role="region"
	  	tabindex="-1"
	  	ng-transclude></div>
	</div>
</div>