<div class="tal-tabs" ng-class="{'tal-tabs--tabs': isTabs, 'tal-tabs--v-tabs': isTabs && !isHTabs, 'tal-tabs--h-tabs': isTabs && isHTabs,'tal-tabs--ec': !isTabs}">
  <ul class="tal-tabs__nav" ng-if="isTabs" role="tablist">
    <li 
    	class="tal-tabs__nav-item" 
    	ng-repeat="pane in panes" 
        angular-ripple
    	ng-class="{'is-active': pane.selected, 'disabled' : !pane.enabled}"
        role="tab"
        tal-id="{{::pane.talId}}"
    	id="tab-{{::tabsId}}-{{::pane.tabId}}"
    	aria-controls="pane-{{::tabsId}}-{{::pane.tabId}}"
    	aria-selected="{{pane.selected}}"
        ng-click="select(pane)">
    	{{pane.title}}
    </li>
  </ul>
  <div
    class="tal-tabs__content"
    on-dom-change
    on-dom-change-handler="resize"
    ng-transclude>
  </div>
</div>