<div class="tal-choice-point-questions" ng-show="ctrl.questionChoices.length">
    <h2 class="p--larger">Optional inclusions</h2>
    <ul class="tal-checked-list">
        <li ng-repeat="choice in ctrl.questionChoices"
            ng-switch="choice.currentChoiceType"
            ng-class="{'tal-checked-list-excluded': choice.currentChoiceType === 'Exclusion'}">
            <div ng-switch-when="Loading">
                You have chosen to include <strong ng-bind="choice.name"></strong> on {{::ctrl.getPlansAffectedText(choice)}} at a
                {{ctrl.paymentFrequency.toLowerCase()}}
                cost to your total premium of <strong ng-bind="choice.premiumDiff | currency"></strong>:
                <a ng-click="ctrl.onChangeQuestionChoice(choice)">exclude {{choice.name}}</a>
            </div>

            <div ng-switch-when="Exclusion">
                You have chosen to exclude <strong ng-bind="choice.name"></strong> from {{::ctrl.getPlansAffectedText(choice)}}:
                <a ng-click="ctrl.onChangeQuestionChoice(choice)">include {{choice.name}}</a>
            </div>
        </li>
    </ul>
</div>
