<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="talCreditCardTokenisationServiceConfiguration" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>

  <appSettings file="C:\ILSource\tal-quote-apply\local.config">
    <add key="Payment.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="Policy.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="Payment.PasEncryptionServiceBaseUrl" value="http://pastfnencryption.dev1.delivery.lan" />
    <add key="Payment.PasEncryptionServiceUser" value="EthilApp" />
    <add key="Payment.PasEncryptionServicePassword" value="1N5urance" />
    <add key="Payment.PasEncryptionServiceDomain" value="TOWER" />
  </appSettings>
  <talCreditCardTokenisationServiceConfiguration>
    <add key="IdentityUser" value="tokenArmstrong_dev" />
    <add key="SourceSystemCode" value="CB" />
    <add key="ServiceBaseUrl" value="https://sys.tokenisation.tal.lan/" />
    <add key="Thumbprint" value="fe82ba39a95c174d06b18316231617515efc2acb" />
  </talCreditCardTokenisationServiceConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>