<div class="tal-currency-question">
    <form name="annualIncomeForm" novalidate>
        <fieldset>
            <span class="tal-form-amount">
                <input type="tel" id="annualIncome" name="annualIncome" required
                       ng-model="ctrl.annualIncome"
                       autocomplete="off"
                       tal-currency-format whole-numbers-only="true"
                       tal-server-validate="basicInfoViewModel.annualIncome"
                       maxlength="9">
            </span>
            <tal-form-input-error show-server-error-for="annualIncomeForm.annualIncome"></tal-form-input-error>
            <tal-form-input-error show-error-for="annualIncomeForm.annualIncome" show-error-when="required">Annual income
                is required
            </tal-form-input-error>
        </fieldset>

        <fieldset class="underwriting-toolbar submit-buttons text-center">
            <button type="button" class="tal-btn--primary"
                    ng-disabled="annualIncomeForm.$invalid"
                    ng-click="ctrl.onContinueClick()">
                Continue
            </button>
        </fieldset>
    </form>

</div>