<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="C:\ILSource\tal-quote-apply\local.config">
    <add key="Policy.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="Party.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="Interactions.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="Underwriting.BaseUrl" value="http://qa3-talus.delivery.lan/" />
    <add key="Underwriting.TemplateName" value="TAL Consumer" />
    <add key="Underwriting.FullWorkflow" value="TALCFULLUW" />
    <add key="RaisePolicy.ServiceBaseUrl" value="http://dev1.raisepolicy.tal.lan/" />
    <add key="RaisePolicy.UserName" value="ethilapp" />
    <add key="RaisePolicy.Password" value="1N5urance" />
    <add key="RaisePolicy.Domain" value="TOWER" />
    <add key="RaisePolicy.SampleXml" value="Sample.xml" />
    <add key="RaisePolicy.EnvironmentKey" value="local" />
    <add key="RaisePolicy.ErrorNotificationEmailAddress" value="TDNotifyUser@tal.com.au" />
    <add key="Leads.ServiceBaseUrl" value="http://madevsv002:81/V2/" />
    <add key="Leads.Version" value="2" />
    <add key="Leads.Timeout" value="5" />
    <add key="Leads.BrandCode" value="TAL" />
    <add key="Payment.PasEncryptionServiceBaseUrl" value="http://pastfnencryption.dev1.delivery.lan" />
    <add key="Payment.PasEncryptionServiceUser" value="EthilApp" />
    <add key="Payment.PasEncryptionServicePassword" value="1N5urance" />
    <add key="Payment.PasEncryptionServiceDomain" value="TOWER" />
    <add key="Application.Brand.Key" value="tal" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>