<div class="tal-modal" tabindex="0" cg-busy="updatingPromise">
    <header class="tal-modal-header-dark tal-modal-space-for-close row">
        <h2 class="h3 tal-modal-space-for-close col-sm-7 col-lg-8 col-xl-9">
                {{ngDialogData.plan.coverTitle}} Options
        </h2>
    </header>
    <main class="tal-modal-body no-padding">
        <tal-tabs
            tal-animate-height
            is-h-tabs="true"
            tabs-at="m"
            default-tab="{{ngDialogData.selectedIndex}}"
            tabs-api="ngDialogData.tabsApi">
            <tal-tab-pane title="{{option.name}}" ng-repeat="option in ngDialogData.plan.variables track by $index">
                <h5 ng-bind-html="option.presentation.heading"></h5>
                <p ng-bind-html="option.presentation.description"></p>
                <div class="row-top-space">
                    <div class="row" ng-repeat="chunkedOptions in option.chunkedVariableOptions">
                        <div class="col-lg-6 col-xs-12" ng-repeat="selectableValue in chunkedOptions">
                            <form-radio
                                ng-if="::selectableValue.isAvailable && !selectableValue.presentation.notAvailable"
                                class="tal-form-radio"
                                name="option{{option.code}}"
                                value="selectableValue.value"
                                ng-model="option.selectedValue"
                                on-option-changed="ngDialogData.onOptionChanged(option)"
                                tal-form-id="radioOption{{option.code}}{{selectableValue.value}}">
                                {{selectableValue.presentation.overrideLabelName}}
                            </form-radio>
                        </div>
                    </div>
                    <div class="row-top-space" ng-if="$index < (ngDialogData.plan.variables.length-1)">
                        <button class="tal-btn--secondary tal-right-button" angular-ripple ng-if="ngDialogData.tabsApi && ngDialogData.tabsApi.next" ng-click="ngDialogData.tabsApi.next()">
                            Next
                        </button>
                    </div>
                    <div class="row-top-space" ng-if="$index === (ngDialogData.plan.variables.length-1)">
                        <button class="tal-btn--secondary tal-right-button" angular-ripple ng-click="closeThisDialog()">
                            Save and Close
                        </button>
                    </div>
                </div>
            </tal-tab-pane>
        </tal-tabs>
    </main>
    <a href="" class="tal-modal-close" ng-click="closeThisDialog()"><span class="vh">Close Plan Options dialog.</span></a>
</div>
