<div class="tal-credit-card">
    <div class="row form-grid" ng-form="purchaseRequestCreditCardPayment">
        
        <div class="col-md-12">
            <fieldset>
                <legend class="vh">Credit card information</legend>

                <div ng-show="ctrl.showServerError()" class="error">{{ctrl.creditCardPayment.error.data}}</div>

                <div class="form-group row">
                    <div class="col-sm-4 tal-credit-card-input-container">
                        <label class="control-label" for="cardType">Card type</label>
                        <form-select
                                tal-name="cardType"
                                name="cardTypeName"
                                class="form-control"
                                tal-id="cardType"
                                placeholder="Please select"
                                ng-required="ctrl.required()"
                                ng-model="ctrl.creditCardPayment.cardType"
                                tal-server-validate="purchaseRequest.paymentOptions.creditCardPayment.cardType"
                                ng-disabled="ctrl.creditCardPayment.isValidForInforce"
                                state-change="ctrl.cardTypeChange()"
                                form-select-items="ctrl.cardtypes">
                        </form-select>
                        <tal-form-input-error show-server-error-for="purchaseRequestCreditCardPayment.cardTypeName"></tal-form-input-error>
                        <tal-form-input-error show-error-for="purchaseRequestCreditCardPayment.cardTypeName" show-error-when="required">
                            Card type is required
                        </tal-form-input-error>
                    </div>
                    <div class="col-sm-4 tal-credit-card-input-container">
                        <label class="control-label" for="nameOnCard">Name on card</label>
                        <input type="text"
                                class="form-control"
                                id="nameOnCard"
                                name="nameOnCard"
                                placeholder="Enter name on card"
                                autocomplete="off"
                                ng-required="ctrl.required()"
                                ng-model="ctrl.creditCardPayment.nameOnCard"
                                ng-disabled="ctrl.creditCardPayment.isValidForInforce"
                                tal-server-validate="purchaseRequest.paymentOptions.creditCardPayment.nameOnCard">
                        <tal-form-input-error show-server-error-for="purchaseRequestCreditCardPayment.nameOnCard"></tal-form-input-error>
                        <tal-form-input-error show-error-for="purchaseRequestCreditCardPayment.nameOnCard" show-error-when="required">
                            Name on Card is required
                        </tal-form-input-error>
                    </div>
                    <div class="col-sm-4 tal-credit-card-input-container">
                        <label class="control-label" for="cardNumber">Credit card number</label>
                        <input type="tel"
                                class="form-control"
                                id="cardNumber"
                                name="cardNumber"
                                maxlength="16"
                                placeholder="Enter card number"
                                autocomplete="off"
                                ng-required="ctrl.required()"
                                ng-model="ctrl.creditCardPayment.cardNumber"
                                ng-disabled="ctrl.creditCardPayment.isValidForInforce"
                                tal-server-validate="purchaseRequest.paymentOptions.creditCardPayment.cardNumber">

                        <tal-form-input-error show-server-error-for="purchaseRequestCreditCardPayment.cardNumber"></tal-form-input-error>
                        <tal-form-input-error show-error-for="purchaseRequestCreditCardPayment.cardNumber" show-error-when="required">
                            Card number is required
                        </tal-form-input-error>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4 tal-credit-card-input-container">
                        <label class="control-label" for="expiryMonth">Card expiry month</label>
                        <form-select tal-id="expiryMonth"
                                     tal-name="expiryMonth"
                                     autocomplete="off"
                                     class="form-control"
                                     name="expiryMonthName"
                                     ng-required="ctrl.required()"
                                     ng-model="ctrl.creditCardPayment.expiryMonth"
                                     ng-disabled="ctrl.creditCardPayment.isValidForInforce"
                                     tal-server-validate="purchaseRequest.paymentOptions.creditCardPayment.expiryMonth"
                                     form-select-items="ctrl.months"
                                     is-collection="true"
                                     track-by-value="true">
                        </form-select>
                        <tal-form-input-error show-server-error-for="purchaseRequestCreditCardPayment.expiryMonthName"></tal-form-input-error>
                        <div ng-hide="ctrl.creditCardPayment.isValidForInforce">
                            <tal-form-input-error show-error-for="purchaseRequestCreditCardPayment.expiryMonthName" show-error-when="required">
                                Expiry month is required
                            </tal-form-input-error>
                        </div>
                    </div>
                    <div class="col-sm-4 tal-credit-card-input-container">
                        <label class="control-label" for="expiryYear">Card expiry year</label>
                        <form-select tal-id="expiryYear"
                                     tal-name="expiryYear"
                                     class="form-control"
                                     ng-required="ctrl.required()"
                                     name="expiryYearName"
                                     ng-model="ctrl.creditCardPayment.expiryYear"
                                     ng-disabled="ctrl.creditCardPayment.isValidForInforce"
                                     tal-server-validate="purchaseRequest.paymentOptions.creditCardPayment.expiryYear"
                                     form-select-items="ctrl.years"
                                     is-collection="true"
                                     track-by-value="true"
                                     state-change="ctrl.changeYear()">
                        </form-select>

                        <tal-form-input-error show-server-error-for="purchaseRequestCreditCardPayment.expiryYearName"></tal-form-input-error>
                        <div ng-hide="ctrl.creditCardPayment.isValidForInforce">
                            <tal-form-input-error show-error-for="purchaseRequestCreditCardPayment.expiryYearName" show-error-when="required">
                                Expiry year is required
                            </tal-form-input-error>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>