<div class="needs-analysis-occupation" ng-form="occupationForm">
	<h3>
		General information
	</h3>

	<form class="form-horizontal" name="basicInfoForm" novalidate>
	    <div class="form-grid question-centered">
			<div class="row tal-input-wrapper">
				<label for="occupation">What is your occupation?</label>
				<tal-occupation-search
					type="text"
					talId="occupation"
					ng-model="ctrl.basicInfo"
					selected-title="ctrl.basicInfo.occupationTitle"
					server-validate="ctrl.ratingFactorsRequest.occupation"
					placeholder="Begin typing to search"
					required>
				</tal-occupation-search>
			</div>

			<div class="row tal-input-wrapper">
				<label for="annualIncome">What is your annual income?</label>
				<span class="tal-form-amount">
					<input
						type="tel"
						id="annualIncome"
						name="annualIncome"
						required
						ng-model="ctrl.basicInfo.annualIncome"
						autocomplete="off"
						tal-currency-format whole-numbers-only="true"
						tal-server-validate="basicInfoViewModel.annualIncome"
						maxlength="9">
				</span>
				<tal-form-input-error
					show-server-error-for="occupationForm.annualIncome">
				</tal-form-input-error>
				<tal-form-input-error
					show-error-for="occupationForm.annualIncome"
					show-error-when="required">
					Annual income is required
				</tal-form-input-error>
				<tal-form-input-error
					show-error-for="occupationForm.annualIncome"
					show-error-when="format">
					Annual income is invalid
				</tal-form-input-error>
			</div>
		</div>

		<div class="question-actions">
			<button
				type="submit"
				class="tal-btn--secondary"
				angular-ripple
				ng-disabled="!ctrl.isOccupationValid()"
				ng-click="ctrl.validateIncome()">
				Continue
			</button>
		</div>
	</form>
</div>