<div class="tal-modal-aside" tabindex="0">
	<div class="tal-modal-aside-main">
		<h2 class="h5">Would you to bundle [[TPD Cover]] with your Life policy?</h2>
		<p>
			TPD Cover can be attached to a Life Insurance policy or purchased as stand-alone policy.
		</p>
		<ul class="tal-strong-list">
			<li>
				Making TPD Cover bundled will be cheaper but if you make a claim the payout amount will reduce your Life Cover
			</li>
			<li>
				Holding TPD Cover as a stand-alone policy is more expensive but if you make a claim your Life Cover will be unaffected
			</li>
		</ul>
		<h3 class="h5">Example of a claim: Victor</h3>
		<p>
			Victor, a 42 year old Software Developer, was paralysed in a car accident. His Life Cover of $1,750,000 with us included $500,000 TPD cover as a bundle. Victor received the $500,000 payout and used it to fund ongoing physical therapy and to pay off his mortgage. He now has $1,250,000 remaining on his Life Cover.
		</p>
	</div>
	<div class="tal-modal-aside-sidebar inverse-colors tal-centered">
		<h3 class="h5">How would you like your [[TPD]] policy set up?</h3>
		<div class="tal-btn-set">
			<button 
				type="submit" 
				class="tal-btn--secondary" 
				angular-ripple
				ng-click="closeThisDialog()">
				Set as Stand-alone
			</button>
			<div class="tal-hr"><span>OR</span></div>
			<button 
				type="submit" 
				class="tal-btn--secondary" 
				angular-ripple
				ng-click="closeThisDialog()">
				Set as Bundled
			</button>
		</div>
	</div>
</div>