<div class="tal-modal-aside" tabindex="0">
	<div class="tal-modal-aside-main">
		<header class="tal-modal-header visuallyhidden">
			<h2>Learn more about Critical Illness Cover</h2>
		</header>
		<main class="tal-modal-body row">
			<h3 class="h4 tal-modal-space-for-close">Benefits of critical illness cover</h3>
			<p>
				Critical illness insurance is designed so that you can stop work and concentrate on getting better. You can use this money to pay down debt and cover living expenses, along with your medical costs and any modifications needed to your home (such as rails or wheelchair access).
			</p>
			<h3 class="h4">Case study*</h3>
			<p>
				Sophie, a 52 year old bookkeeper, found she had thyroid cancer after her doctor ran some tests for some pain and swelling in her neck. 
			<p>
			</p>
				Under her Critical illness cover with us, Sophie received $781,385 which she used to pay off the last part of her mortgage, all her surgery bills and a short holiday to recuperate before going back to work.
			</p>

			<p class="p--footnote">
				* Illustration only, however key details in this case study are based on a real TAL claim.
			</p>
		</main>
		<a href="" class="tal-modal-close" ng-click="closeThisDialog()"><span class="vh">Close Help Me Choose dialog.</span></a>
	</div>
	<div class="tal-modal-aside-sidebar inverse-colors">
		<h3 class="h5">Modal with an aside</h3>

		<ul class="tal-icon-list">
			<li class="icon-download">
				<div>
					<p>Get the full details of Critical Illness Cover</p>
					<a href="" class="tal-link--strong">
					 	Download PDS
					</a>
				</div>
			</li>
			<li class="icon-help">
				<div>
					<p>Need more information about Critical Illness Cover?</p>
					<a href="" class="tal-link--strong">
					 	Find out more
					</a>
				</div>
			</li>
			<li class="icon-chat">
				<div>
					<p>Need help?</p>
					<a href="" class="tal-link--strong">
					 	Talk with an advisor
					</a>
				</div>
			</li>
		</ul>

		<button type="submit" class="tal-btn--secondary" angular-ripple>
		    Calculate cover amount
		</button>
	</div>
</div>