<div class="tal-modal" tabindex="0">
	<header class="tal-modal-header tal-modal-space-for-close">
		<h2 class="h3">Modal with header</h2>
	</header>
	<main class="tal-modal-body">
		<p>
			It could be said that the main theme of the works of Eco is the rubicon, and subsequent collapse, of neocapitalist society. Foucault promotes the use of precapitalist socialism to challenge class divisions.
		</p>
	</main>
	<a href="" class="tal-modal-close" ng-click="closeThisDialog()"><span class="vh">Close Help Me Choose dialog.</span></a>
</div>