<div class="tal-modal" tabindex="0">
	<header class="tal-modal-header-dark tal-modal-space-for-close row">
		<h2 
			class="h3 tal-modal-space-for-close col-sm-7 col-lg-8 col-xl-9">
			LIFE COVER + CRITICAL ILLNESS + TPD COVER OPTIONS
		</h2>
		<tal-figure 
			class="col-sm-4 col-lg-3 tal-option-modal-figure"
			value="figValue"
			type="review"
		></tal-figure>
	</header>
	<main class="tal-modal-body no-padding">
		<tal-tabs
			tabs-api="tabsApi"
			tal-animate-height
			is-h-tabs="true"
			tabs-at="m"
			default-tab="0">
			<tal-tab-pane title="Accidents">
				<form>
					<h3 class="h5">Accidents and injuries</h3>
					<p>
						Accident Cover provides a lump sum if your death is the result of a physical injury. 
					</p>
					<p>
						Accidents accounted for roughly 27% of TALs Life payouts, 45% of TALs Critical Illness payouts and 17% of TALs TPD payouts over the last five years for people like you ([men/women] between the ages of [XX to XX]).
					</p>
					<div class="row-top-space">
						<form-radio 
							class="tal-form-radio col-xs-6" 
							name="radio00"
							value="opt1"
							ng-model="data.value00"
							tal-form-id="radio00">
							Include accidents & injuries
						</form-radio>
						<form-radio
							class="tal-form-radio col-xs-6"
							name="radio01"
							value="opt2"
							ng-model="data.value01"
							tal-form-id="radio01">
							Exclude accidents & injuries
						</form-radio>
					</div>
					<div class="row-top-space">
						<button 
							class="tal-btn--secondary tal-right-button" 
							angular-ripple
							ng-click="tabsApi.next()">
						    Next
						</button>
					</div>
				</form>
			</tal-tab-pane>
			<tal-tab-pane title="Disease" enabled="false">
				<p>“Reality is impossible,” says Sontag; however, according to Drucker[3] , it is not so much reality that is impossible, but rather the paradigm, and some would say the defining characteristic, of reality. What starts out as contemplation soon becomes manipulated into a manifesto of defeat, leaving only a sense of dread and the dawn of a new reality. It could be said that the example of the semiotic paradigm of expression which is a central theme of Eco’s The Limits of Interpretation (Advances in Semiotics) is also evident in The Name of the Rose, although in a more mythopoetical sense.</p>
				<div class="row-top-space">
					<button 
						class="tal-btn--secondary tal-right-button" 
						angular-ripple
						ng-click="tabsApi.next()">
					    Next
					</button>
				</div>
			</tal-tab-pane>
			<tal-tab-pane title="Adventure sports">
				<p>Nevertheless, we have to choose between the cultural paradigm of expression and the conceptualist paradigm of consensus. The subject is contextualised into a postdialectic libertarianism that includes sexuality as a whole. The subject is contextualised into a precapitalist socialism that includes art as a totality.</p>
				<div class="row-top-space">
					<button 
						class="tal-btn--secondary tal-right-button" 
						angular-ripple
						ng-click="tabsApi.next()">
					    Next
					</button>
				</div>
			</tal-tab-pane>
			<tal-tab-pane title="Disease">
				<p>“Reality is impossible,” says Sontag; however, according to Drucker[3] , it is not so much reality that is impossible, but rather the paradigm, and some would say the defining characteristic, of reality. What starts out as contemplation soon becomes manipulated into a manifesto of defeat, leaving only a sense of dread and the dawn of a new reality. It could be said that the example of the semiotic paradigm of expression which is a central theme of Eco’s The Limits of Interpretation (Advances in Semiotics) is also evident in The Name of the Rose, although in a more mythopoetical sense.</p>
				<div class="row-top-space">
					<button 
						class="tal-btn--secondary tal-right-button" 
						angular-ripple
						ng-click="closeThisDialog()">
					    Save and exit
					</button>
				</div>
			</tal-tab-pane>
		</tal-tabs>
	</main>
	<a href="" class="tal-modal-close" ng-click="closeThisDialog()"><span class="vh">Close Help Me Choose dialog.</span></a>
</div>