<div class="tal-modal-aside" tabindex="0">
	<div class="tal-modal-aside-main">
		<header class="tal-modal-header visuallyhidden">
			<h2>Modal: aside</h2>
		</header>
		<main class="tal-modal-body row">
			<h2 class="h4 tal-modal-space-for-close">Modal: aside</h2>
			<p>
				The subject is contextualised into a precapitalist socialism that includes art as a totality. However, the subject is interpolated into a postdialectic libertarianism that includes art as a paradox. Baudrillard uses the term ‘the cultural paradigm of expression’ to denote the role of the poet as reader. It could be said that the main theme of the works of Eco is the rubicon, and subsequent collapse, of neocapitalist society.
				The cultural paradigm of expression holds that narrativity is used to oppress the Other. “Reality is impossible,” says Sontag; however, according to Drucker[3] , it is not so much reality that is impossible, but rather the paradigm, and some would say the defining characteristic, of reality. Its difficult to enter into this work because of how the mechanical mark-making of the figurative-narrative line-space matrix spatially undermines the substructure of critical thinking.  As an advocate of the Big Mac Aesthetic, I feel that the metaphorical resonance of the wise fish threatens to penetrate the exploration of montage elements. 
			</p>
		</main>
		<a href="" class="tal-modal-close" ng-click="closeThisDialog()"><span class="vh">Close Help Me Choose dialog.</span></a>
	</div>
	<div class="tal-modal-aside-sidebar inverse-colors">
		<h3 class="h5">Modal with an aside</h3>
		<p>
			Thus, any number of discourses concerning not depatriarchialism as such, but predepatriarchialism may be revealed.
		</p>
	</div>
</div>