<div class="tal-modal tal-modal-secondary" tabindex="0" cg-busy="loadingPromise">
    <div>
		<header class="tal-modal-header tal-modal-space-for-close row">
			<h2 class="h3">Quote Reference Number &nbsp;<span ng-bind="ngDialogData.quoteNumber.quoteReferenceNumber"></span></h2>
		</header>
		<main class="tal-modal-body">
			<ng-include src="'/client/appCustomerPortal/components/appSave/modal/saveGate.modal.success.html'"></ng-include>
		</main>
    </div>

    <a href="" class="tal-modal-close"
       ng-hide="ngDialogData.forced"
       ng-click="closeThisDialog()">
       <span class="vh"></span>
    </a>
    <a href="" class="tal-modal-close"
       ng-show="ngDialogData.errorWithSave"
       ng-click="ctrl.submitWithoutPassword()">
    </a>
</div>
