<div class="tal-modal" tabindex="0">
	<header class="tal-modal-header-dark">
		<h2 class="h4 tal-modal-space-for-close">Call us now to speak to one of our friendly agents.</h2>
		<p class="h1 tal-contact-modal-number"><a href="tel:1300886802">1300 886 802</a></p>
		<p class="tal-contact-modal-bizhours">Our business hours are <span>Monday to Friday, </span><span>9am-5pm (AEDT).</span></p>
	</header>
	<main
		class="tal-modal-body no-padding">
		<tal-tabs
			tabs-api="tabsApi"
			tal-animate-height
			is-h-tabs="true"
			tabs-at="m"
			default-tab="0">
			<tal-tab-pane title="Request a callback">
				<form>
					<div class="row">
						<div class="col-sm-6 col-md-12 col-lg-6">
							<div class="tal-input-wrapper">
								<label for="firstname">First name</label><br/>
								<input id="firstname" type="text" ng-model="ctrl.data.firstname">
							</div>
						</div>
						<div class="col-sm-6 col-md-12 col-lg-6">
							<div class="tal-input-wrapper">
								<label for="lastname">Last name</label><br/>
								<input id="lastname" type="text" ng-model="ctrl.data.lastname">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-md-12 col-lg-6">
							<div class="tal-input-wrapper">
								<label for="phone">Phone number</label><br/>
								<input 
									id="phone"
									type="text" 
									ui-mask="(+99) 9999 999 999" 
									ng-model="ctrl.data.phone" 
									ui-mask-placeholder 
									ui-mask-placeholder-char="0"
								>
							</div>
						</div>
						<div class="col-sm-6 col-md-12 col-lg-6">
							<button 
								tal-cq
								type="submit" 
								class="tal-btn--secondary tal-contact-modal-submit" 
								angular-ripple
								ng-click="closeThisDialog()">
							    Send quote
							</button>
						</div>
					</div>
				</form>
			</tal-tab-pane>
			<tal-tab-pane title="Chat now">
				<p>“Reality is impossible,” says Sontag; however, according to Drucker[3] , it is not so much reality that is impossible, but rather the paradigm, and some would say the defining characteristic, of reality. What starts out as contemplation soon becomes manipulated into a manifesto of defeat, leaving only a sense of dread and the dawn of a new reality. It could be said that the example of the semiotic paradigm of expression which is a central theme of Eco’s The Limits of Interpretation (Advances in Semiotics) is also evident in The Name of the Rose, although in a more mythopoetical sense.</p>
			</tal-tab-pane>
			<tal-tab-pane title="Email us">
				<p>Nevertheless, we have to choose between the cultural paradigm of expression and the conceptualist paradigm of consensus. The subject is contextualised into a postdialectic libertarianism that includes sexuality as a whole. The subject is contextualised into a precapitalist socialism that includes art as a totality.</p>
			</tal-tab-pane>
		</tal-tabs>
	</main>
	<a href="" class="tal-modal-close" ng-click="closeThisDialog()"><span class="vh">Close Help Me Choose dialog.</span></a>
</div>