<div class="tal-modal-basic" tabindex="0">
	<header class="tal-modal-header visuallyhidden">
		<h2>Help me choose</h2>
	</header>
	<main class="tal-modal-body row">
		<div class="col-md-8 col-lg-9">
			<div class="tal-hmc-question">
				<h3 class="h4 tal-modal-space-for-close">Why do you want insurance?</h3>
				<p>
					People typically take out insurance to cover these types of scenarios. By clicking on a scenario we can show you the types of cover we have.
				</p>
				<div class="tal-form-checkbox-list">
				    <form-checkbox tal-name="checkbox-hmc-1" tal-id="checkbox-hmc-1" class="tal-form-checkbox" ng-model="data.value1">Support my family if I pass away</form-checkbox>
				    <form-checkbox tal-name="checkbox-hmc-2" tal-id="checkbox-hmc-2" class="tal-form-checkbox" ng-model="data.value2">Support my family if I become ill or injured</form-checkbox>
				    <form-checkbox tal-name="checkbox-hmc-3" tal-id="checkbox-hmc-3" class="tal-form-checkbox" ng-model="data.value3">Maintain my ongoing income if I become ill or injured</form-checkbox>
				    <form-checkbox tal-name="checkbox-hmc-4" tal-id="checkbox-hmc-4" class="tal-form-checkbox" ng-model="data.value4">Pay off my debts if I pass away or become permanently incapacitated</form-checkbox>
				    <form-checkbox tal-name="checkbox-hmc-5" tal-id="checkbox-hmc-5" class="tal-form-checkbox" ng-model="data.value5">Protect myself with a lump sum payment if I become seriously ill or injured</form-checkbox>
				</div>

				<button type="submit" class="tal-btn--secondary" angular-ripple>
				    Continue
				</button>
			</div>
		</div>
		<div class="col-md-4 col-lg-3" aria-hidden="true">
			<div class="tal-hmc-sidebar">
				<h3 class="h5">Your needs:</h3>
				<tal-progress-bar progress="23" total="35"></tal-progress-bar>
				<tal-progress-bar progress="0" total="35"></tal-progress-bar>
				<tal-progress-bar progress="34" total="35"></tal-progress-bar>
				<tal-progress-bar progress="8" total="35"></tal-progress-bar>
			</div>
		</div>
	</main>
	<a href="" class="tal-modal-close" ng-click="closeThisDialog()"><span class="vh">Close Help Me Choose dialog.</span></a>
</div>