<div class="tal-modal-aside" tabindex="0">
	<div class="tal-modal-aside-main">
		<header class="tal-modal-header">
			<h2 class="h5">Premium type</h2>
		</header>
		<main class="tal-modal-body row">
			<div class="col-md-6">
				<p>
					Insurance premiums usually increase with age because the older you get, the more likely you are to make an insurance claim. Here is the difference between stepped and level premiums:
				</p>
				<ul class="tal-strong-list">
					<li><strong class="subject">Stepped premiums</strong> - Your insurance premium will increase each year as you get older but is cheaper in the beginning.</li>
					<li class="tal-strong-list-alt"><strong class="subject">Level premiums</strong> - Your insurance premium does not change due to your age but is generally more expensive than a stepped premium in the beginning.</li>
				</ul>
			</div>
			<div class="col-md-5 offset-md-1">
				<img 
					title="Premium Type: Stepped vs Level" 
					alt="Graph showing the two premium type: Stepped vs Level." 
					src="./client/images/premium-type-graph.jpg"
					class="tal-image"
				/>
			</div>
			<div class="col-md-12">
				<p>
					If you want to control your costs over time then level premiums may suit you. Level premiums are higher in the beginning but much cheaper than stepped premiums when you are older. If you intend to hold the insurance for a long time, level premiums are likely to be cheaper in the long run.  Please note that level premiums may increase over time due to inflation adjustments or changes to the insurer's fees.
				</p>
			</div>
		</main>
		<a href="" class="tal-modal-close" ng-click="closeThisDialog()"><span class="vh">Close Help Me Choose dialog.</span></a>
	</div>
	<div class="tal-modal-aside-sidebar inverse-colors tal-centered">
		<h3 class="h5">How would you like your policy set up?</h3>
		<div class="tal-btn-set">
			<button type="submit" class="tal-btn--secondary" angular-ripple>
				Select Stepped Premium
			</button>
			<div class="tal-hr"><span>OR</span></div>
			<button type="submit" class="tal-btn--secondary" angular-ripple>
		    	Select Level Premium
			</button>
		</div>
	</div>
</div>