<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="brandSettings" type="TAL.QuoteAndApply.SalesPortal.Web.Configuration.BrandSettingsConfigurationSection, TAL.QuoteAndApply.SalesPortal.Web"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <brandSettings>
    <brands>
      <brand key="TAL" enabled="true">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter_QA" agentGroup=".uTalConsumerAgent_QA" readOnlyGroup=".uTalConsumerReadOnly_QA" />
      </brand>
      <brand key="YB" enabled="true">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter_QA" agentGroup=". uYbConsumerAgent _QA" readOnlyGroup=".uYbConsumerReadOnly_QA" />
      </brand>
      <brand key="QA" enabled="true">
        <authSetting underwritingGroup=".uTalConsumerUnderwriter_QA" agentGroup=".uQantasConsumerAgent_QA" readOnlyGroup=".uQantasConsumerReadOnly_QA" />
      </brand>
    </brands>
  </brandSettings>
  <appSettings file="C:\ILSource\tal-quote-apply\local.config">
    <add key="Application.Brand.Key" value="tal" />
    <add key="Search.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="Search.Database" value="TALQuoteAndApplyCI" />
    <add key="Search.IndexRoot" value="C:\ilsource\lucene" />
    <add key="Party.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="Policy.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="Payment.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="PremiumCalculation.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="Interactions.SqlConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="Configuration.ConnectionString" value="server=TDCIMMDB1\SQL2012;database=TALQuoteAndApplyCI;Integrated Security=SSPI;" />
    <add key="Underwriting.BaseUrl" value="http://qa3-talus.delivery.lan/" />
    <add key="Underwriting.TemplateName" value="TAL Consumer" />
    <add key="Underwriting.FullWorkflow" value="TALCFULLUW" />
    <add key="Underwriting.TalusUiUrl" value="http://qa3.phoenix.delivery.lan/" />
    <add key="UserRoles.Domain" value="TOWER" />
    <add key="Leads.ServiceBaseUrl" value="http://madevsv002:81/V2/" />
    <add key="Leads.Version" value="2" />
    <add key="Leads.Timeout" value="5" />
    <add key="Leads.BrandCode" value="TAL" />
    <add key="Superannuation.ServiceBaseUrl" value="http://dev.fund.tal.lan" />
    <add key="RaisePolicy.ServiceBaseUrl" value="http://dev1.raisepolicy.tal.lan/" />
    <add key="RaisePolicy.UserName" value="ethilapp" />
    <add key="RaisePolicy.Password" value="1N5urance" />
    <add key="RaisePolicy.Domain" value="TOWER" />
    <add key="RaisePolicy.EnvironmentKey" value="local" />
    <add key="RaisePolicy.ErrorNotificationEmailAddress" value="TDNotifyUser@tal.com.au" />
    <add key="Payment.PasEncryptionServiceBaseUrl" value="http://pastfnencryption.dev1.delivery.lan" />
    <add key="Payment.PasEncryptionServiceUser" value="EthilApp" />
    <add key="Payment.PasEncryptionServicePassword" value="1N5urance" />
    <add key="Payment.PasEncryptionServiceDomain" value="TOWER" />
    <add key="Feature.AdobeLeadsServiceTrigger" value="true" />
    <add key="PremiumCalculation.MultiPlanDiscountPlanLimit" value="4" />
    <add key="SalesPortalHostName" value="local-talsalesportal.delivery.lan"/>
  </appSettings>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\Logs\\TAL.QuoteAndApply.SalesPortal.IntegrationTests.txt" />
      <appendToFile value="true" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %t %aspnet-request{request_method} %aspnet-request{URL} %aspnet-request{query_string} %logger - %message%n%exception" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
</configuration>