<div class="form-submit-indicator">
    <span class="inline-update-notification update-in-progress" ng-show="status === statuses.IN_PROGRESS">
        Updating <span class="fa fa-ellipsis-h"></span>
    </span>
    <span class="inline-update-notification update-success" ng-show="status === statuses.SUCCESS">
        Updated <span class="fa fa-check"></span>
    </span>
    <span class="inline-update-notification update-failure" ng-show="status === statuses.FAILURE">
        {{::errorMessage}} <span class="fa fa-exclamation-triangle"></span>
    </span>
</div>
