<div class="row paging">
    <div class="col-xs-12">

        <button class="btn btn-primary" ng-disabled="!ctrl.hasPreviousPage()" ng-click="ctrl.onPreviousPage()">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
        </button>

        <span class="paging-status">{{ctrl.currentPage}} of {{ctrl.pageCount}}</span>

        <button class="btn btn-primary" ng-disabled="!ctrl.hasNextPage()" ng-click="ctrl.onNextPage()">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
    </div>
</div>