<div id="beneficiaries" class="form-section risk-beneficiary-details-section" cg-busy="loadingPromise" read-only-form="readOnly">

    <div class="container-fluid">
        <tal-form-updating-indicator promise="updatingPromise"></tal-form-updating-indicator>
    </div>
    <div class="container-fluid">
       
        <h3>Nominate one or more beneficiaries for the Life Insured</h3>
        <label class="control-label" tal-inline-submit="onLprChange()">
            <input type="hidden" class="form-control ng-pristine ng-untouched ng-valid ng-valid-server" ng-model="coverModel.selected" tal-server-validate="editPolicyRequest.liAccidentCover" name="coverSelected" emit-ui-update="true">
            <input type="checkbox" ng-model="lpr" name="value" class="ng-pristine ng-valid ng-touched">
            <span>Leave to estate</span>
        </label>
        <hr />
    </div>

    <div ng-class="{'disabled': lpr}" class="beneficiary-container" ng-repeat="beneficiaryDetails in beneficiaries track by $index" read-only-form="readOnly">
        <div ng-form="{{'beneficiaryDetailsRequest[' + $index + ']'}}">

            <div class="row">
                <h2 class="col-xs-12">
                    <span class="col-xs-7">Beneficiary {{($index+1)}}</span>
                </h2>
            </div>
            <input type="hidden" ng-model="beneficiaryDetails.id" />
            <div class="container-fluid">

                <div class="row">

                    <div class="col-sm-8">
                        <h3 class="margin-bottom-0">Personal Details</h3>
                    </div>
                    <div class="col-sm-4 text-right" ng-if="!readOnly">
                        <div class="btn-group" uib-dropdown is-open="status.isopen">
                            <a id="single-button" class="btn-secondary action-icon" uib-dropdown-toggle ng-disabled="disabled">
                                <i class="fa fa-bars"></i>
                            </a>
                            <div uib-dropdown-menu role="menu" aria-labelledby="single-button" class="dropdown-menu-right">
                                <div role="menuitem">
                                    <a ng-click="copyRiskAddress($index, beneficiaryDetailsRequest[$index])">
                                        <i class="fa fa-files-o"></i>Pre-fill based on policy holder
                                    </a>
                                </div>
                                <tal-risk-beneficiaries-menu-items action="copyBeneficiaryAddress" index="$index" form="beneficiaryDetailsRequest[$index]" beneficiaries="$parent.beneficiaries"></tal-risk-beneficiaries-menu-items>
                                <div role="separator" class="divider"></div>
                                <div role="menuitem">
                                    <a ng-click="removeBeneficiary(beneficiaryDetails)">
                                        <i class="fa fa-trash-o"></i>Remove beneficiary {{($index+1)}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group" show-errors tal-inline-submit="submitForm()">
                            <label class="control-label">Title</label>
                            <select class="form-control" name="title"
                                    tal-server-validate="beneficiaryDetailsRequest[{{$index}}].title"
                                    ng-model="beneficiaryDetails.title" ng-options="t for t in titles">
                                <option value="" disabled selected>Please select</option>
                            </select>
                            <tal-form-error ng-form-model="beneficiaryDetailsRequest[$index].title"></tal-form-error>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" show-errors tal-inline-submit="submitForm()">
                            <label class="control-label">Name</label>
                            <input type="text" class="form-control" name="firstName"
                                   ng-model="beneficiaryDetails.firstName" maxlength="22"
                                   tal-server-validate="beneficiaryDetailsRequest[{{$index}}].firstName">
                            <tal-form-error ng-form-model="beneficiaryDetailsRequest[$index].firstName"></tal-form-error>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" show-errors tal-inline-submit="submitForm()">
                            <label class="control-label">Surname</label>
                            <input type="text" class="form-control" name="surname"
                                   ng-model="beneficiaryDetails.surname" maxlength="22"
                                   tal-server-validate="beneficiaryDetailsRequest[{{$index}}].surname"
                                   ng-class="{'highlight' : beneficiaryDetailsRequest[$index].highlight}">
                            <tal-form-error ng-form-model="beneficiaryDetailsRequest[$index].surname"></tal-form-error>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <tal-dob-with-age warnings-enabled="false" section="section" ng-model="beneficiaryDetails.dateOfBirth"
                                          server-validate="beneficiaryDetailsRequest[{{$index}}].dateOfBirth"
                                          inline-submit="submitForm()"
                                          class="ng-pristine ng-untouched ng-valid ng-isolate-scope">
                        </tal-dob-with-age>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" show-errors tal-inline-submit="submitForm()">
                            <label class="control-label">Relationship to the Insured</label>
                            <select class="form-control" 
                                    name="beneficiaryRelationshipId"
                                    ng-model="beneficiaryDetails.beneficiaryRelationshipId"
                                    tal-server-validate="beneficiaryDetailsRequest[{{$index}}].beneficiaryRelationshipId"
                                    ng-class="{'highlight' : beneficiaryDetailsRequest[$index].highlight}"
                                    ng-options="r.id as r.description for r in relationships">
                                <option value="" disabled selected>Please select</option>
                            </select>
                            <tal-form-error ng-form-model="beneficiaryDetailsRequest[$index].beneficiaryRelationshipId"></tal-form-error>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <h3>Home Address</h3>

                <hr />
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group" show-errors tal-inline-submit="submitForm()">
                            <label class="control-label">Address</label>
                            <input type="text" class="form-control" name="address"
                                   ng-model="beneficiaryDetails.address" maxlength="30"
                                   tal-server-validate="beneficiaryDetailsRequest[{{$index}}].address"
                                  ng-class="{'highlight' : beneficiaryDetailsRequest[$index].highlight}">
                            <tal-form-error ng-form-model="beneficiaryDetailsRequest[$index].address"></tal-form-error>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" show-errors tal-inline-submit="submitForm()">
                            <label class="control-label">Suburb</label>
                            <input type="text" class="form-control" name="suburb"
                                   ng-model="beneficiaryDetails.suburb" maxlength="20"
                                   tal-server-validate="beneficiaryDetailsRequest[{{$index}}].suburb"
                                   ng-class="{'highlight' : beneficiaryDetailsRequest[$index].highlight}">
                            <tal-form-error ng-form-model="beneficiaryDetailsRequest[$index].suburb"></tal-form-error>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group" show-errors tal-inline-submit="submitForm()">
                            <label class="control-label">State</label>
                            <select class="form-control" name="state"
                                    ng-model="beneficiaryDetails.state"
                                    tal-server-validate="beneficiaryDetailsRequest[{{$index}}].state"
                                    ng-options="s for s in states"
                                    ng-class="{'highlight' : beneficiaryDetailsRequest[$index].highlight}">
                                <option value="" disabled selected>Please select</option>
                            </select>
                            <tal-form-error ng-form-model="beneficiaryDetailsRequest[$index].state"></tal-form-error>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" show-errors tal-inline-submit="submitForm()">
                            <label class="control-label">Postcode</label>
                            <input type="text" class="form-control" name="postcode"
                                   ng-model="beneficiaryDetails.postcode" maxlength="4"
                                   tal-server-validate="beneficiaryDetailsRequest[{{$index}}].postcode"
                                   ng-class="{'highlight' : beneficiaryDetailsRequest[$index].highlight}">
                            <tal-form-error ng-form-model="beneficiaryDetailsRequest[$index].postcode"></tal-form-error>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <h3>Contact</h3>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group" show-errors tal-inline-submit="submitForm()">
                            <label class="control-label">Phone</label>
                            <input type="text" class="form-control" name="phoneNumber"
                                   ng-model="beneficiaryDetails.phoneNumber" maxlength="10"
                                   tal-server-validate="beneficiaryDetailsRequest[{{$index}}].phoneNumber"
                                   ng-class="{'highlight' : beneficiaryDetailsRequest[$index].highlight}">
                            <tal-form-error ng-form-model="beneficiaryDetailsRequest[$index].phoneNumber"></tal-form-error>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" show-errors tal-inline-submit="submitForm()">
                            <label class="control-label">Email</label>
                            <input type="text" class="form-control" name="emailAddress"
                                   ng-model="beneficiaryDetails.emailAddress" maxlength="80"
                                   tal-server-validate="beneficiaryDetailsRequest[{{$index}}].emailAddress">
                            <tal-form-error ng-form-model="beneficiaryDetailsRequest[$index].emailAddress"></tal-form-error>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container-fluid">
                <h3>Percentage of Benefit</h3>
                <hr />
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" show-errors tal-inline-submit="submitForm()">
                            <div class="row">
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="share"
                                               ng-model="beneficiaryDetails.share" maxlength="10"
                                               tal-server-validate="beneficiaryDetailsRequest[{{$index}}].share">
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <tal-form-error ng-form-model="beneficiaryDetailsRequest[$index].share"></tal-form-error>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" ng-class="{'disabled': lpr||readOnly}">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <button type="button" class="btn btn-tertiary btn-fit" ng-click="addBeneficiary()" ng-if="canAddBeneficiary()">Add Another Beneficiary</button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-tertiary btn-fit" ng-click="validateForm()">Confirm Beneficiaries</button>
            </div>
        </div>
    </div>
</div>
