<p class="p--featured">
	p--featured: In the works of Eco, a predominant concept is the distinction between without and within. The subject is contextualised into a cultural paradigm of expression that includes consciousness as a paradox.
</p>

<p class="p--small">
	p--small: In the works of Eco, a predominant concept is the distinction between without and within. The subject is contextualised into a cultural paradigm of expression that includes consciousness as a paradox.
</p>

<p class="p--smaller">
	p--smaller: In the works of Eco, a predominant concept is the distinction between without and within. The subject is contextualised into a cultural paradigm of expression that includes consciousness as a paradox.
</p>

<p class="p">
	p: It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>

<p class="p--larger">
	p--larger: Sontag’s critique of posttextual appropriation states that the Constitution is fundamentally elitist. What starts out as contemplation soon becomes manipulated into a manifesto of defeat, leaving only a sense of dread and the dawn of a new reality.
</p>

<p class="p--larger-emph">
	p--larger-emph: I agree with some of the things that have just been said, but the reductive quality of the facture brings within the realm of discourse the inherent overspecificity. 
</p>

<p class="h-minor-heading">
	h-minor-heading: I agree with some of the things that have just been said, but the reductive quality of the facture brings within the realm of discourse the inherent overspecificity. 
</p>

<p class="p--footnote">
	p--footnote: I agree with some of the things that have just been said, but the reductive quality of the facture brings within the realm of discourse the inherent overspecificity. 
</p>

