<ul class="tal-strong-list">
  <li><strong class="subject">Stepped premiums</strong> - Your insurance premium will increase each year as you get older but is cheaper in the beginning.</li>
  <li class="tal-strong-list-alt"><strong class="subject">Level premiums</strong> - Your insurance premium does not change due to your age but is generally more expensive than a stepped premium in the beginning.</li>
  <li>Stepped premiums - Your insurance premium will increase each year as you get older but is cheaper in the beginning.</li>
  <li class="tal-strong-list-alt">Level premiums - Your insurance premium does not change due to your age but is generally more expensive than a stepped premium in the beginning.</li>
</ul>