<!-- START Click to Chat Module -->
<section id="click-to-chat" class="ctc ctc--loading fn_ctc no-print"
         ng-show="!ctrl.hide"
         ng-class="{'ctc--show': ctrl.isOpen}">

    <a href="" class="ctc__open fn_ctc__open" ng-click="ctrl.onOpen()">
        <span class="ctc__open-inner">Chat to us</span>
    </a>

    <div class="ctc__panel fn_ctc__panel" cg-busy="ctrl.loadingPromise">

        <div class="ctc__body">
            <h5>How can we help?</h5>
            <p>You can select from the options below, or call us on&nbsp;<tal-phone-number-link></tal-phone-number-link></p>
        </div>

        <div class="ctc__opts">
            <ul class="ctc__opts-list cf">
                <li class="ctc__opts-item">
                    <a class="ctc__opts-item-link ctc__opt--mail"
                       href=""
                       ng-click="ctrl.onMessage()">
                        <span disabled-text="unavailable">Email us</span>
                    </a>
                </li>
                <li class="ctc__opts-item" ng-if="ctrl.chatAvailability.webChatIsAvailable">
                    <a ng-click="ctrl.onChat()"
                       target="_blank"
                       href=""
                       class="ctc__opts-item-link ctc__opt--chat fn_ctc-link"
                       ng-class="{'is-disabled': !ctrl.chatAvailability.webChatIsAvailable}">
                        <span disabled-text="unavailable">Click-To-Chat</span>
                    </a>
                </li>
                <li class="ctc__opts-item" ng-if="ctrl.requestCallbackData.riskId && !ctrl.callMeBackSubmitted">
                    <a class="ctc__opts-item-link ctc__opt--phone"
					   href=""
                       ng-click="ctrl.onPhone()"
                       ng-class="{'is-disabled': !ctrl.requestCallbackData.riskId}">
                        <span disabled-text="unavailable">Call me back</span>
                    </a>
                </li>
            </ul>
        </div>

        <a href="" class="ctc__close fn_ctc__close" ng-click="ctrl.onClose()"><span class="vh">Close</span></a>
    </div>

</section>
