<div class="tal-modal" tabindex="0"  cg-busy="ctrl.loadingPromise">
    <header class="tal-modal-header-dark">
        <h2 class="h4 tal-modal-space-for-close">Call us now to speak to one of our friendly agents.</h2>
        <p class="h1 tal-contact-modal-number"><tal-phone-number-link></tal-phone-number-link></p>
        <p class="tal-contact-modal-bizhours">
            Our business hours are <br>
            <span>Monday to Friday, </span><span>&nbsp; 9am-7pm (AEDT).</span></p>
    </header>
    <main class="tal-modal-body no-padding">
        <tal-tabs tal-animate-height is-h-tabs="true" tabs-at="m" default-tab="{{ctrl.defaultTab}}">
            <tal-tab-pane title="Email us">
                <p>Feel free to drop us a line and we'll get back within business hours - Monday to Friday 9am-7pm (AEDT).</p>
                <a href="mailto:insuranceadvicecentre@tal.com.au">insuranceadvicecentre@tal.com.au</a>
            </tal-tab-pane>
            <tal-tab-pane title="Click-To-Chat" ng-if="ctrl.chatAvailability.webChatIsAvailable">
                <tal-chat-to-agent-link class="chat-help-text" chat-availability="ctrl.chatAvailability">Chat to an agent</tal-chat-to-agent-link>
            </tal-tab-pane>
            <tal-tab-pane title="Call me back" ng-if="ctrl.requestCallbackData.riskId">
                <form class="request-callback-form" name="requestCallbackForm"  novalidate>
                    <fieldset class="form-grid">
                        <div class="row">
                            <div class="col-sm-6 col-md-12 col-lg-6">
                                <div class="tal-input-wrapper">
                                    <label class="control-label">First name</label><br/>
                                    <input type="text" maxlength="22" name="firstName" ng-model="ctrl.requestCallbackData.firstName" required tal-server-validate="request.firstName" ng-change="ctrl.contactDetailsChange()">
                                    <tal-form-input-error show-server-error-for="requestCallbackForm.firstName"></tal-form-input-error>
                                    <tal-form-input-error show-error-for="requestCallbackForm.firstName" show-error-when="required">First name is required</tal-form-input-error>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12 col-lg-6">
                                <div class="tal-input-wrapper">
                                    <label class="control-label">Last name</label>
                                    <br/>
                                    <input type="text" maxlength="22" name="lastName" ng-model="ctrl.requestCallbackData.lastName" required tal-server-validate="request.lastName" ng-change="ctrl.contactDetailsChange()">
                                    <tal-form-input-error show-server-error-for="requestCallbackForm.lastName"></tal-form-input-error>
                                    <tal-form-input-error show-error-for="requestCallbackForm.lastName" show-error-when="required">Last name is required</tal-form-input-error>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-12 col-lg-6">
                                <div class="tal-input-wrapper">
                                    <label class="control-label">Phone number</label>
                                    <br/>
                                    <input type="tel" maxlength="10" name="phoneNumber" ng-model="ctrl.requestCallbackData.phoneNumber" required tal-server-validate="request.phoneNumber" ng-change="ctrl.contactDetailsChange()">
                                    <tal-form-input-error show-server-error-for="requestCallbackForm.phoneNumber"></tal-form-input-error>
                                    <tal-form-input-error show-error-for="requestCallbackForm.phoneNumber" show-error-when="required">Phone number is required</tal-form-input-error>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12 col-lg-6">
                                <div class="tal-input-wrapper">
                                    <label class="control-label">Email</label>
                                    <br/>
                                    <input type="email" maxlength="80" name="emailAddress" ng-model="ctrl.requestCallbackData.emailAddress" tal-server-validate="request.emailAddress" ng-change="ctrl.contactDetailsChange()">
                                    <tal-form-input-error show-server-error-for="requestCallbackForm.emailAddress"></tal-form-input-error>
                                </div>
                            </div>
                        </div>
                    </fieldset>


                    <fieldset class="submit-buttons text-center">
                        <button type="submit" id="requestCallback" class="tal-btn--primary"
                                ng-click="ctrl.onRequestCallback()"
                                ng-disabled="requestCallbackForm.$invalid">
                            Request call
                        </button>
                    </fieldset>

                </form>
            </tal-tab-pane>
        </tal-tabs>
    </main>
    <a href="" class="tal-modal-close" ng-click="closeThisDialog()"><span class="vh">Close Help Me Choose dialog.</span></a>
</div>