<div class="tal-customer-details">
    <div class="row intro">
        <div class="col-md-12">
            <p>
                Thank you for choosing TAL for your Life insurance cover.
                Once you have made your initial payment and agreed to the terms and conditions below you will be able to view your policy details online using TAL's Policy Manager.
            </p>

            <p class="intro-text">If you would like to pay for your insurance through your Superannuation plan please call us on 1300 209 088 to arrange that.</p>

            <p>Once you have registered with the Policy Manager you can update your payment details, add and remove beneficiaries and update your contact details.</p>

            <h2>Your details</h2>
        </div>
    </div>
    <div ng-form="purchaseRequest.personalDetails" class="row form-grid">
        <div class="col-md-12">
            <fieldset>
              <div class="form-group">
                    <div class="tal-col col-sm-3 col-xs-6">
                        <label for="title">Title</label>
                        <form-select 
                          tal-name="title"
                          required
                          tal-id="title"
                          placeholder="Please select"
                          ng-model="ctrl.personalDetails.title" 
                          tal-server-validate="purchaseRequest.personalDetails.title"
                          form-select-items="ctrl.titles">
                        </form-select>
                        

                       
                        <tal-form-input-error show-server-error-for="purchaseRequest.personalDetails.title"></tal-form-input-error>
                        <tal-form-input-error show-error-for="purchaseRequest.personalDetails.title" show-error-when="required">Title is required</tal-form-input-error>
                    </div>
                    <div class="tal-col col-sm-3 col-xs-6">
                        <label for="firstName">First Name</label>
                        <input type="text"
                               class="form-control"
                               id="firstName"
                               name="firstName"
                               placeholder="First name"
                               maxlength="200"
                               required
                               autocomplete="off"
                               ng-model="ctrl.personalDetails.firstName"
                               tal-server-validate="purchaseRequest.personalDetails.firstName">
                        <tal-form-input-error show-server-error-for="purchaseRequest.personalDetails.firstName"></tal-form-input-error>
                        <tal-form-input-error show-error-for="purchaseRequest.personalDetails.firstName" show-error-when="required">First name is required</tal-form-input-error>
                    </div>
                    <div class="tal-col col-sm-3 col-xs-6 col-xs-clear-left col-s-clear-none">
                        <label for="lastName">Last Name</label>
                        <input type="text"
                               class="form-control"
                               id="lastName"
                               name="lastName"
                               placeholder="Last name"
                               maxlength="200"
                               required
                               ng-model="ctrl.personalDetails.lastName"
                               tal-server-validate="purchaseRequest.personalDetails.lastName">
                        <tal-form-input-error show-server-error-for="purchaseRequest.personalDetails.lastName"></tal-form-input-error>
                        <tal-form-input-error show-error-for="purchaseRequest.personalDetails.lastName" show-error-when="required">First name is required</tal-form-input-error>
                    </div>
                    <div class="tal-col col-sm-3 col-xs-6">
                        <label for="dateOfBirth">Date of birth</label>
                        <form-dob ng-model="ctrl.personalDetails.dateOfBirth" required tal-name="dateOfBirth" tal-id="dateOfBirth" >
                        </form-dob>
                      
                        <tal-form-input-error show-server-error-for="purchaseRequest.personalDetails.dateOfBirth"></tal-form-input-error>
                    </div>
                    <div class="tal-col col-sm-6 col-xs-12 col-xs-clear-left">
                        <label for="residentialAddress">Residential address</label>
                        <input type="text"
                               class="form-control textbox-large"
                               id="residentialAddress"
                               name="residentialAddress"
                               placeholder="Residential address"
                               maxlength="200"
                               required
                               ng-model="ctrl.personalDetails.residentialAddress"
                               tal-server-validate="purchaseRequest.personalDetails.residentialAddress">
                        <tal-form-input-error show-server-error-for="purchaseRequest.personalDetails.residentialAddress"></tal-form-input-error>
                        <tal-form-input-error show-error-for="purchaseRequest.personalDetails.residentialAddress" show-error-when="required">Residential address is required</tal-form-input-error>
                    </div>
                    <div class="tal-col col-sm-3 col-xs-6 ">
                        <label for="suburb">Suburb</label>
                        <input type="text"
                               class="form-control textbox-large"
                               id="suburb"
                               name="suburb"
                               placeholder="Suburb"
                               maxlength="200"
                               required
                               ng-model="ctrl.personalDetails.suburb"
                               tal-server-validate="purchaseRequest.personalDetails.suburb">
                        <tal-form-input-error show-server-error-for="purchaseRequest.personalDetails.suburb"></tal-form-input-error>
                        <tal-form-input-error show-error-for="purchaseRequest.personalDetails.suburb" show-error-when="required">Suburb is required</tal-form-input-error>
                    </div>
                    <div class="tal-col col-sm-3 col-xs-6 ">
                        <label for="state">State</label>

                        <form-select 
                          tal-name="state"
                          required
                          placeholder="Please select"
                          tal-id="state"
                          ng-model="ctrl.personalDetails.state" 
                          tal-server-validate="personalDetailsRequest.state"
                          form-select-items="ctrl.states">
                        </form-select>

                        <tal-form-input-error show-server-error-for="purchaseRequest.personalDetails.state"></tal-form-input-error>
                        <tal-form-input-error show-error-for="purchaseRequest.personalDetails.state" show-error-when="required">State is required</tal-form-input-error>
                    </div>
                    <div class="tal-col col-sm-6 col-xs-6 col-xs-clear-left">
                        <label for="emailAddress">Email address</label>
                        <input type="text"
                               class="form-control"
                               id="emailAddress"
                               name="emailAddress"
                               placeholder="Email address"
                               maxlength="200"
                               required
                               ng-model="ctrl.personalDetails.emailAddress"
                               tal-server-validate="purchaseRequest.personalDetails.emailAddress">
                        <tal-form-input-error show-server-error-for="purchaseRequest.personalDetails.emailAddress"></tal-form-input-error>
                        <tal-form-input-error show-error-for="purchaseRequest.personalDetails.emailAddress" show-error-when="required">Email address is required</tal-form-input-error>
                    </div>
                    <div class="tal-col col-sm-3 col-xs-6">
                        <label for="phoneNumber">Phone number</label>
                        <input type="tel"
                               class="form-control"
                               id="phoneNumber"
                               name="phoneNumber"
                               placeholder="Phone number"
                               required
                               ui-mask="(+99) 9999 999 999"
                               ng-model="ctrl.personalDetails.phoneNumber"
                               maxlength="10"
                               tal-server-validate="purchaseRequest.personalDetails.phoneNumber">
                        <tal-form-input-error show-server-error-for="purchaseRequest.personalDetails.phoneNumber"></tal-form-input-error>
                        <tal-form-input-error show-error-for="purchaseRequest.personalDetails.phoneNumber" show-error-when="required">Phone number is required</tal-form-input-error>
                    </div>
                    <div class="tal-col col-sm-3 col-xs-6 col-xs-clear-left  col-s-clear-none ">
                        <label for="postcode">Postcode</label>
                        <input type="text"
                               class="form-control"
                               id="postcode"
                               name="postcode"
                               placeholder="Postcode"
                               required
                               ng-model="ctrl.personalDetails.postcode"
                               maxlength="4" whole-numbers-only="true"
                               tal-server-validate="purchaseRequest.personalDetails.postcode">
                        <tal-form-input-error show-server-error-for="purchaseRequest.personalDetails.postcode"></tal-form-input-error>
                        <tal-form-input-error show-error-for="purchaseRequest.personalDetails.postcode" show-error-when="required">Postcode is required</tal-form-input-error>
                    </div>
                    <div class="tal-col col-sm-6 col-xs-6 col-m-no-padding-left">
                        <label for="occupation">Occupation</label>
                        <input type="text"
                               class="form-control textbox-large"
                               id="occupation"
                               name="occupation"
                               placeholder=""
                               readonly
                               ng-model="ctrl.personalDetails.occupation">
                    </div>
              </div>
            </fieldset>
        </div>
    </div>
</div>
