<div class="tal-single-select-radio-button">

    <div ng-repeat="answer in ctrl.question.options">
        <form-radio name="radio_{{ctrl.question.id}}"
                    ng-if="answer.isAvailable"
                    value="answer.value"
                    class="tal-form-radio"
                    ng-model="ctrl.question.selectedAnswer"
                    on-option-clicked="ctrl.optionChanged(answer)"
                    tal-form-id="radio_{{ctrl.question.id}}_{{answer.id}}">
            {{answer.label}}
        </form-radio>
    </div>

</div>