<div class="tal-multi-select-question">

    <div class="answers-container">
        <div ng-repeat="row in ctrl.answersAsRows" class="row">
            <div ng-repeat="answer in row" class="col-xs-12 col-sm-4 tal-form-checkbox tal-form-checkbox-button">
                <input type="checkbox"
                       ng-model="answer.isSelected"
                       ng-change="ctrl.onAnswerStateChanged(answer)"
                       id="checkbox_{{ctrl.question.id}}_{{answer.id}}"
                        ng-disabled="ctrl.readOnly">
                </input>
                <label for="checkbox_{{ctrl.question.id}}_{{answer.id}}" class="answer-text">{{answer.text}}</label>
            </div>
        </div>
    </div>

    <div class="text-center underwriting-toolbar row text-center">
        <button type="button" class="btn btn-secondary"
                ng-disabled="!ctrl.isContinueEnabled() || ctrl.readOnly"
                ng-click="ctrl.onContinueClick()">
            Continue
        </button>
    </div>

</div>
