<div class="tal-search-container" ng-form="occupationSearchForm">
    <div class="form-group" show-errors tal-inline-submit="inlineSubmit()" disable-inline-submit="{{noInlineSubmit}}">
        <div class="input-group tal-form-compact">
            <input class="form-control"
                   id="{{talId || 'occupation'}}"
                   name="{{talId || 'occupation'}}"
                   type="text"
                   ng-model="occupation.searchPhrase"
                   placeholder="Begin typing to search"
                   ng-keydown="occupation.keydown ($event, -1)"
                   autocomplete="off"
                   tal-server-validate="{{serverValidate}}"
                   inline-submit-custom-trigger="occupation-changed" required>
            <div class="results" ng-show="occupation.searchAnswers.length > 0">
                <ul>
                    <li ng-repeat="answer in occupation.searchAnswers track by $index"
                        ng-click="occupation.onChange(answer)" ng-enter="occupation.onChange(answer)" focus-next="true"
                        tabindex="{{(100 + $index)}}" ng-keydown="occupation.keydown ($event, $index)">
                        <span class="occupation">{{answer.text}}</span>
                        <span class="industry" ng-bind-html="answer.parentText"></span>
                    </li>
                </ul>
            </div>
            <span class="tal-form-compact-label"
                  ng-class="{hidden: !occupation.selectedIndustry}"
                  ng-bind-html="occupation.selectedIndustry">
            </span>
        </div>
        <tal-form-input-error show-server-error-for="occupationSearchForm.occupation"></tal-form-input-error>
        <tal-form-input-error show-error-for="occupationSearchForm.occupation" show-error-when="required">Occupation is required</tal-form-input-error>
    </div>

</div>
