<section class="tal-section-basic-info">

	<header class="tal-layout-header">
		<div class="tal-layout-header-inner">
			<h2 class="h1">
				General information
			</h2>
		</div>
        <div class="tal-layout-header-bgd" style="background-image: url('./client/images/image_bgd02.png');"></div>
	</header>

	<main class="tal-layout-main row">

		<div class="col-md-6 tal-layout-main-left">
			<div class="tal-card tal-basic-card">
                <tal-card-body tal-cq="true">
                    <fieldset class="form-grid">
                        <div class="row form-group">
                            <div class="col-xs-4 tal-col">
                                <label for="dateOfBirth" class="control-label">Date of birth</label>
                            </div>
                            <div class="col-xs-8 tal-col">
                                <input id="dateOfBirth" type="tel" class="form-control" name="dateOfBirth"
                                       ng-model="ctrl.basicInfo.dateOfBirth"
                                       autocomplete="off"
                                       required
                                       tal-server-validate="basicInfoViewModel.dateOfBirth"
                                       tal-date tal-date-mask-format="DDMMYYYY"
                                       placeholder="DD/MM/YYYY"
                                       ui-mask="99/99/9999"
                                       maxlength="10">
                                <tal-form-input-error show-server-error-for="basicInfoForm.dateOfBirth"></tal-form-input-error>
                                <tal-form-input-error show-error-for="basicInfoForm.dateOfBirth" show-error-when="required">Date of birth is required</tal-form-input-error>
                                <tal-form-input-error show-error-for="basicInfoForm.dateOfBirth" show-error-when="invalidFormat">Date of birth is invalid</tal-form-input-error>

                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-4  tal-col">
                                <label for="gender0" class="label-radio control-label">Gender</label>
                            </div>
                            <div class="col-xs-8  tal-col">
                                    <form-radio
                                            ng-repeat="opt in ctrl.genderOptions"
                                            class="tal-form-radio-button"
                                            name="gender{{$index}}"
                                            value="opt.value"
                                            ng-model="ctrl.basicInfo.gender"
                                            tal-server-validate="basicInfoViewModel.gender"
                                            tal-form-id="gender{{$index}}" >
                                        {{opt.label}}
                                    </form-radio>
                            </div>
                        </div>
                        <tal-form-input-error show-server-error-for="basicInfoForm.gender"></tal-form-input-error>
                        <tal-form-input-error show-error-for="basicInfoForm.gender" show-error-when="required">Gender is required</tal-form-input-error>
                        <div class="row form-group">
                            <div class="col-xs-4 tal-col">
                                <label for="isSmoker0" class="label-radio control-label">Smoker</label>
                            </div>
                            <div class="col-xs-8 tal-col">
                                    <form-radio
                                            ng-repeat="opt in ctrl.smokerOptions" 
                                            class="tal-form-radio-button"
                                            name="isSmoker{{$index}}"
                                            value="opt.value"
                                            ng-model="ctrl.basicInfo.isSmoker"
                                            tal-server-validate="basicInfoViewModel.isSmoker"
                                            tal-form-id="isSmoker{{$index}}" >
                                        {{opt.label}}
                                    </form-radio>
                            </div>
                        </div>
                        <tal-form-input-error show-server-error-for="basicInfoForm.isSmoker"></tal-form-input-error>
                        <tal-form-input-error show-error-for="basicInfoForm.isSmoker" show-error-when="required">Smoker status is required</tal-form-input-error>
                        <div class="row form-group">
                            <div class="col-xs-4 tal-col">
                                <label for="annualIncome" class="control-label">Annual income</label>
                            </div>
                            <div class="col-xs-8 tal-col">
                                <span class="tal-form-amount tal-form-compact">
                                    <label class="tal-form-compact-label" for="annualIncome">$</label>
                                    <input  type="text" id="annualIncome"  name="annualIncome" required ng-model="ctrl.basicInfo.annualIncome"
                                            autocomplete="off"
                                            tal-currency-format whole-numbers-only="true"
                                            tal-server-validate="basicInfoViewModel.annualIncome"
                                            maxlength="9">
                                </span>
                                <tal-form-input-error show-server-error-for="basicInfoForm.annualIncome"></tal-form-input-error>
                                <tal-form-input-error show-error-for="basicInfoForm.annualIncome" show-error-when="required">Annual income is required</tal-form-input-error>
                            </div>
                        </div>
                    </fieldset>
                </tal-card-body>
            </div>
		</div>

		<div class="col-md-6 tal-layout-main-right">
			<div class="tal-hr tal-hr-grey tal-v-bottom-spacing-md"><span>PLEASE BE AWARE</span></div>

			<p>
				You have a Duty of Disclosure as required in the Life Insurance Act 1984 (Cth), which is set out in full in the Product Disclosure Statement. 
			</p>

			<a href="#" class='tal-link--strong tal-link-iblock tal-v-spacing-md'>
				Download the product disclosure statement
			</a>

			<p>
				Simply put; this means you must answer all of the following questions honestly and to the best of your knowledge.
			</p>

			<p>
				If you leave out information it may affect your ability to successfully claim in the future or may result in us cancelling your policy. Before you continue, you must agree to this requirement.
			</p>

			<div class="tal-form-checkbox-list tal-v-spacing-md">
				<form-checkbox tal-name="checkbox-agree" tal-id="checkbox-agree" class="tal-form-checkbox" ng-model="vm.agree">
					I agree to the Duty of Disclosure
				</form-checkbox>
			</div>

			<button type="submit" class="tal-btn--primary" angular-ripple>
			    Get a preliminary quote
			</button>
		</div>

	</main>

    <aside>
        <h2>Overall view layput</h2>
        <p>This layout structure controls the overall responsive behavior, as well as details such as header height and content/header overlap. For details of specific content regions, refer to the markup.</p>
        <div hljs hljs-language="html" hljs-include="'/client/styleguide/sections/fedBasicInfo/fedBasicScaffold.html'"></div>
    </aside>

</section>