@using TAL.QuoteAndApply.Analytics.Models

@{
    ViewBag.Title = "Confirmation";
    ViewBag.AppName = "Exit";
    ViewBag.hideNavigation = "true";
    ViewBag.HideMobileNavigation = "true";
    ViewBag.hideSaveButton = true;
    ViewBag.hideClickToChat = "true";
    ViewBag.PageCssClass = "page-confirmation";
}

@section Analytics
{
    @{
        Html.RenderAction("Header", "Analytics", new { model = new AnalyticsPageModel("ConfirmationPage", ViewBag.Title, "Quote", DateTime.Now, DateTime.Now) });
    }
}

<section class="tal-section-confirmation">
    @{
        Html.RenderPartial("~/Views/Shared/_PageHeader.cshtml");
    }
    <div class="container">
        <main class="tal-layout-main row">

            <p>Thank you for letting TAL help protect what matters most in This Australian Life.</p>

            <p>Look out for your welcome pack, which will soon arrive in the post. The pack details your policy, and outlines how to shape your insurance so it always matches your personal situation.</p>

            <p>
                <strong>Your reference number is @ViewBag.QuoteReference.</strong>
            </p>

            <p>
                If you wish to discuss your policy, please don't hesitate to get in touch by calling&nbsp;<tal-confirmation-phone-link></tal-confirmation-phone-link>
            </p>

            <p>We are here to assist you and answer any of your questions.</p>

            <p>The TAL team</p>

        </main>
    </div>
</section>


