<div class="row form_container">
	<div class="col-md-3">
		<label for="inputLongLabel">Long label for input</label>
	</div>
	<div class="col-md-9">
		<input id="inputLongLabel" type="text" ng-model="data.value">
	</div>
</div>
<div class="row form_container">
  <div class="col-md-3">
    <label for="tel">Phone</label>
  </div>
  <div class="col-md-9">
    <input id="tel" type="tel" ui-mask="(+99) 9999 999 999" ng-model="data.test" ui-mask-placeholder ui-mask-placeholder-char="0">
  </div>
</div>

<div class="row form_container">
  <div class="col-md-3">
    <label for="email">Email</label>
  </div>
  <div class="col-md-9">
    <input id="email" type="email" ng-model="data.test">
  </div>
</div>

<div class="row form_container">
  <div class="col-md-3">
    <label for="url">Url</label>
  </div>
  <div class="col-md-9">
    <input id="url" type="url" ng-model="data.test">
  </div>
</div>                            