
<div class="row form_container">
  <div class="col-md-3">
    <label for="input1">Compact input</label>
  </div>
  <div class="col-md-9">
    <p>
      <span class="tal-form-compact">
        <label class="tal-form-compact-label" for="input1">Label</label>
        <input id="input1" type="text" ng-model="data.test">
      </span>
    </p>
    <p>
      <span class="tal-form-compact">
        <label class="tal-form-compact-label" for="input2">Label</label>
        <input id="input2" type="text" ng-model="data.test">
      </span>
    </p>
  </div>
</div>