<div class="row form_container">
	<div class="col-xs-3">
		<label for="amount1">Money</label>
	</div>
	<div class="col-xs-9">
		<span class="tal-form-amount tal-form-compact">
      <label class="tal-form-compact-label" for="amount1">$</label>
			<input  id="amount1" type="text" ng-model="data.value">
		</span>
    <p>
      <span class="tal-form-amount tal-form-compact">
        <label class="tal-form-compact-label" for="amount2">$</label>
        <input id="amount2" type="text" ng-model="data.test">
      </span>
    </p>
	</div>

  
</div>