<form-radio
	class="tal-form-radio-box tal-form-radio-tile"
	name="testRadio3"
	value="'opt1'"
	ng-model="data.value2"
	on-option-change="data.value2 = 'opt1'"
	tal-form-id="radio_button2-1"
>
    <h6 class="header">Stepped premium:</h6>
    <tal-figure value="158.20" type="review" class="content"></tal-figure>
    <div class="footer"><a href="#" class="tal-link--strong">Learn more</a></div>
</form-radio>
<form-radio
	class="tal-form-radio-box tal-form-radio-tile"
	name="testRadio3"
	value="'opt2'"
	ng-model="data.value2"
	on-option-change="data.value2 = 'opt2'"
	tal-form-id="radio_button2-2"
>
	<h6 class="header">Level premium:</h6>
    <tal-figure value="158.20" type="review" class="content"></tal-figure>
    <div class="footer"><a href="#" class="tal-link--strong">Learn more</a></div>
  
</form-radio>