<div class="premium-frequency form-group" show-errors ng-form="premiumFrequencyForm" cg-busy="loadingPromise" read-only-form="readOnly">
    <label class="control-label" for="premiumFrequency">Premium Frequency (will apply to all risks and plans)
        <span class="fa fa-info-circle info-icon"></span>
    </label>
    <select id="premiumFrequency"
            name="premiumFrequency"
            ng-model="premiumFrequency"
            ng-options="f for f in premiumFrequencies"
            class="form-control"
            ng-change="premiumFrequencyChanged()">
        <option value="" disabled selected>Please select</option>
    </select>
    <tal-form-error ng-form-model="premiumFrequencyForm.premiumFrequency"></tal-form-error>
</div>