@using TAL.QuoteAndApply.Analytics.Models

@{
    ViewBag.Title = "Confirmation";
    ViewBag.AppName = "Exit";
    ViewBag.hideNavigation = "true";
    ViewBag.hideSaveButton = true;
    ViewBag.HideMobileNavigation = "true";
}

@section Analytics
{
    @{
        Html.RenderAction("Header", "Analytics", new { model = new AnalyticsPageModel("QuoteReferPage", ViewBag.Title, "Quote", DateTime.Now, DateTime.Now) });
    }
}

<section class="tal-section-confirmation">
    @{
        Html.RenderPartial("~/Views/Shared/_PageHeader.cshtml");
    }

    <div class="container">
        <main class="tal-layout-main row">

            <p> Thank you for completing your quote </p>

            <p> Based on the information you've provided, it looks like we need to contact you for more information. We'll be in touch shortly.</p>

            <p>
                <strong> Your reference number is @ViewBag.QuoteReference.</strong>
            </p>

            <p>
                In the meantime, if you've got any questions then please feel free to get in touch by calling <tal-phone-number-link></tal-phone-number-link><tal-chat-to-agent-link class="chat-help-text" prefix="or via"> Chat</tal-chat-to-agent-link>. It's our job to help you.
            </p>

            <p>The TAL team</p>

        </main>
    </div>
</section>
