<div class="tal-date-of-birth-question">
    <form name="dateOfBirthForm" novalidate>
        <fieldset>
            <tal-dob-with-age warnings-enabled="false" section="section" label="Date Of Birth *"
                              ng-model="ctrl.dateOfBirth"
                              read-only="ctrl.readOnly"></tal-dob-with-age>
        </fieldset>

        <fieldset class="underwriting-toolbar submit-buttons text-center">
            <button type="button" class="btn btn-secondary"
                    ng-disabled="dateOfBirthForm.$invalid || ctrl.readOnly"
                    ng-click="ctrl.onContinueClick()">
                Continue
            </button>
        </fieldset>
    </form>

</div>