<article>
	<header>
		<h1>Buttons</h1>
	</header>

	<section class="sg__card">
		<header class="sg__card__header">
			<h2 class="h3">Primary button</h2>
		</header>
		<tal-documentation
			index="data.index"
			include-inverse="true"
			tal-documentation-path="'/client/styleguide/sections/buttons/partials/primaryButton.html'">
		</tal-documentation>
	</section>

	<section class="sg__card">
		<header class="sg__card__header">
			<h2 class="h3">Primary button - major</h2>
		</header>
		<tal-documentation
			index="data.index"
			include-inverse="true"
			tal-documentation-path="'/client/styleguide/sections/buttons/partials/primaryMajorButton.html'">
		</tal-documentation>
	</section>

	<section class="sg__card">
		<header class="sg__card__header">
			<h2 class="h3">Primary button - disabled</h2>
		</header>
		<tal-documentation
			index="data.index"
			include-inverse="true"
			tal-documentation-path="'/client/styleguide/sections/buttons/partials/primaryDisabledButton.html'">	
		</tal-documentation>
	</section>

	<section class="sg__card">
		<header class="sg__card__header">
			<h2 class="h3">Secondary button</h2>
		</header>
		<tal-documentation
			index="data.index"
			include-inverse="true"
			tal-documentation-path="'/client/styleguide/sections/buttons/partials/secondaryButton.html'">	
		</tal-documentation>
	</section>
	
	<section class="sg__card">
		<header class="sg__card__header">
			<h2 class="h3">Secondary button - disabled</h2>
		</header>
		<tal-documentation
			index="data.index"
			include-inverse="true"
			tal-documentation-path="'/client/styleguide/sections/buttons/partials/secondaryDisabledButton.html'">	
		</tal-documentation>
	</section>

	<section class="sg__card">
		<header class="sg__card__header">
			<h2 class="h3">Basic links</h2>
		</header>
		<tal-documentation
			index="data.index"
			include-inverse="true"
			tal-documentation-path="'/client/styleguide/sections/buttons/partials/links.html'">	
		</tal-documentation>
	</section>
	
	<section class="sg__card">
		<h2 class="h3">Block links</h2>
		<tal-documentation
			index="data.index"
			include-inverse="true"
			tal-documentation-path="'/client/styleguide/sections/buttons/partials/link-img.html'">	
		</tal-documentation>
	</section>

	<section class="sg__card">
		<h2 class="h3">Arrowed links</h2>
		<tal-documentation
			index="data.index"
			include-inverse="true"
			tal-documentation-path="'/client/styleguide/sections/buttons/partials/link-arrow.html'">	
		</tal-documentation>
	</section>

	<section class="sg__card">
		<h2 class="h3">Atomic button styles</h2>

		<p>These are the base combinations of text, background and border which can be combined into whole, intractable buttons.</p>

		<div class="sg__card__example">
			<button class="sg-inline-spacing demo--button-style-{{n}}" ng-repeat="n in [1,2,3,4,5,6,7,8,9,10]">Button Style {{n}}</button>
		</div>

		<div class="sg__card__example-inverse inverse-colors">
			<button class="sg-inline-spacing styleguide-vpadding demo--button-style-{{n}}" ng-repeat="n in [10,11,12,13,14,15]">Button Style {{n}}</button>
		</div>
	</section>
</article>