<div class="login-form" cg-busy="ctrl.loadingPromise">
    <div class="container" ng-if="!ctrl.brandSelectionVisible">
        <div class="row">
            <div class="logo col-xs-6">
                <img src="{{ctrl.talLogo}}" /> <span class="sitename">Sales Portal</span>
            </div>
        </div>

        <form class="login-fields clearfix" name="loginForm">

            <div role="alert" ng-if="ctrl.sessionTimeout">
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i>Your session has expired.</span>
                </div>
            </div>

            <div role="alert" ng-if="ctrl.errorMessage">
                <div class="alert alert-warning">
                    <i class="fa fa-warning"></i><span ng-bind="ctrl.errorMessage"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="userName" class="control-label">User name</label>
                    <div class="form-group" show-errors>
                        <input type="text"
                               name="userName"
                               id="userName"
                               class="form-control"
                               ng-model="ctrl.vm.userName"
                               tal-server-validate="loginRequest.userName"
                               maxlength="200"/>
                        <tal-form-error ng-form-model="loginForm.userName"></tal-form-error>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" show-errors>
                        <label for="password" class="control-label">Password</label>
                        <input type="password"
                               name="password"
                               id="password"
                               class="form-control"
                               ng-model="ctrl.vm.password"
                               tal-server-validate="loginRequest.password"
                               maxlength="200"/>
                        <tal-form-error ng-form-model="loginForm.password"></tal-form-error>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="button-area pull-left">
                        <input type="submit" class="btn btn-primary" value="Login" ng-click="ctrl.submitUserLogin()"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 windows-login-link text-center">
                    <a ng-click="ctrl.submitWindowsAuthLogin()">Log in using your Windows Account</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center" ng-if="ctrl.showNoBrandsAvailError">
                    <i class="fa fa-exclamation-triangle has-error"></i>
                    <span class="has-error">You have no permissions to any brands. Please raise a service request to be added to any required brand user groups.</span>
                </div>
            </div>
        </form>
    </div>
    <div class="container" ng-if="ctrl.brandSelectionVisible">
        <div class="row">
            <div class="col-xs-12">
                <span class="sitename">Select Brand</span>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left brand-btn" ng-repeat="brand in ctrl.brandNames">
                    <button type="submit" class="btn btn-primary" value="{{brand.name}}" ng-click="ctrl.saveSelectedBrandAndRedirect(brand.name)">
                        <img height="40" src="{{brand.image}}" alt="{{brand.name}}-logo" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
