<div id="credit-card-form" class="form-section form-section-payment" ng-form="creditCardPayment" cg-busy="loadingPromise" read-only-form="policyIsReadonlyOrPaymentDetailsReadOnly()">
    <div class="container-fluid">
        <p ng-show="hasPaymentServerError()" class="tal-form-error">{{serverResponse.data}}</p>
        <hr/>
        <div class="form-group form-title row">
            <label class="col-xs-3">Payment Amount:</label>
            <div class="col-xs-9">
                <label ng-bind="paymentModel.amount | currency:'$':2"></label>
            </div>
        </div>
        <p>Customers may elect to pay for their premiums via their Credit Card. All benefits are applicable.</p>
        <hr/>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group" show-errors>
                    <label class="control-label">Card Type</label>
                    <select id="cardType" name="cardType" ng-change="setPaymentsChanged()"
                            class="form-control"
                            ng-model="paymentModel.cardType"
                            tal-server-validate="creditCardPayment.cardType">
                        <option value="Unknown" disabled selected>Select card type</option>
                        <option ng-selected="paymentModel.cardType == item"
                                ng-repeat="item in cardtypes"
                                ng-value="item">
                            {{item}}
                        </option>
                    </select>

                    <tal-form-error ng-form-model="creditCardPayment.cardType"></tal-form-error>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group" show-errors>
                    <label class="control-label">Name on Card</label>
                    <input type="text"
                           class="form-control"
                           id="nameOnCard"
                           name="nameOnCard"
                           placeholder="Enter CardHolder's Name"
                           ng-model="paymentModel.nameOnCard"
                           ng-change="setPaymentsChanged()"
                           tal-server-validate="creditCardPayment.nameOnCard">

                    <tal-form-error ng-form-model="creditCardPayment.nameOnCard"></tal-form-error>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group" show-errors>
                    <label class="control-label">Card Number</label>
                    <input type="text"
                           class="form-control"
                           id="cardNumber"
                           name="cardNumber"
                           maxlength="16"
                           placeholder="Enter Card Number"
                           ng-model="paymentModel.cardNumber"
                           ng-change="setPaymentsChanged()"
                           tal-server-validate="creditCardPayment.cardNumber">

                    <tal-form-error ng-form-model="creditCardPayment.cardNumber"></tal-form-error>
                </div>
            </div>
        </div>

        <!--Expiry date-->
        <div class="row expirydate">
            <div class="col-sm-4">
                <div class="form-group" show-errors>
                    <div class="month">
                        <label class="control-label">Expiry Date</label>
                        <select class="form-control"
                                id="expiryMonth"
                                name="expiryMonth"
                                ng-model="paymentModel.expiryMonth"
                                ng-change="setPaymentsChanged()"
                                tal-server-validate="creditCardPayment.expiryMonth">
                            <option value="" disabled selected>{{expiryDateDefault.month}}</option>
                            <option ng-selected="paymentModel.expiryMonth == item.value"
                                    ng-disabled="!item.displayOption"
                                    ng-repeat="item in months track by item.value"
                                    ng-value="item.value">
                                {{item.text}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label class="control-label">&nbsp;</label>
                        <select class="form-control"
                                id="expiryYear"
                                name="expiryYear"
                                ng-model="paymentModel.expiryYear"
                                tal-server-validate="creditCardPayment.expiryYear"
                                ng-change="changeYear()">
                            <option value="" disabled selected>{{expiryDateDefault.year}}</option>
                            <option ng-selected="paymentModel.expiryYear == item.value"
                                    ng-repeat="item in years track by item.value"
                                    ng-value="item.value">
                                {{item.text}}
                            </option>
                        </select>

                        <tal-form-error ng-form-model="creditCardPayment.expiryMonth"></tal-form-error>
                        <tal-form-error ng-form-model="creditCardPayment.expiryYear"></tal-form-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bottom-section">
            <div class="col-sm-12" ng-hide="paymentModel.isValidForInforce">
                <button id="btnConfirm" type="button" class="btn btn-tertiary" ng-click="validateForm()" ng-disabled="readOnly">Confirm Payment Details</button>
            </div>
            <div class="col-sm-12" ng-show="paymentModel.isValidForInforce">
                <button id="btnEdit" type="button" class="btn btn-tertiary" ng-click="editForm()" ng-disabled="readOnly">Edit Payment Details</button>
            </div>
        </div>
    </div>
</div>