<div class="tal-multi-select-checkboxes-question">

    <div class="answers-container">
        <div ng-repeat="row in ctrl.answersAsRows" class="row">
            <div ng-repeat="answer in row"
                 class="answer col-sm-4">
                <form-checkbox tal-name="checkbox_{{ctrl.question.id}}_{{answer.id}}"
                               class="tal-form-checkbox"
                               ng-model="answer.isSelected"
                               state-change="ctrl.onAnswerStateChanged(answer)"
                               tal-id="checkbox_{{ctrl.question.id}}_{{answer.id}}">
                    {{answer.text}}
                </form-checkbox>
            </div>

        </div>
    </div>

    <div class="text-center underwriting-toolbar row text-center">
        <button type="button" class="tal-btn--primary"
                ng-disabled="!ctrl.isContinueEnabled()"
                ng-click="ctrl.onContinueClick()">Continue
        </button>
    </div>

</div>
