<div class="container-fluid" ng-form="planVariablesForm" read-only-form="planDetail.disabled">
    <div class="row">
        <div class="col-sm-4" ng-show="linkedToCpiSupported">
            <div class="form-group" show-errors>
                <label class="control-label" for="{{planDetail.code + 'PlanCpiSelect'}}">Inflation Protection
                    <span class="fa fa-info-circle info-icon"></span>
                    <div><span class="small"></span><br/></div>
                </label>
                <select class="form-control"
                        name="linkedToCpi"
                        id="{{planDetail.code + 'PlanCpiSelect'}}"
                        tal-server-validate="{{::planDetail.code.toLowerCase() + 'LinkedToCpiRequired'}}"
                        ng-change="submitPlanVariables()"
                        ng-options="boolToStr(item) for item in [true, false]"
                        ng-model="planDetail.linkedToCpi">
                    <option value="" disabled selected>Please select</option>
                </select>
                <tal-form-error show-error-for="planVariablesForm.linkedToCpi" show-error-when="required">Inflation Protection selection is required.</tal-form-error>
                <tal-form-error ng-form-model="planVariablesForm.linkedToCpi"></tal-form-error>
            </div>
        </div>
        <div class="col-sm-4" ng-show="premiumTypeSupported">
            <tal-premium-type update-plan="submitPlanVariables()" plan-detail="planDetail"></tal-premium-type>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4" ng-show="waitingPeriodSupported">
            <div class="form-group" show-errors>
                <label class="control-label" for="{{planDetail.code + 'PlanWaitingPeriodSelect'}}">Waiting Period
                    <span class="fa fa-info-circle info-icon"></span>
                    <div><span class="small"></span><br/></div>
                </label>
                <select class="form-control"
                        name="waitingPeriod"
                        id="{{planDetail.code + 'PlanWaitingPeriodSelect'}}"
                        tal-server-validate="{{::planDetail.code.toLowerCase() + 'waitingPeriod'}}"
                        ng-change="submitPlanVariables()"
                        ng-options="w.value as w.name for w in waitingPeriods"
                        ng-model="planDetail.waitingPeriod">
                    <option value="" disabled selected>Please select</option>
                </select>
                <tal-form-error show-error-for="planVariablesForm.waitingPeriod" show-error-when="required">Waiting Period selection is required.</tal-form-error>
                <tal-form-error ng-form-model="planVariablesForm.waitingPeriod"></tal-form-error>
            </div>
        </div>
        <div class="col-sm-4" ng-show="benefitPeriodSupported">
            <div class="form-group" show-errors>
                <label class="control-label" for="{{planDetail.code + 'PlanBenefitPeriodSelect'}}">Benefit Period
                    <span class="fa fa-info-circle info-icon"></span>
                    <div><span class="small"></span><br/></div>
                </label>
                <select class="form-control"
                        name="benefitPeriod"
                        id="{{planDetail.code + 'PlanBenefitPeriodSelect'}}"
                        tal-server-validate="{{::planDetail.code.toLowerCase() + 'BenefitPeriod'}}"
                        ng-change="submitPlanVariables()"
                        ng-options="w.value as w.name for w in benefitPeriods"
                        ng-model="planDetail.benefitPeriod">
                    <option value="" disabled selected>Please select</option>
                </select>
                <tal-form-error show-error-for="planVariablesForm.benefitPeriod" show-error-when="required">Benefit Period selection is required.</tal-form-error>
                <tal-form-error ng-form-model="planVariablesForm.benefitPeriod"></tal-form-error>
            </div>
        </div>
        <div ng-class="{'col-sm-4': !riderVariables, 'col-sm-12': riderVariables}" ng-show="occupationDefinitionSupported">
            <div class="form-group" show-errors>
                <label class="control-label" for="{{planDetail.code + 'OccupationDefinitionSelect'}}">TPD Definition
                    <span class="fa fa-info-circle info-icon"></span>
                    <div><span class="small"></span><br/></div>
                </label>
                <select class="form-control"
                        name="tpdDefinition"
                        id="{{planDetail.code + 'OccupationDefinitionSelect'}}"
                        tal-server-validate="{{::planDetail.code.toLowerCase() + 'OccupationDefinitionSelect'}}"
                        ng-change="submitPlanVariables()"
                        ng-options="w.value as w.name for w in occupationDefinitionOptions"
                        ng-model="planDetail.occupationDefinition">
                </select>
                <tal-form-error show-error-for="planVariablesForm.tpdDefinition" show-error-when="required">{{planDetail.code}} definition selection is required.</tal-form-error>
                <tal-form-error ng-form-model="planVariablesForm.tpdDefinition"></tal-form-error>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4" ng-repeat="option in planDetail.options">
            <tal-option-select ng-if="planDetail.planType === 'Cover'" plan-model="planDetail" option-has-changed="optionHasChanged()" plan-index="planIndex" option-index="$index" option-model="option" availability="availability" is-rider="isRider"></tal-option-select>
        </div>
    </div>
</div>