<div class="tal-underwriter-filter" cg-busy="loadingPromise">
  <div class="container-fluid">
    <uib-accordion close-others="false" class="form-panel">
      <uib-accordion-group class="accordion-group-padding" is-open="filterOpen">
        <uib-accordion-heading class="panel-heading" id="referralFilterAccordion">
          <div class="col-md-1"><i class="fa fa-lg minimise" ng-class="{'fa-minus-square': filterOpen, 'fa-plus-square': !filterOpen}"></i></div>
          <div class="col-md-11">Filter results</div>
        </uib-accordion-heading>
        <div class="row" ng-show="filterOpen">
          <div class="col-md-6">
            <h3>Date Range:</h3>
            <div class="date-range">
              <div class="row">
                <div class="col-md-6">
                  <p class="input-group">
                    Start Date
                    <input type="tel" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="submitModel.startDate" disabled is-open="openStartModel.flag" id="startDateInput"
                           min-date="'2010-01-02'" max-date="dt" ng-required="true" close-text="Close" show-weeks="false" show-button-bar="false" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openStartDate($event, 'flag')"><i class="fa fa-calendar"></i></button>
                      </span>
                  </p>
                </div>
                <div class="col-md-6">
                  <p class="input-group">
                    End Date
                      <input type="tel" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="submitModel.endDate" disabled is-open="openEndModel.flag" id="endDateCheckbox"
                             min-date="'2010-01-02'" max-date="dt" ng-required="true" close-text="Close" show-weeks="false" show-button-bar="false"
                             ng-blur="update()" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="openEndDate($event, 'flag')"><i class="fa fa-calendar"></i></button>
                        </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <h3>Plan Type:</h3>
            <div class="plan-type">
              <div ng-repeat="plan in filterModel.planTypes">
                <label class="control-label">
                  <input type="checkbox"
                         id="{{plan.code + 'FilterCheckbox'}}"
                         name="plan.code"
                         ng-model="submitModel[plan.code]"/>
                  <span for="plan.code" ng-bind="plan.name"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <h3>Referral State:</h3>
              <div class="plan-type">
                <div ng-repeat="state in filterModel.referralStatuses">
                  <label class="control-label">
                    <input type="checkbox"
                           id="{{state.code + 'FilterCheckbox'}}"
                           name="state.code"
                           ng-model="submitModel[state.code]"/>
                    <span for="state.code" ng-bind="state.name"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <h3>Assigned To:</h3>

              <select class="form-control filter-select" id="assignedTo" ng-model="submitModel.assignedTo" ng-options="status for status in filterModel.assignedTo">
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
      </uib-accordion-group>
    </uib-accordion>
    <hr/>
    <div ng-show="searchPerformed">
      <div class="referrals-results">
        <table class="table table-striped referrals-results-table" ng-show="hasReferralResults()">
          <tr>
            <th>Quote ID</th>
              <th>Client Name</th>
              <th>Brand</th>
              <th>Referrer Name</th>
              <th>Referred Date/Time</th>
              <th>State</th>
              <th>Assign To</th>
              <th></th>
            </tr>
            <tr ng-repeat="referral in searchResults | orderBy:'createdTS':true | talReferralsFilter:submitModel as filteredReferrals"
                id="{{referral.quoteReferenceNumber + 'QuoteBtn'}}">
              <td ng-bind="referral.quoteReferenceNumber"></td>
              <td class="clientName" ng-bind="referral.clientName"></td>
              <td ng-bind="referral.brand"></td>
              <td ng-bind="referral.createdBy"></td>
              <td ng-bind="referral.createdTS | date:'dd/MM/yyyy HH:mm:ss'"></td>
              <td ng-bind="lookupReferralState(referral.state)"></td>
              <td>
                <select class="form-control"under
                        ng-disabled="referral.disabled"
                        id="{{referral.quoteReferenceNumber + 'AssignedToSelect'}}"
                        ng-model="referral.assignedTo"
                        ng-options="status for status in filterModel.assignedTo"
                        ng-change="updateAssignedTo(referral.quoteReferenceNumber, referral.assignedTo)"
                        tal-input-propagation>
                  <option value=""></option>
                </select>
              </td>
              <td>
                <button class="btn btn-open-action" ng-click="goToQuote(referral.quoteReferenceNumber)">Open</button>
              </td>
            </tr>
          </table>
          <div class="no-results" ng-show="!hasReferralResults()">
            0 Results found
          </div>
      </div>
    </div>
  </div>
</div>
